/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.p-breadcrumb {
  border: none !important;
  background: none !important;
}

.breadcrumbDropdown,
.breadcrumbEllipsis {
  vertical-align: unset !important;
  align-items: center !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  margin-left: -0.2rem !important;
  margin-right: -0.2rem !important;
}
.breadcrumbEllipsis:hover {
  background-color: var(--primary-color) !important;
}

.commonElementName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 11rem;
  align-items: center;
}

.breadcrumbElementName,
.searchOrConsultActiveClass {
  color: var(--primary-color);
}

.lastItemElementName {
  color: var(--primary-text-color) !important;
  cursor: default;
}

.primary-color {
  color: var(--primary-color);
}
