/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.p-button-icon {
  padding-right: 4%;
}

.create-workspace {
  background-color: $yellow;
  border-radius: 20px;
  border: none;
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: right;
  margin-top: 1em;
}

.info-button {
  border-radius: 4rem;
  border: none;
  margin-left: 10px;
  font-size: 1.2rem;
}

.p-hidden-accessible {
  visibility: visible;
}

.newMenu {
  float: right;
}

.simple {
  border: none;
  background-color: inherit;
  color: var(--primary-color);
}
.disabled {
  color: lightGray;
}
.p-disabled,
.p-component:disabled {
  opacity: 0.3 !important;
}
.loadingFile {
  display: block !important;
}

.nouvel-espace {
  min-width: 15rem;
}

.action-buttons {
  display: flex;
}

#collaboraIbutton {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 0.35rem;
}

.listView {
  min-width: 5rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  & button {
    background: none;
    color: var(--primary-color);
    border: none;
    margin: 0;
  }
  & .selected {
    background-color: var(--primary-color);
    color: white;
  }
}
.mobile_button {
  display: flex;
}

@media screen and (width >= 48em) {
  .mobile_button {
    display: none !important;
  }
}

/* mobile version */
@media (width < 48em) {
  .classic_button {
    display: none !important;
  }
}
