/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */
@import "../_variables";

.role-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.3px;

  &.role-siteconsumer {
    background: $lightgreen;
    color: $darkgreen;
  }

  &.role-sitecollaborator {
    background: $lightorange;
    color: $darkorange;
  }

  &.role-sitecontributor {
    background: $lightpurple;
    color: $darkpurple;
  }

  &.role-sitemanager {
    background: $lightblue;
    color: $darkblue;
  }

  &.role-owner {
    background: $lightpurple;
    color: $darkpurple;
  }
}

.visibility-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.3px;
  margin-right: 2%;

  &.visibility-public {
    background: $lightgreen;
    color: $darkgreen;
  }

  &.visibility-moderated {
    background: $lightorange;
    color: $darkorange;
  }

  &.visibility-private {
    background: $lightpurple;
    color: $darkpurple;
  }
}

.delib-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.3px;
  background: $lightpink;
  color: $darkpink;
}

.workspace-card {
  margin: 1.5rem 1.5rem 0 0;
  min-width: 18rem;
  max-width: 29rem;
  border-bottom: solid 3px var(--primary-color);
  display: flex;
  flex-basis: 18rem;
  flex-grow: 1 !important;
  flex-direction: column;
  background-color: var(--surface-ground);
}

.card-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-basis: 9rem;
}
.card-text {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}
.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  padding-bottom: 0.2rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 13rem;
  cursor: pointer;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}
.card-menu {
  background-color: white;
  padding: 12px 12px;
  margin: auto;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 150px !important;
}

.p-menuitem-icon {
  padding-right: 0.4rem;
}

.folder-items .p-checkbox {
  margin-left: -0.1rem;
  display: inline-block;
}

.folder-name {
  margin-top: auto;
  margin-bottom: auto !important;
  padding-left: 1rem !important;
}
.folder-card {
  margin: {
    top: 1.5rem;
    right: 1.5rem;
    bottom: 0;
    left: 1.5rem;
  }
  height: 5.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & .card-title {
    flex-grow: 1;
    flex-basis: 160px;
    font-size: 1rem;
    padding: 0;
  }
  & .folder-items {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0.3rem;

    & a {
      margin-left: 1rem;
      color: #495057;
    }
    & .folder-checkBox {
      flex-grow: 0;
      margin: {
        top: 0.1rem;
      }
    }
    & .folder-title {
      flex-grow: 5;
      margin: {
        top: 0.3rem;
        right: 0.3rem;
      }

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & .folder-actions {
      flex-grow: 0;
    }

    .p-button {
      padding: 0;
    }
  }

  .folder-description {
    flex-grow: 7;
    margin: {
      top: 0.1rem;
      left: 0.3rem;
      right: 0.5rem;
    }
    color: gray;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .col-fixed {
    display: inline-flex;
    min-width: 8rem;
  }
  .center-item {
    margin-top: auto;
    margin-bottom: auto;
  }
  .p-checkbox-icon {
    margin: 0 !important;
  }
}

.description,
.title {
  margin-top: 0.6rem;
  font-size: 0.85em;
}

.description {
  color: var(--surface-700);
}

.title {
  color: var(--primary-color);
}

a.description {
  color: gray !important;
}

figcaption {
  text-align: end;
}
