/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.p-datatable .p-datatable-header {
  background: none;
  border: none;
  padding: 0 1rem;
}
.p-datatable .p-datatable-thead > tr > th {
  background: none;
}
.icone img {
  height: auto;
  width: 3rem;
}
.icone {
  height: auto;
  width: 3rem;
  margin: auto;
}

.datatable-buttons {
  display: flex;
  justify-content: flex-end;
}

.p-column-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3rem;
}

.file-items {
  & a {
    color: var(--text-color);
    overflow-wrap: break-word;
    min-width: 20vw;
  }
}
