/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.workspaceBadge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.3px;
  background: $lightgreen;
  color: $darkgreen;
}

.userHomeBadge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.3px;
  background: $lightgray;
  color: $darkgray;
}

.searchTitle {
  align-items: center;
  color: var(--text-color) !important;

  display: grid;
  & a {
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-color) !important;
    font-size: 1.6rem;
  }
}
.searchPreview {
  border: 1px solid var(--gray-300);
  display: inline-block;
}
.searchPreviewDiv {
  padding: 1rem;
}
.searchIcon {
  min-height: 8rem;
  width: 6rem;
  height: auto;
}
.searchIconList {
  & img {
    width: 7rem;
  }

  max-height: 6rem;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 70%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.searchIconList:hover {
  max-height: 10rem !important;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 100%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.searchTitleList {
  & a {
    font-size: 1.6rem;
    color: var(--text-color);
  }
}
.searchFilenameList {
  & a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3rem;
    color: var(--primary-color);
  }
  margin-bottom: 0.32rem;
}
.searchDescriptionList {
  font-size: 1.1rem;
  color: var(--primary-text-color);
}
.p-paginator {
  border: 0 !important;
}
