/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.group-right {
  float: right;
}

.align {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  justify-content: right;
}

.responsive-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item {
  display: block;
  padding: 0.1rem 0 0.1rem 1rem !important;
}

.radio-display {
  padding: 1rem 0 0 0.1rem !important;
}

.search-tags {
  display: inline-flex;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.icon {
  padding-right: 0.1rem;
  padding-left: 0.1rem;
}

.search-filtre {
  padding: 0.1rem 1rem 0.1rem 1rem !important;
  margin: auto;
  color: var(--primary-color);
}

.mobile_zone {
  display: none;
}

.page-vide {
  display: grid;
  vertical-align: middle;
  text-align: center;
  & button {
    margin: 1rem 0.5rem 1rem 2rem;
  }
  & img {
    margin-bottom: 2rem;
  }
}

.drag {
  display: flex;
  min-height: 25rem;
  border: #3d8c40 dashed thin;
  & p {
    text-align: center;
    margin: auto;
    font-size: 20px;
  }
}

.tag-version {
  margin: 1rem;
}

.folder-content {
  overflow-x: hidden;
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.folder-content::-webkit-scrollbar {
  display: none;
}

#zoneInformation {
  overflow-x: scroll;
  overflow-y: visible;
  min-width: 22rem;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#zoneInformation::-webkit-scrollbar {
  display: none;
}

/* mobile version */
@media (width < 62em) {
  .mobile_zone {
    display: grid !important;
  }

  .classic_zone {
    display: none;
  }

  .page-vide {
    & p {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
    & button {
      margin: 0.2rem;
    }
  }
}

.pageInputNumber > .p-inputtext.p-component.p-inputnumber-input {
  width: auto !important;
  min-width: 3ch;
  max-width: 5.5ch;
  max-height: 2.5rem;
}
