/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

#search {
  display: block;
  width: 300rem;
  @media (width < 48em) {
    width: 10vw;
  }
}
#searchInput {
  width: 55vw;
  height: 4rem;
  font-size: 2rem;
  padding-top: 1rem;
  padding-left: 2.5rem;
  @media (width < 62em) {
    width: 80vw;
  }
  @media (width < 48em) {
    width: 55vw;
  }
}
#searchSpan {
  display: table;
  margin: 1rem auto 0 auto;
}
#searchFileIcon {
  margin-top: -0.8rem;
  font-size: 1.5rem;
}

.zone-recherche input,
.zone-recherche-workspace input {
  background-color: var(--surface-a);
}
.zone-recherche-workspace {
  margin-bottom: -5rem;
}
