/**
 *  Copyright (C) 2022 - Jeci SARL - https://jeci.fr
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
 */

.layout-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 10rem);
  padding: {
    top: 6rem;
    right: 0.9rem;
    bottom: 0;
    left: 0.9rem;
  }
  transition: margin-left $transitionDuration;
  overflow: hidden;
}

.layout-main {
  flex: 1 1 auto;
  min-height: calc(100vh - 10rem);
  overflow: hidden;
}

.droptarget {
  min-height: calc(100vh - 18rem);
}
