<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="this.$t('workflow.startWorkflow')"
    visible
    modal
    maximizable
    @keyup.esc="closePopup(false)"
    class="popup"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <Stepper>
      <StepperPanel :header="$t('workflow.workflowType')">
        <template #content="{ nextCallback }">
          <div class="flex flex-column h-12rem">
            <div class="flex flex-column gap-3">
              <!-- Section type workflow -->
              <div class="field flex flex-column gap-2">
                <label for="dueDate" class="font-bold"
                  >{{ $t("workflow.chooseWorkflow")
                  }}<span class="required">*</span></label
                >
                <DropDown
                  v-model="selectedWorkflowType"
                  :options="workflowOptions"
                  optionLabel="label"
                  :placeholder="$t('workflow.workflowType')"
                />
              </div>
            </div>
          </div>
          <div class="flex pt-4 justify-content-end">
            <Button
              :label="$t('workflow.next')"
              icon="pi pi-arrow-right"
              iconPos="right"
              @click="nextCallback"
            />
          </div>
        </template>
      </StepperPanel>
      <StepperPanel :header="$t('workflow.assigneeSelection')">
        <template #content="{ prevCallback, nextCallback }">
          <div class="flex flex-column">
            <div class="flex flex-column gap-3">
              <!-- Section assignee -->
              <div class="field flex flex-column gap-2">
                <label for="dueDate" class="font-bold"
                  >{{ $t("workflow.assigneeSelection")
                  }}<span class="required">*</span></label
                >
                <div class="card selection-card" v-if="assignee">
                  Sélection de l'utilisateur
                  {{ assignee.displayName || assignee.id }}
                </div>
              </div>
            </div>
            <div class="flex flex-column">
              <div class="flex flex-column gap-3">
                <DataTable
                  id="users"
                  v-model:selection="assignee"
                  :value="usersList"
                  selectionMode="single"
                  rowHover
                  dataKey="id"
                  removableSort
                  paginator
                  paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                  :rows="5"
                  v-model:filters="filters"
                  :globalFilterFields="['name', 'id', 'email']"
                >
                  <template #empty>{{ $t("usersEmpty") }}</template>
                  <template #header>
                    <div class="flex justify-content-end">
                      <IconField iconPosition="left">
                        <InputIcon class="ri-search-line" />
                        <InputText
                          v-model="filters['global'].value"
                          :placeholder="$t('search')"
                        />
                      </IconField>
                    </div>
                  </template>
                  <Column field="avatar">
                    <template #body="slotProps">
                      <Avatar
                        :label="slotProps.data.displayName.charAt(0)"
                        size="large"
                        :style="{
                          'background-color': '#2196F3',
                          color: '#ffffff',
                        }"
                        shape="circle"
                      />
                    </template>
                  </Column>
                  <Column field="name" :header="$t('column.name')" sortable>
                    <template #body="slotProps">
                      <span>{{ slotProps.data.displayName }}</span>
                    </template>
                  </Column>
                  <Column field="id" :header="$t('column.id')" sortable>
                    <template #body="slotProps">
                      <span>{{ slotProps.data.id }}</span>
                    </template>
                  </Column>
                  <Column field="email" :header="$t('column.email')" sortable>
                    <template #body="slotProps">
                      <span>{{ slotProps.data.email }}</span>
                    </template>
                  </Column>
                </DataTable>
              </div>
            </div>
          </div>
          <div class="flex pt-4 justify-content-between">
            <Button
              :label="$t('workflow.back')"
              severity="secondary"
              icon="pi pi-arrow-left"
              @click="prevCallback"
            />
            <Button
              :label="$t('workflow.next')"
              icon="pi pi-arrow-right"
              iconPos="right"
              @click="nextCallback"
            />
          </div>
        </template>
      </StepperPanel>
      <StepperPanel :header="$t('workflow.dueDateAndPrioritySelection')">
        <template #content="{ prevCallback, nextCallback }">
          <div class="flex flex-column h-12rem">
            <div class="flex flex-column gap-3">
              <!-- Section Date d'échéance -->
              <div class="field flex flex-column gap-2">
                <label for="dueDate" class="font-bold">{{
                  $t("workflow.dueDate")
                }}</label>
                <Calendar
                  id="dueDate"
                  v-model="dueDate"
                  dateFormat="dd/mm/yy"
                  class="w-full"
                  :placeholder="$t('workflow.chooseDueDate')"
                  :minDate="minDate"
                  :manualInput="false"
                />
              </div>

              <!-- Section Priorité -->
              <div class="flex flex-column gap-2">
                <label for="priority" class="font-bold"
                  >{{ $t("workflow.priority.priority")
                  }}<span class="required">*</span></label
                >
                <DropDown
                  id="priority"
                  v-model="selectedPriority"
                  :options="priorityOptions"
                  optionLabel="label"
                  :placeholder="$t('workflow.choosePriority')"
                  class="w-full"
                />
              </div>
            </div>
          </div>
          <div class="flex pt-4 justify-content-between">
            <Button
              :label="$t('workflow.back')"
              severity="secondary"
              icon="pi pi-arrow-left"
              @click="prevCallback"
            />
            <Button
              :label="$t('workflow.next')"
              icon="pi pi-arrow-right"
              iconPos="right"
              @click="nextCallback"
            />
          </div>
        </template>
      </StepperPanel>
      <StepperPanel :header="$t('workflow.taskNameInput')">
        <template #content="{ prevCallback }">
          <div class="flex flex-column h-12rem">
            <label for="priority" class="font-bold"
              >{{ $t("workflow.taskName") }} <span class="required">*</span>
            </label>
            <TextArea v-model="message" />
          </div>
          <div>
            <Message
              v-if="startWorkflowError"
              severity="error"
              :closable="false"
              >{{ this.failStartWorkflowErrorMessage }}</Message
            >
          </div>
          <div class="flex pt-4 justify-content-between">
            <Button
              :label="$t('workflow.back')"
              severity="secondary"
              icon="pi pi-arrow-left"
              @click="prevCallback"
            />
            <Button
              :disabled="isStartWorkflowButtonDisable"
              :label="$t('workflow.startTheWorkflow')"
              severity="primary"
              @click="startWorkflow()"
            />
          </div>
        </template>
      </StepperPanel>
    </Stepper>
  </Dialog>
</template>

<script>
import {
  peopleService,
  useSelectionStore,
  WorkflowService,
} from "@pristy/pristy-libvue";
import { FilterMatchMode } from "primevue/api";

export default {
  name: "CreateWorkflowPopup",
  emits: ["close", "message"],
  data() {
    return {
      startWorkflowError: false,
      failStartWorkflowErrorMessage: null,
      workflowOptions: [
        {
          label: this.$t("workflow.adhocType"),
          description: this.$t("workflow.adhocDescription"),
          value: "activitiAdhoc",
        },
        {
          label: this.$t("workflow.reviewType"),
          description: this.$t("workflow.reviewDescription"),
          value: "activitiReview",
        },
      ],
      priorityOptions: [
        {
          label: this.$t("workflow.priority.low"),
          value: 3,
        },
        {
          label: this.$t("workflow.priority.medium"),
          value: 2,
        },
        {
          label: this.$t("workflow.priority.high"),
          value: 1,
        },
      ],
      selectedWorkflowType: null,
      message: null,
      assignee: null,
      dueDate: null,
      selectedPriority: {
        label: this.$t("workflow.priority.medium"),
        value: 2,
      },
      searchInput: null,
      filters: {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      },
      usersList: [],
      minDate: new Date(new Date().setHours(24, 0, 0, 0)),
    };
  },
  created() {
    this.loadUsers();
  },
  methods: {
    loadUsers() {
      peopleService
        .listUsers()
        .then((usersList) => {
          return usersList.filter(
            (user) =>
              !["publication", "pastell"].some((hiddenUsers) =>
                user.id.includes(hiddenUsers),
              ),
          );
        })
        .then((users) => {
          this.usersList = users;
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    closePopup(reload) {
      this.$emit("close", reload);
    },
    startWorkflow() {
      if (this.message.length >= 4000) {
        (this.startWorkflowError = true),
          (this.failStartWorkflowErrorMessage = this.$t(
            "workflow.tooLongTaskNameError",
          ));
      }
      const opts = {
        processDefinitionKey: this.selectedWorkflowType.value,
        variables: {
          bpm_assignee: this.assignee.id,
          bpm_workflowDescription: this.message,
          bpm_description: this.message,
          bpm_priority: this.selectedPriority.value,
          bpm_workflowPriority: this.selectedPriority.value,
          ...(this.dueDate && {
            bpm_workflowDueDate: this.dueDate
              .toISOString()
              .replace("Z", "+0000"),
          }),
        },
      };
      WorkflowService.createProcess(opts)
        .then((response) => {
          let processId = response.data.entry.id;
          const opts = [
            {
              id: useSelectionStore().nodes[0].id,
            },
          ];
          WorkflowService.addProcessItems(processId, opts)
            .then(() => {
              this.$toast.add({
                severity: "success",
                summary: this.$t("success"),
                detail: this.$t("workflow.successCreate"),
                life: 3000,
              });
              this.$emit("close");
            })
            .catch((error) => {
              this.$toast.add({
                severity: "error",
                summary: this.$t("error"),
                detail: error.message,
                life: 3000,
              });
            });
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: error.message,
            life: 3000,
          });
        });
    },
  },
  computed: {
    isStartWorkflowButtonDisable() {
      return (
        this.selectedWorkflowType === null ||
        this.assignee === null ||
        this.selectedPriority === null ||
        this.message === null
      );
    },
  },
};
</script>
<style scoped>
.selection-card {
  background: var(--surface-section);
}
</style>
