<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="$t('importElement')"
    visible
    modal
    @keyup.esc="closePopup(false)"
    class="popup"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <FileUpload
      name="upload_files"
      :chooseLabel="$t('imports.selectFiles')"
      :uploadLabel="$t('send')"
      :cancelLabel="$t('cancel')"
      :invalidFileSizeMessage="
        $t('imports.invalidFileSize', {
          name: `{0}`,
          size: `{1}`,
        })
      "
      :invalidFileTypeMessage="
        $t('imports.invalidFileType', {
          name: `{0}`,
          type: `{1}`,
        })
      "
      :invalidFileLimitMessage="$t('imports.invalidFileLimit', { size: '{0}' })"
      @uploader="alfuploader"
      :customUpload="true"
      :multiple="true"
      :maxFileSize="500000000"
    >
      <template #empty>
        <p>
          {{ $t("dragAndDrop") }}
        </p>
      </template>
    </FileUpload>

    <Message v-for="msg in events" :key="msg.severity" :severity="msg.severity"
      >{{ msg.content }}
    </Message>

    <template #footer>
      <Button :label="$t('close')" @click="closePopup" severity="secondary" />
    </template>
  </Dialog>
</template>

<script>
import { alfrescoFileService, errorService } from "@pristy/pristy-libvue";
import pLimit from "p-limit";

const limit = pLimit(3);
export default {
  name: "ImportPopup",
  props: {
    node: {
      type: Object,
      default: () => {},
    },
  },
  emits: ["close", "message"],
  data() {
    return {
      listUploaded: [],
      events: [],
      nbFiles: 0,
    };
  },
  mounted() {
    this.listUploaded = [];
    this.events = [];
    this.nbFiles = 1;
  },
  methods: {
    closePopup() {
      this.$emit("close", this.listUploaded.length > 0);
    },
    alfuploader(fileUploadUploaderEvent) {
      this.events.push({
        severity: "info",
        content: this.$t("uploadLoading", {
          number: this.nbFiles++,
          total: fileUploadUploaderEvent.files.length,
        }),
      });

      let uploadPromises = [];
      fileUploadUploaderEvent.files.forEach((file) => {
        let opts = {
          name: file.name,
          nodeType: "cm:content",
          renditions: "doclib",
        };
        uploadPromises.push(
          limit(() =>
            alfrescoFileService
              .uploadFile(this.node.id, opts, file)
              .then((response) => {
                this.events.push({
                  severity: "info",
                  content: this.$t("uploadLoading", {
                    number: this.nbFiles++,
                    total: fileUploadUploaderEvent.files.length,
                  }),
                });

                return response;
              }),
          ),
        );
      });
      Promise.allSettled(uploadPromises)
        .then((uploadResponses) => {
          const successfulToast = [];
          const listError = [];
          uploadResponses.forEach((upResp) => {
            if (upResp.status === "fulfilled") {
              this.listUploaded.push(upResp.value);
              successfulToast.push(upResp.value.entry?.name);
            } else {
              listError.push(upResp.reason);
            }
          });
          if (successfulToast.length > 0) {
            this.events.push({
              severity: "success",
              content: this.$t("uploadFinish"),
            });
          }
          if (listError.length > 0) {
            errorService
              .getUploadErrors(listError)
              .forEach((m) => this.events.push(m));
          } else {
            this.closePopup();
          }
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("uploadUnknownError"),
            detail: error,
            life: 5000,
          });
        });
    },
  },
};
</script>
