<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="$t('importNewVersion')"
    visible
    modal
    @keyup.esc="closePopup(false)"
    class="popup"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <div>
      <label for="name" class="col-12">{{
        $t("uploadFile", { file: node.name })
      }}</label>
      <div class="field grid mt-3">
        <FileUpload
          v-if="canUpload"
          name="upload_files"
          :chooseLabel="$t('imports.selectFiles')"
          :uploadLabel="$t('send')"
          :cancelLabel="$t('cancel')"
          :invalidFileSizeMessage="`${$t('imports.invalidFileSize', {
            name: `{0}`,
            size: `{1}`,
          })}`"
          :invalidFileTypeMessage="`${$t('imports.invalidFileType', {
            name: `{0}`,
            type: `{1}`,
          })}`"
          :invalidFileLimitMessage="
            $t('imports.invalidFileLimit', { size: '{0}' })
          "
          @uploader="alfuploader"
          :customUpload="true"
          :multiple="false"
          :maxFileSize="500000000"
          :fileLimit="1"
        >
          <template #empty>
            <p>
              {{ $t("dragAndDrop") }}
            </p>
          </template>
        </FileUpload>
      </div>
    </div>
    <div class="field grid">
      <label for="name" class="col-12 mb-2">{{ $t("addComment") }}</label>
      <div class="col-12 md:col-10 w-full">
        <TextArea id="comment" v-model="comment" autoResize :rows="5" />
      </div>
    </div>

    <div class="field grid">
      <div class="grid radio-display">
        <div class="col-12 md:col-6">
          <div class="field-radiobutton mb-0">
            <RadioButton
              id="majeure"
              name="majeure"
              value="MAJEURE"
              v-model="version"
            />
            <label for="majeure" v-tooltip="``">{{ $t("major") }}</label>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="field-radiobutton mb-0">
            <RadioButton
              id="mineure"
              name="mineure"
              value="MINEURE"
              v-model="version"
            />
            <label for="mineure" v-tooltip="``">{{ $t("minor") }}</label>
          </div>
        </div>
      </div>
    </div>
  </Dialog>
</template>

<script>
import {
  alfrescoNodeService,
  errorService,
  useSelectionStore,
} from "@pristy/pristy-libvue";

export default {
  name: "ImportNewVersionPopup",
  emits: ["close", "message"],
  data() {
    return {
      canUpload: true,
      version: null,
      comment: null,
    };
  },
  mounted() {
    this.node = useSelectionStore().files[0];
    this.version = "MAJEURE";
    this.comment = "";
  },
  methods: {
    closePopup(reload) {
      this.$emit("close", reload);
    },
    alfuploader(fileUploadUploaderEvent) {
      this.$emit("message", {
        severity: "info",
        content: this.$t("uploadLoading"),
      });

      let uploadPromises = [];

      fileUploadUploaderEvent.files.forEach((file) => {
        uploadPromises.push(
          alfrescoNodeService.updateContentNode(
            this.node.id,
            file,
            this.version === "MAJEURE",
            this.comment,
          ),
        );
      });
      Promise.allSettled(uploadPromises)
        .then((uploadResponses) => {
          const listUploaded = [];
          const successfulToast = [];
          const listError = [];
          uploadResponses.forEach((upResp) => {
            if (upResp.status === "fulfilled") {
              listUploaded.push(upResp.value);
              successfulToast.push(upResp.value.entry?.name);
            } else {
              listError.push(upResp.reason);
            }
          });
          if (successfulToast.length > 0) {
            this.$emit("message", {
              severity: "success",
              content: this.$t("uploadFinish"),
            });
          }
          if (listError.length > 0) {
            this.$emit("message", errorService.getUploadErrors(listError));
          }

          this.closePopup(listUploaded.length > 0);
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("uploadUnknownError"),
            detail: error,
            life: 5000,
          });
        });
    },
  },
};
</script>
