<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="$t(`members.management`, { workspace: workspaceTitle })"
    visible
    modal
    maximizable
    @keyup.esc="closePopup(true)"
    class="popup popup--tree"
    v-if="isSite"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(true)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <MemberList
      :workspace="workspace"
      :members="members"
      :permissions="enablePermissions"
      :role="role"
      @reload="loadMembers()"
    />
    <template #footer>
      <Button
        :label="$t('close')"
        @click="closePopup(true)"
        severity="secondary"
      />
    </template>
  </Dialog>
  <Dialog
    :header="$t(`members.permissions`, { node: nodeName })"
    visible
    modal
    maximizable
    @keyup.esc="closePopup(true)"
    class="popup popup--tree"
    v-else
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(true)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <MemberList
      :workspace="workspace"
      :folderNode="folderNode"
      :members="membersWithGroups"
      :permissions="enablePermissions"
      :role="role"
      :isSite="isSite"
      :isHerited="isHerited"
      :nbMembers="nbMembers"
      :membersWithoutGroups="members"
      :membersLocallySet="membersLocallySet"
      @update-permission="loadPermissions()"
    />
    <template #footer>
      <Button
        :label="$t('close')"
        @click="closePopup(true)"
        severity="secondary"
      />
    </template>
  </Dialog>
</template>

<script>
import {
  alfrescoNodeService,
  useNavigationStore,
  workspaceService,
  groupsApi,
} from "@pristy/pristy-libvue";
import MemberList from "@/components/MemberList.vue";

export default {
  name: "MemberListPopup",
  emits: ["close"],
  components: { MemberList },
  props: {
    isSite: {
      type: Boolean,
      default: false,
    },
    folderNode: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      workspace: null,
      node: null,
      nodeName: null,
      workspaceTitle: "",
      members: null,
      enablePermissions: false,
      role: null,
      isHerited: true,
      nbMembers: null,
      membersWithGroups: null,
      membersLocallySet: null,
    };
  },
  mounted() {
    if (this.isSite) {
      workspaceService
        .getWorkspace(this.$route.params.id)
        .then((workspace) => {
          this.workspace = workspace;
          this.workspaceTitle = workspace.title;
          return workspace;
        })
        .then((workspace) => {
          this.role = this.$t(`role.${workspace.role}`);
          this.enablePermissions = this.role === this.$t("role.SiteManager");
        });
      this.loadMembers();
    } else {
      alfrescoNodeService.getNode(this.folderNode.id).then((node) => {
        this.node = node;
        this.nodeName = node.name;
        this.loadPermissions();
      });
    }
  },
  methods: {
    closePopup(reload) {
      this.$emit("close", reload);
    },
    loadMembers() {
      let opts = {
        maxItems: 1000,
      };
      let users = workspaceService
        .getWorkspaceMembershipsWithOpts(this.$route.params.id, opts)
        .then((usersArr) => {
          return usersArr.list.entries.map((user) => ({
            ...user.entry,
            isGroup: false,
          }));
        });
      let groups = workspaceService
        .getWorkspaceGroupsWithOpts(this.$route.params.id, opts)
        .then((groupsArr) => {
          return groupsArr.map((group) => ({
            ...group,
            isGroup: true,
          }));
        });
      Promise.all([users, groups]).then(
        (result) => (this.members = [...result[0], ...result[1]]),
      );
    },
    updateInheritedGroup(node) {
      const authorityIdToRemove = `GROUP_site_${this.$route.params.id}_SiteContributor`;
      return (node.permissions?.inherited || []).filter(
        (item) => item.authorityId !== authorityIdToRemove,
      );
    },
    fetchGroupMemberships() {
      const groups = this.membersWithGroups.filter((obj) =>
        obj.authorityId.startsWith("GROUP"),
      );
      groups.forEach((group) => {
        groupsApi.listGroupMemberships(group.authorityId).then((users) => {
          let usersList = users.list.entries;
          usersList.forEach((user) => {
            let userObject = user.entry;
            userObject.groupId = group.authorityId;
            userObject.authorityId = userObject.id;
            userObject.name = group.name;
            this.membersWithGroups.push(userObject);
          });
        });
      });
    },
    loadPermissions() {
      alfrescoNodeService.getNode(this.folderNode.id).then((node) => {
        this.enablePermissions =
          useNavigationStore().currentNode.allowableOperations?.includes(
            "updatePermissions",
          ) || false;
        this.isHerited = node.permissions?.isInheritanceEnabled;
        this.members = node.permissions?.locallySet || [];
        this.membersLocallySet = node.permissions?.locallySet || [];
        let inheritedGroup = this.updateInheritedGroup(node);
        this.nbMembers = this.members.length + inheritedGroup.length;
        this.membersWithGroups = [...this.members, ...inheritedGroup];
        this.fetchGroupMemberships();
      });
    },
  },
};
</script>
