<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="$t(popupTitle)"
    visible
    modal
    class="popup"
    maximizable
    :style="{ width: '55vw' }"
    style="max-width: 45rem"
    :breakpoints="{
      '35rem': '100vw',
    }"
    @keyup.esc="closePopup()"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup()"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <div class="field grid p-fluid">
      <label for="name" class="text-500 w-12 font-medium pb-1"
        >{{ $t("field.name") }} <span class="required">*</span></label
      >
      <div class="col-12">
        <InputText
          id="name"
          type="text"
          v-model="name"
          :placeholder="name"
          v-tooltip.bottom="$t('field.nameRule')"
          :disabled="!canUpdate()"
        />
      </div>
    </div>
    <div
      v-for="fieldGroup in this.fields"
      :key="fieldGroup.name"
      class="p-fluid pt-2 w-full"
    >
      <FieldSet :legend="fieldlabel(fieldGroup)" :toggleable="true">
        <div v-for="field in fieldGroup.group" :key="field.labelId">
          <div class="field grid w-full">
            <label
              :for="field.labelId"
              class="text-600 col-12 xl:col-4 font-medium pb-1"
              >{{ fieldlabel(field) }}</label
            >
            <div class="col-12 xl:col-8" v-if="field.input === 'text'">
              <InputText
                :inputId="field.labelId"
                type="text"
                v-model="properties[field.id]"
                :placeholder="properties[field.id]"
                :disabled="!canUpdate()"
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'textarea'">
              <TextArea
                :inputId="field.labelId"
                v-model="properties[field.id]"
                rows="5"
                cols="30"
                :disabled="!canUpdate()"
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'list'">
              <DropDown
                :inputId="field.labelId"
                v-model="properties[field.id]"
                :options="options(field.constraint)"
                optionLabel="label"
                optionValue="id"
                class="w-full md:w-14rem"
                :disabled="!canUpdate()"
              />
            </div>
            <div
              class="col-12 xl:col-8"
              v-else-if="field.input === 'multilist'"
            >
              <MultiSelect
                :inputId="field.labelId"
                v-model="properties[field.id]"
                :options="options(field.constraint)"
                optionLabel="label"
                optionValue="id"
                filter
                :showToggleAll="false"
                :disabled="!canUpdate()"
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'select'">
              <SelectButton
                :inputId="field.labelId"
                v-model="properties[field.id]"
                :options="options(field.constraint)"
                optionLabel="label"
                optionValue="id"
                :disabled="!canUpdate()"
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'chips'">
              <Chips
                :inputId="field.labelId"
                v-model="properties[field.id]"
                :allowDuplicate="false"
                :addOnBlur="true"
                :disabled="!canUpdate()"
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'password'">
              <Password
                :inputId="field.labelId"
                v-model="properties[field.id]"
                :disabled="!canUpdate()"
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'rating'">
              <Rating
                :inputId="field.labelId"
                v-model="properties[field.id]"
                :disabled="!canUpdate()"
              />
            </div>
            <div
              class="col-12 xl:col-8"
              v-else-if="field.input === 'int' || field.input === 'double'"
            >
              <InputNumber
                :inputId="field.labelId"
                v-model="properties[field.id]"
                :disabled="!canUpdate()"
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'knob'">
              <Knob
                :inputId="field.labelId"
                v-model="properties[field.id]"
                :disabled="!canUpdate()"
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'date'">
              <Calendar
                :inputId="field.labelId"
                dateFormat="yy-mm-dd"
                :disabled="field.readOnly || !canUpdate()"
                v-model="properties[field.id]"
                showIcon
                showButtonBar
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'datetime'">
              <Calendar
                :inputId="field.labelId"
                dateFormat="yy-mm-dd"
                :disabled="field.readOnly || !canUpdate()"
                v-model="properties[field.id]"
                showIcon
                showButtonBar
                showTime
                showSeconds
                hideOnDateTimeSelect
                hourFormat="24"
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'boolean'">
              <InputSwitch
                :inputId="field.labelId"
                v-model="properties[field.id]"
                :disabled="!canUpdate()"
              />
            </div>
            <div class="col-12 xl:col-8" v-else-if="field.input === 'toggle'">
              <ToggleButton
                :inputId="field.labelId"
                v-model="properties[field.id]"
                :disabled="!canUpdate()"
              />
            </div>
          </div>
        </div>
      </FieldSet>
    </div>
    <template #footer>
      <p v-if="errorNameMessage" class="error-message">
        {{ errorNameMessage }}
      </p>
      <Button
        :label="!canUpdate() ? $t('close') : $t('cancel')"
        @click="cancel"
        severity="secondary"
      />
      <Button
        :label="$t('rename')"
        @click="updateItem"
        v-if="popupTitle === 'renameElement' && canUpdate()"
      />
      <Button
        :label="$t('modify')"
        @click="updateItem"
        v-else-if="popupTitle !== 'renameElement' && canUpdate()"
      />
    </template>
  </Dialog>
</template>

<script>
import {
  alfrescoNodeService,
  useConfigStore,
  useSelectionStore,
} from "@pristy/pristy-libvue";
import { fieldlabel } from "@/services/TranslationService";

export default {
  name: "ModifyNodePopup",
  emits: ["close"],
  props: {
    popupTitle: null,
  },
  data() {
    return {
      name: null,
      errorNameMessage: null,
      properties: null,
      fields: [],
      allowFields: [],
      constraints: [],
    };
  },
  mounted() {
    this.clear();
    this.node = useSelectionStore().nodes[0];
    if (this.node.properties) {
      this.properties = { ...this.node.properties };
    } else {
      let localnode = alfrescoNodeService.getNode(this.node.id);
      this.properties = { ...localnode.properties };
    }
    this.loadFields();
    this.loadFileDetails();
  },
  unmounted() {
    useSelectionStore().resetSelection();
  },
  methods: {
    fieldlabel,
    clear() {
      this.name = null;
      this.errorNameMessage = null;
      this.properties = {};
      this.fields = [];
      this.allowFields = [];
    },
    canUpdate() {
      return this.node.allowableOperations?.includes("update") || false;
    },
    closePopup() {
      this.$emit("close", true);
    },
    cancel() {
      this.clear();
      this.closePopup();
    },
    loadFileDetails() {
      this.name = this.node.name;
      // deep clone

      const config = useConfigStore();
      config.METADATA.filter((field) => {
        return field.input === "date" || field.input === "datetime";
      })
        .filter((field) => {
          return (
            field.display === undefined ||
            field.display.find((d) => d === "popup")
          );
        })
        .map((field) => {
          if (this.properties[field.id]) {
            // convert ISO date to JS Date
            this.properties[field.id] = new Date(this.properties[field.id]);
          }
        });
    },
    loadFields() {
      const config = useConfigStore();
      this.constraints = config.CONSTRAINTS.filter(
        (cst) => cst.type === "static",
      );
      this.allowFields = config.METADATA.filter(
        (field) =>
          field.display === undefined ||
          field.display.find((d) => d === "popup"),
      ).sort((a, b) => a.order - b.order);

      this.fields = this.allowFields.reduce((accFields, field) => {
        let groupName = null;
        if (
          field.modelType &&
          (this.node.nodeType === field.modelType ||
            this.node.nodeType === "cm:cmobject")
        ) {
          groupName = field.modelType;
        }
        if (
          field.modelAspect &&
          this.node.aspectNames?.includes(field.modelAspect)
        ) {
          groupName = field.modelAspect;
        }

        if (
          groupName &&
          groupName !== "cm_cmobject" &&
          groupName !== "cm_titled" &&
          groupName !== "cm_author"
        ) {
          let asp = config.ASPECTS.find((asp) => asp.id === groupName);
          groupName = groupName.replace(":", "_");
          if (!accFields[groupName]) {
            accFields[groupName] = {};
            accFields[groupName].name = groupName;
            accFields[groupName].labelId = `model.${groupName}`;
            accFields[groupName].group = [];
            if (asp) {
              accFields[groupName].title = asp.title;
            }
          }
          accFields[groupName].group.push(field);
        }

        return accFields;
      }, {});
    },
    updateItem() {
      if (!this.name) {
        this.errorNameMessage = this.$t("errors.emptyName");
        return;
      }
      const opts = {
        name: this.name,
        properties: this.properties,
      };

      alfrescoNodeService
        .updateNode(this.node.id, opts)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("node.successModify"),
            life: 3000,
          });
          this.closePopup();
        })
        .catch((err) => {
          this.errorNameMessage = err.message;
        });
    },
    options(constraint) {
      let cst = this.constraints.find((cst) => cst.name === constraint);
      if (cst) {
        return cst.list;
      }
      return [];
    },
  },
};
</script>
