<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="$t('modifyWorkspace')"
    visible
    modal
    @keyup.esc="closePopup(false)"
    class="popup"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <div class="p-fluid">
      <div class="field grid">
        <label for="name" class="col-12 mb-2"
          >{{ $t("field.name") }} <span class="required">*</span></label
        >
        <div class="col-12">
          <InputText
            @focusout="displayErrorEmptyNameMessage = true"
            @keyup.enter="modifyWorkspace"
            id="name"
            type="text"
            v-model="name"
          />
          <p v-if="!name && displayErrorEmptyNameMessage" class="error-message">
            {{ $t("errors.emptyName") }}
          </p>
        </div>
      </div>
      <div class="field grid">
        <label for="description" class="col-12 mb-2">
          {{ $t("field.description") }}
        </label>
        <div class="col-12">
          <TextArea
            id="description"
            :placeholder="$t('field.descriptionHere')"
            autoResize
            :rows="3"
            v-model="description"
          />
        </div>
      </div>
      <div class="field grid">
        <label class="col-12 mb-2"
          >{{ $t("field.accessRights") }} <span class="required">*</span></label
        >
      </div>
      <div class="grid">
        <div class="col-12 md:col-4">
          <div class="field-radiobutton mb-0">
            <RadioButton
              id="private"
              name="private"
              value="PRIVATE"
              v-model="visibility"
            />
            <label for="private" v-tooltip="$t('field.privateInfo')">{{
              $t("visibility.PRIVATE")
            }}</label>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="field-radiobutton mb-0">
            <RadioButton
              id="moderated"
              name="moderated"
              value="MODERATED"
              v-model="visibility"
            />
            <label for="moderate" v-tooltip="$t('field.moderatedInfo')">{{
              $t("visibility.MODERATED")
            }}</label>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="field-radiobutton mb-0">
            <RadioButton
              id="public"
              name="public"
              value="PUBLIC"
              v-model="visibility"
            />
            <label for="public" v-tooltip="$t('field.publicInfo')">{{
              $t("visibility.PUBLIC")
            }}</label>
          </div>
        </div>
      </div>
    </div>
    <template #footer>
      <Button
        :label="$t('cancel')"
        @click="confirmModifyWorkspaceCancellation"
        severity="secondary"
      />
      <Button :label="$t('validate')" @click="modifyWorkspace" />
    </template>
  </Dialog>
  <ConfirmDialog group="confirmCancelModifyWorkspace" />
</template>

<script>
import { workspaceService } from "@pristy/pristy-libvue";

export default {
  name: "ModifyWorkspacePopup",
  props: {
    workspace: {
      type: Object,
      default: () => {},
    },
  },
  emits: ["close"],
  data() {
    return {
      modified: false,
      name: null,
      description: null,
      visibility: null,
      displayErrorEmptyNameMessage: false,
      errorNameMessage: null,
      originalName: null,
      originalDescription: null,
      originalVisibility: null,
    };
  },
  mounted() {
    this.modified = false;
    this.originalName = this.workspace.title;
    this.originalDescription = this.workspace.description;
    this.originalVisibility = this.workspace.visibility;
    this.name = this.workspace.title;
    this.description = this.workspace.description;
    this.visibility = this.workspace.visibility;
  },
  methods: {
    onHide() {
      if (!this.modified) {
        this.confirmModifyWorkspaceCancellation();
      }
    },
    closePopup(reload) {
      this.$emit("close", reload);
    },
    modifyWorkspace() {
      const opts = {
        title: this.name,
        description: this.description,
        visibility: this.visibility,
      };
      this.modified = true;
      workspaceService
        .updateWorkspace(this.workspace.name, opts)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("workspace.successModify"),
            life: 3000,
          });
          this.closePopup(true);
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    isChange() {
      return (
        this.name !== this.originalName ||
        this.description !== this.originalDescription ||
        this.visibility !== this.originalVisibility
      );
    },
    confirmModifyWorkspaceCancellation() {
      if (this.isChange()) {
        this.$confirm.require({
          message: this.$t("workspace.cancelModify"),
          header: this.$t("cancellation"),
          acceptLabel: this.$t("yes"),
          rejectLabel: this.$t("no"),
          group: "confirmCancelModifyWorkspace",
          accept: () => {
            this.closePopup(true);
          },
          reject: () => {
            // nothing to do
          },
        });
      } else {
        this.closePopup();
      }
    },
  },
};
</script>
