<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="$t('moveNode')"
    visible
    modal
    @keyup.esc="closePopup(false)"
    class="popup"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <Message :closable="false" v-if="displayError" severity="error">
      {{ errorMove }}
    </Message>
    <div class="field grid">
      <div class="col-3">
        <div class="mb-3 text-900">Déplacer les élements suivants</div>
        <DataView :value="nodes">
          <template #list="slotProps">
            <div class="w-full">
              <div
                v-for="item in slotProps.items"
                :key="item.name"
                class="mb-2"
              >
                <span class="flex align-items-center gap-2 text-700">
                  <i v-if="item.isFolder" class="ri-folder-2-line" />
                  <i v-else class="ri-file-line" />
                  <span class="font-semibold">{{ item.name }}</span>
                </span>
              </div>
            </div>
          </template>
        </DataView>
      </div>
      <div class="col-9">
        <label class="w-full mb-2 text-900"
          >{{ $t("chooseDestination") }} <span class="required">*</span></label
        >
        <TreeExplorer
          @selectNode="selectNode"
          :currentNode="currentNode"
          class="tree"
        />
      </div>
      <label v-if="this.destination" class="col-12 mb-2"
        >{{ $t("destination", { dest: destinationName }) }}
      </label>
      <label class="col-12 mb-2" v-else>{{ $t("noDestination") }}</label>
    </div>
    <template #footer>
      <Button :label="$t('cancel')" @click="closePopup" severity="secondary" />
      <Button
        :label="$t('validate')"
        @click="moveElement"
        :disabled="!canMove"
      />
    </template>
  </Dialog>
</template>

<script>
import { alfrescoNodeService, useSelectionStore } from "@pristy/pristy-libvue";
import TreeExplorer from "@/components/TreeExplorer.vue";
import actionsService from "@/services/ActionsService";

const SITE = "st:site";

export default {
  name: "MoveNodePopup",
  components: { TreeExplorer },
  emits: ["close"],
  props: {
    currentNode: {},
  },
  data() {
    return {
      nodes: [],
      destination: null,
      documentLibrary: null,
      displayError: false,
      destinationName: null,
      canMove: true,
      errorMove: null,
    };
  },
  created() {
    this.selectionStore = useSelectionStore();
  },
  mounted() {
    this.nodes = this.selectionStore.nodes;
    this.displayError = false;
    this.destination = null;
    this.documentLibrary = null;
    this.destinationName = null;
    this.name = null;
    this.canMove = true;
    this.errorMove = null;
  },
  methods: {
    closePopup(reload) {
      this.$emit("close", reload);
    },
    selectNode(item, label) {
      this.displayError = false;
      this.errorMove = null;
      this.canMove = true;
      this.destination = item;
      this.destinationName = label;
      this.canMove = true;
      if (!this.canWrite(item)) {
        this.errorMove = this.$t("errors.errorMoveRights");
        this.displayError = true;
        this.canMove = false;
      }
    },
    moveElement() {
      if (this.destination === null) {
        this.displayError = true;
        this.errorMove = this.$t("noSelectedDestination");
        return;
      }
      let destId =
        this.destination.nodeType === SITE
          ? this.documentLibrary.id
          : this.destination.id;

      const movePromises = this.selectionStore.nodes.map((element) => {
        return actionsService.getItemName(destId, element).then((itemName) => {
          return alfrescoNodeService.moveNode(element.id, destId, itemName);
        });
      });

      Promise.allSettled(movePromises)
        .then((responses) => {
          let successfulToast = responses
            .filter((resp) => resp.status === "fulfilled")
            .map((resp) => resp.value.entry?.name);
          let listError = responses
            .filter((resp) => resp.status !== "fulfilled")
            .map((resp) => resp.reason);

          if (successfulToast.length > 0) {
            this.selectionStore.resetSelection();
            this.$toast.add({
              severity: "success",
              summary: this.$t("success"),
              detail: this.$t("node.successMove", {
                number: successfulToast.length,
              }),
              life: 5000,
            });
            this.closePopup();
          }
          if (listError.length > 0) {
            this.$toast.add({
              severity: "error",
              summary: this.$t("errors.errorMove"),
              detail: listError,
              life: 5000,
            });
          }
          this.closePopup(true);
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("errors.errorMove"),
            detail: error,
            life: 5000,
          });
        });
    },
    canWrite(item) {
      return !!item?.allowableOperations?.find((child) => child === "create");
    },
  },
};
</script>
