<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="$t(`createFolderOrFile`)"
    visible
    modal
    class="popup"
    @keyup.esc="closePopup(false)"
    style="max-width: 100vw"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <TabView
      @tab-change="onTabChange"
      v-model:activeIndex="activeTab"
      :scrollable="true"
    >
      <TabPanel :key="createFolder" :header="$t('createFolder')">
        <div class="p-fluid">
          <div class="field grid">
            <label for="name" class="col-12 mb-2"
              >{{ $t("field.name") }} <span class="required">*</span></label
            >
            <div class="col-12">
              <InputText
                @focusout="displayErrorEmptyNameMessage = true"
                @keyup.enter="createFolder"
                id="name"
                type="text"
                v-model="name"
                v-tooltip="$t('field.idRule')"
              />
              <p
                v-if="!name && displayErrorEmptyNameMessage"
                class="error-message"
              >
                {{ $t("errors.emptyName") }}
              </p>
              <p v-if="name && displayErrorNameMessage" class="error-message">
                {{ errorNameMessage }}
              </p>
            </div>
          </div>

          <div class="field grid">
            <label for="description" class="col-12 mb-2">{{
              $t("field.description")
            }}</label>
            <div class="col-12">
              <TextArea
                id="description"
                :placeholder="$t('field.descriptionHere')"
                autoResize
                :rows="3"
                v-model="description"
              />
            </div>
          </div>
        </div>
      </TabPanel>
      <TabPanel :key="createFile" :header="$t('createFile')">
        <div class="p-fluid">
          <div class="field grid">
            <label for="name" class="col-12 mb-2"
              >{{ $t("field.name") }} <span class="required">*</span></label
            >
            <div class="col-12">
              <InputText
                @focusout="displayErrorEmptyNameMessage = true"
                @keyup.enter="createFile"
                id="name"
                type="text"
                v-model="name"
                v-tooltip="$t('field.idRule')"
              />
              <p
                v-if="!name && displayErrorEmptyNameMessage"
                class="error-message"
              >
                {{ $t("errors.emptyName") }}
              </p>
              <p v-if="name && displayErrorNameMessage" class="error-message">
                {{ errorNameMessage }}
              </p>
            </div>
          </div>
          <div class="field grid">
            <label for="description" class="col-12 mb-2">{{
              $t("field.description")
            }}</label>
            <div class="col-12">
              <TextArea
                id="description"
                :placeholder="$t('field.descriptionHere')"
                autoResize
                :rows="3"
                v-model="description"
              />
            </div>
          </div>
          <div class="flex flex-nowrap" id="filetypeContainer">
            <SelectButton
              v-model="selectedFileType"
              :options="fileTypes"
              optionLabel="name"
              dataKey="key"
              aria-labelledby="custom"
              class="col-12"
            >
              <template #option="slotProps">
                <div class="flex-grow-1">
                  <PristyIcon
                    class="icone"
                    :svgFileName="slotProps.option.svgFileName"
                    v-tooltip="slotProps.option.name"
                  />
                  <br />
                  <p>{{ slotProps.option.name }}</p>
                </div>
              </template>
            </SelectButton>
          </div>
        </div>
      </TabPanel>
      <TabPanel :key="createFileTemplate" :header="$t('createFileTemplate')">
        <div class="p-fluid">
          <div class="field grid">
            <label for="template" class="col-12 mb-2"
              >{{ $t("modele") }} <span class="required">*</span></label
            >
            <div class="col-12">
              <Tree
                :value="nodesTemplatesForTree"
                v-model:selectionKeys="selectedKey"
                selectionMode="single"
                @node-select="onNodeSelect"
                @node-expand="onNodeExpand"
                scrollHeight="40rem"
              />
            </div>
          </div>
          <div class="field grid">
            <label for="name" class="col-12 mb-2"
              >{{ $t("field.name") }} <span class="required">*</span></label
            >
            <div class="col-12">
              <InputText
                @focusout="displayErrorEmptyNameMessage = true"
                @keyup.enter="createFile"
                id="name"
                type="text"
                v-model="name"
                v-tooltip="$t('field.idRule')"
              />
              <p
                v-if="!name && displayErrorEmptyNameMessage"
                class="error-message"
              >
                {{ $t("errors.emptyName") }}
              </p>
              <p v-if="name && displayErrorNameMessage" class="error-message">
                {{ errorNameMessage }}
              </p>
            </div>
          </div>
          <div class="field grid">
            <label for="description" class="col-12 mb-2">{{
              this.$t("field.description")
            }}</label>
            <div class="col-12">
              <TextArea
                id="description"
                :placeholder="$t('field.descriptionHere')"
                autoResize
                :rows="3"
                v-model="description"
              />
            </div>
          </div>
          <div class="flex flex-nowrap" id="filetypeContainer">
            <SelectButton
              v-model="selectedFileTemplate"
              :options="fileTemplates"
              optionLabel="name"
              dataKey="key"
              aria-labelledby="custom"
              class="col-12"
            >
              <template #option="slotProps">
                <div class="flex-grow-1">
                  <PristyIcon
                    class="icone"
                    :svgFileName="slotProps.option.svgFileName"
                    v-tooltip="slotProps.option.name"
                  />
                  <br />
                  <p>{{ slotProps.option.name }}</p>
                </div>
              </template>
            </SelectButton>
          </div>
        </div>
      </TabPanel>
    </TabView>
    <template #footer>
      <Button :label="$t('cancel')" @click="closePopup" severity="secondary" />
      <Button
        v-if="activeTab === 1"
        :label="$t('files.create')"
        @click="createFile"
        :disabled="!selectedFileType && !selectedFileTemplate"
      />
      <Button
        v-if="activeTab === 2"
        :label="$t('files.create')"
        @click="createFileTemplate"
        :disabled="selectedTemplate === null"
      />
      <Button
        v-if="activeTab === 0"
        :label="$t('folders.create')"
        @click="createFolder"
      />
    </template>
  </Dialog>
</template>

<script>
import { alfrescoNodeService, PristyIcon } from "@pristy/pristy-libvue";
import rechercheService from "@/services/RechercheService";

const SPLITTER = "|";

export default {
  name: "NewFolderPopup",
  components: {
    PristyIcon,
  },
  props: {
    node: {
      type: Object,
      default: () => {},
    },
  },
  emits: ["close"],
  data() {
    return {
      name: null,
      displayErrorEmptyNameMessage: false,
      displayErrorNameMessage: false,
      errorNameMessage: null,
      description: null,
      fileTypes: [
        {
          name: this.$t("text"),
          key: "text",
          extension: "odt",
          svgFileName: "collabora-text",
        },
        {
          name: this.$t("sheet"),
          key: "sheet",
          extension: "ods",
          svgFileName: "collabora-sheet",
        },
        {
          name: this.$t("presentation"),
          key: "presentation",
          extension: "odp",
          svgFileName: "collabora-presentation",
        },
        {
          name: this.$t("draw"),
          key: "graphic",
          extension: "odg",
          svgFileName: "collabora-draw",
        },
      ],
      fileTemplates: [],
      selectedFileType: null,
      selectedFileTemplate: null,
      activeTab: 0,
      nodeTemplates: [],
      nodesTemplatesForTree: [],
      splitedKey: null,
      selectedTemplate: null,
      selectedKey: null,
    };
  },
  mounted() {
    this.initPopup();
  },
  methods: {
    onNodeSelect(node) {
      this.selectedTemplate = node.data.isFolder ? null : node;
      this.selectedKey = this.selectedTemplate;
    },
    onNodeExpand(node) {
      alfrescoNodeService
        .getChildren(node.data.id)
        .then((data) => {
          return data.children;
        })
        .then((children) => {
          let treeChildren = children
            .map((child) => ({
              key: `${node.key}${SPLITTER}${child.id}`,
              label: child.name,
              icon: child.isFolder ? "ri-folder-2-line" : "ri-file-line",
              data: child,
              children: [],
              leaf: false,
            }))
            .sort();
          this.addChildren(treeChildren, node);
        })
        .catch((err) => {
          console.error("getNodeChildren Error", err);
        });
    },
    addChildren(children, parent) {
      this.splitedKey = parent.key.split(SPLITTER);
      if (this.splitedKey.length === 1) {
        this.nodesTemplatesForTree
          .filter((child) => child.key === parent.key)
          .map((racine) => (racine.children = children));
      } else {
        this.addElementChildren(
          this.nodesTemplatesForTree,
          parent.key,
          children,
          0,
        );
      }
    },
    /**
     * Recursive function to cross over a tree
     * Permit to add children to a found parent
     * @param tree the part of tree we are searching in
     * @param key for example "3-1-1"
     * @param children children to add when parent is find
     * @param step to find parent
     */
    addElementChildren(tree, key, children, step) {
      let parent = tree.find((potentialParent) =>
        this.containsKey(potentialParent.key, key, step),
      );
      if (parent) {
        if (parent.key === key) {
          parent.children = children;
          return null;
        } else if (parent.children) {
          this.addElementChildren(parent.children, key, children, step + 1);
          return null;
        }
      }
    },
    containsKey(shortKey, longKey, step) {
      // is shortkey in longKey ?
      let splitedKey = longKey.split(SPLITTER);
      let parentSplitedKey = shortKey.split(SPLITTER);
      //let's compare arrays for the first "step" steps only
      for (let i = 0; i <= step; i++) {
        if (splitedKey[i] !== parentSplitedKey[i]) {
          return false;
        }
      }
      return true;
    },
    onTabChange() {
      this.selectedFileType = null;
      this.selectedFileTemplate = null;
    },
    closePopup(reload) {
      this.$emit("close", reload);
    },
    initPopup() {
      this.name = null;
      this.description = null;
      this.displayErrorEmptyNameMessage = false;
      this.displayErrorNameMessage = false;
      this.errorNameMessage = null;
      this.selectedFileType = null;
      this.selectedFileTemplate = null;
      this.activeTab = 0;
      rechercheService.searchNodeTemplates().then((response) => {
        const nodeTemplatesFolder = response.list.entries[0].entry;
        alfrescoNodeService
          .getChildren(nodeTemplatesFolder.id)
          .then((folder) => {
            this.nodesTemplatesForTree = folder.children.map((child) => ({
              key: `${child.parentId}${SPLITTER}${child.id}`,
              label: child.name,
              icon: "ri-folder-2-line",
              data: child,
              children: [],
              leaf: !child.isFolder,
            }));
            alfrescoNodeService
              .getChildren(folder.children[0].id)
              .then((response) => {
                this.nodeTemplates = response.children;
              });
          });
      });
    },
    createFile() {
      if (this.name == null || this.name === "") {
        this.displayErrorEmptyNameMessage = true;
        return;
      }
      this.name = this.name.trim();
      let templateName = `${this.selectedFileType.key}_model.${this.selectedFileType.extension}`;
      rechercheService
        .searchFolderContentModel()
        .then((templates) => {
          let entries = templates.list.entries.filter(
            (entry) => entry.entry.id,
          );
          if (!entries.length) {
            throw new Error(this.$t("noEntries"));
          }
          let [firstEntry] = entries;
          return alfrescoNodeService.getChildren(firstEntry.entry.id);
        })
        .then((fileTemplate) => {
          let templateNode = fileTemplate.children.find(
            (template) => template.name === templateName,
          );
          let fileName = `${this.name}.${this.selectedFileType.extension}`;
          return alfrescoNodeService.copyNode(
            templateNode.id,
            this.node.id,
            fileName,
          );
        })
        .then((file) => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("files.successCreate"),
            life: 3000,
          });
          // This will close popup
          this.$router.push({
            name: "edit-collabora",
            params: { action: "edit", id: file.entry.id },
          });
        })
        .catch((err) => {
          this.errorNameMessage = err.message;
          this.displayErrorNameMessage = true;
        });
    },
    createFolder() {
      if (this.name == null || this.name === "") {
        this.displayErrorEmptyNameMessage = true;
      } else {
        const opts = {
          aspectNames: [],
          nodeType: "cm:folder",
          name: this.name.trim(),
          properties: {
            "cm:description": this.description,
          },
        };
        alfrescoNodeService
          .createNode(this.node.id, opts)
          .then(() => {
            this.$toast.add({
              severity: "success",
              summary: this.$t("success"),
              detail: this.$t("folders.successCreate"),
              life: 3000,
            });
            this.closePopup(true);
          })
          .catch((err) => {
            this.errorNameMessage = err.message;
            this.displayErrorNameMessage = true;
          });
      }
    },
    createFileTemplate() {
      if (this.name == null || this.name === "") {
        this.displayErrorEmptyNameMessage = true;
        return;
      }
      this.name = this.name.trim();
      let fileName = `${this.name}`;
      return alfrescoNodeService
        .copyNode(this.selectedTemplate.data.id, this.node.id, fileName)
        .then((file) => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("files.successCreate"),
            life: 3000,
          });

          this.$router.push({
            name: "edit-collabora",
            params: { action: "edit", id: file.entry.id },
          });
        })
        .catch((err) => {
          this.errorNameMessage = err.message;
          this.displayErrorNameMessage = true;
        });
    },
  },
  watch: {
    name(newName) {
      this.displayErrorEmptyNameMessage =
        newName != null && newName.length === 0;
      this.displayErrorNameMessage = false;
    },
  },
};
</script>
