<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="$t('createWorkspace')"
    visible
    modal
    @keyup.esc="closePopup(false)"
    class="popup"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <div class="p-fluid">
      <div class="field grid">
        <label for="type" class="col-12 mb-2">{{ $t("field.type") }}</label>
        <div class="col-10">
          <DropDown
            v-model="selectedType"
            :options="typeValues"
            optionLabel="label"
            @change="onChange"
          />
        </div>
      </div>
      <div class="field grid">
        <div class="col-12">
          <label for="id" class="col-11 mb-2"
            >{{ $t("field.id") }}<span class="required">*</span></label
          >
        </div>
        <div class="col-10">
          <InputText
            @focusout="checkErrorsOnId"
            @keyup.enter="createWorkspace"
            id="id"
            type="text"
            v-model="id"
            v-tooltip="$t('field.idRule')"
          />
          <p v-if="!id && displayErrorEmptyIDMessage" class="error-message">
            {{ $t("errors.emptyId") }}
          </p>
          <p v-if="id && displayErrorIdMessage" class="error-message">
            {{ errorIdMessage }}
          </p>
        </div>
        <div class="col-2">
          <InlineMessage
            severity="info"
            icon="ri-information-line"
            v-tooltip.bottom="$t('field.idInfo')"
          />
        </div>
      </div>
      <div class="field grid">
        <label for="description" class="col-12 mb-2">{{
          $t("field.description")
        }}</label>
        <div class="col-12">
          <TextArea
            id="description"
            :placeholder="$t('field.descriptionHere')"
            autoResize
            :rows="3"
            v-model="description"
          />
        </div>
      </div>
      <div class="field grid">
        <label class="col-12 mb-2"
          >{{ $t("field.accessRights") }}<span class="required">*</span></label
        >
      </div>
      <div class="grid">
        <div class="col-12 md:col-4">
          <div class="field-radiobutton mb-0">
            <RadioButton
              id="private"
              name="private"
              value="PRIVATE"
              v-model="visibility"
            />
            <label for="private" v-tooltip="$t('field.privateInfo')">{{
              $t("visibility.PRIVATE")
            }}</label>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="field-radiobutton mb-0">
            <RadioButton
              id="moderated"
              name="moderated"
              value="MODERATED"
              v-model="visibility"
              :disabled="isTypeActe"
            />
            <label
              for="moderate"
              :class="{ disabled: isTypeActe }"
              v-tooltip="$t('field.moderatedInfo')"
              >{{ $t("visibility.MODERATED") }}</label
            >
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="field-radiobutton mb-0">
            <RadioButton
              id="public"
              name="public"
              value="PUBLIC"
              v-model="visibility"
              :disabled="isTypeActe"
            />
            <label
              for="public"
              :class="{ disabled: isTypeActe }"
              v-tooltip="$t('field.publicInfo')"
              >{{ $t("visibility.PUBLIC") }}</label
            >
          </div>
        </div>
      </div>
    </div>
    <template #footer>
      <Button :label="$t('cancel')" @click="closePopup" severity="secondary" />
      <Button
        :label="$t('workspace.createAndAddMembers')"
        :loading="loading"
        @click="toggleCreateWorkspaceAndAddMembers"
        class="ml-4"
        outlined
      />
      <Button
        :label="$t('workspace.create')"
        :loading="loading"
        @click="createWorkspace"
      />
    </template>
  </Dialog>
</template>

<script>
import { workspaceService } from "@pristy/pristy-libvue";

export default {
  name: "NewWorkspacePopup",
  emits: ["close"],
  data() {
    return {
      id: null,
      name: null,
      description: null,
      visibility: null,
      displayErrorEmptyIDMessage: false,
      displayErrorIdMessage: false,
      errorIdMessage: null,
      defaultVisibility: "PRIVATE",
      selectedType: "",
      isTypeActe: false,
      typeValues: [
        { value: "", label: this.$t("field.workspace") },
        { value: "actes", label: this.$t("field.workspaceActe") },
      ],
      loading: false,
    };
  },
  mounted() {
    this.id = null;
    this.name = null;
    this.description = null;
    this.visibility = this.defaultVisibility;
    this.displayErrorEmptyIDMessage = false;
    this.displayErrorIdMessage = false;
    this.errorIdMessage = null;
    this.selectedType = this.typeValues[0];
    this.loading = false;
  },
  methods: {
    closePopup(reload) {
      this.$emit("close", reload);
    },
    checkErrorsOnId() {
      this.displayErrorIdMessage = false;
      this.displayErrorEmptyIDMessage = false;
      if (this.id == null) {
        this.displayErrorEmptyIDMessage = true;
        return;
      }
      if (/[^a-zA-Z0-9-]/gi.test(this.id)) {
        this.errorIdMessage = this.$t("errors.id");
        this.displayErrorIdMessage = true;
      } else if (this.id.length === 0) {
        this.displayErrorEmptyIDMessage = true;
      }
    },
    createWorkspace() {
      this.loading = true;
      this.name = this.id;
      if (this.id === null || this.name === null || this.visibility === null) {
        this.checkParameters();
        return;
      }
      workspaceService
        .createWorkspace(this.id, this.name, this.description, this.visibility)
        .then((newWorkspace) => {
          if (this.selectedType.value) {
            return workspaceService.updateWorkspaceType(
              newWorkspace.entry.guid,
              this.selectedType.value,
            );
          }
          return newWorkspace;
        })
        .then((workspace) => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("workspace.successCreate"),
            life: 3000,
          });
          return workspace;
        })
        .then((data) => {
          if (data.entry.id && this.redirectToMembers) {
            this.gotoWorkspaceMembers(data.entry.id);
          } else {
            this.closePopup(true);
          }
        })
        .catch((err) => {
          this.errorIdMessage = err.message;
          this.displayErrorIdMessage = true;
          return err;
        });
    },
    checkParameters() {
      this.displayErrorEmptyIDMessage = this.id === null;
    },
    gotoWorkspaceMembers(id) {
      this.$router.push({
        name: "espace-membres",
        params: { id: id },
      });
    },
    toggleCreateWorkspaceAndAddMembers() {
      this.loading = true;
      this.redirectToMembers = true;
      this.createWorkspace();
    },
    onChange() {
      if (this.selectedType.label === this.$t("field.workspaceActe")) {
        this.visibility = "PRIVATE";
      }
    },
  },
  watch: {
    selectedType(newType) {
      this.isTypeActe = newType.label === this.$t("field.workspaceActe");
    },
  },
};
</script>
