<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Dialog
    :header="$t('sendMail', { name: node.name })"
    visible
    modal
    @keyup.esc="closePopup(false)"
    class="popup popup--tree"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <div class="p-fluid">
      <div class="field grid">
        <label for="name" class="col-12 mb-2"
          >{{ $t("field.to") }} <span class="required">*</span></label
        >
        <div class="col-12">
          <Chips
            v-model="to"
            separator=" "
            :class="{ 'p-invalid': checkValidTo }"
            addOnBlur
          />
          <small class="p-error">{{ checkValidTo }}</small>
        </div>
      </div>
      <div class="field grid">
        <label for="name" class="col-12 mb-2">{{ $t("field.cc") }}</label>
        <div class="col-12">
          <Chips
            v-model="cc"
            separator=" "
            :class="{ 'p-invalid': checkValidCC }"
            addOnBlur
          />
          <small class="p-error">{{ checkValidCC }}</small>
        </div>
      </div>
      <div class="field grid">
        <label for="name" class="col-12 mb-2">{{ $t("field.cci") }}</label>
        <div class="col-12">
          <Chips
            v-model="cci"
            separator=" "
            :class="{ 'p-invalid': checkValidCCI }"
            addOnBlur
          />
          <small class="p-error">{{ checkValidCCI }}</small>
        </div>
      </div>
      <div class="field grid">
        <label for="name" class="col-12 mb-2"
          >{{ $t("field.subject") }} <span class="required">*</span></label
        >
        <div class="col-12">
          <InputText
            @keyup.enter="sendMail"
            type="text"
            v-model="subject"
            :class="{ 'p-invalid': checkSubject }"
          />
          <small class="p-error">{{ checkSubject }}</small>
        </div>
      </div>
      <div class="field grid">
        <label for="name" class="col-12 mb-2"
          >{{ $t("field.message") }} <span class="required">*</span></label
        >
        <div class="col-12">
          <TextArea v-model="message" :class="{ 'p-invalid': checkMessage }" />
          <small class="p-error">{{ checkMessage }}</small>
        </div>
      </div>
      <div class="field grid">
        <label for="name" class="col-12 mb-2">{{
          $t("field.shareLink")
        }}</label>
        <div class="col-12 copy-link">
          <InputText v-model="link" disabled />
          <Button severity="warning" @click="copyLinkClipboard"
            ><i class="ri-links-line" />&nbsp;{{ $t(`share.copyLinkTooltip`) }}
          </Button>
        </div>
      </div>

      <div class="field grid">
        <div class="col-12">
          <CheckBox
            class="send-mail-attachment"
            v-model="attachment"
            name="attachment"
            binary
          />
          <label>{{ $t("addAttachment") }}</label>
        </div>
      </div>
    </div>
    <template #footer>
      <Button :label="$t('close')" @click="closePopup" severity="secondary" />
      <Button :label="$t('send')" @click="sendMail" :disabled="!checkAllForm" />
    </template>
  </Dialog>
</template>

<script>
import {
  useSelectionStore,
  useConfigStore,
  webscriptApi,
} from "@pristy/pristy-libvue";
import * as EmailValidator from "email-validator";

export default {
  name: "SendMailPopup",
  emits: ["close"],
  data() {
    return {
      node: {},
      to: [],
      cc: [],
      cci: [],
      subject: null,
      message: null,
      attachment: false,
      link: null,
    };
  },
  mounted() {
    this.node = useSelectionStore().files[0];
    this.to = [];
    this.cc = [];
    this.cci = [];
    this.subject = null;
    this.message = null;
    this.attachment = false;
    let shareId = this.node?.properties["qshare:sharedId"] ?? null;

    const config = useConfigStore();
    this.link = shareId ? `${config.PREVIEW_URL}${shareId}` : null;
  },
  methods: {
    closePopup(reload) {
      this.$emit("close", reload);
    },
    sendMail() {
      if (!this.checkAllForm) {
        console.warn("can't send email");
        return;
      }
      const params = {
        recipients: this.to.join(";"),
        recipientsInCopy: this.cc ? this.cc.join(";") : "",
        recipientsInHiddenCopy: this.cc ? this.cci.join(";") : "",
        object: this.subject,
        message: this.message,
        nodeId: this.node.id,
        isAttachment: this.attachment,
      };
      return webscriptApi
        .executeWebScript("POST", "fr/jeci/sendMail", params)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("sendMailSuccess"),
            life: 5000,
          });
          this.closePopup();
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("errors.errorSendMail"),
            detail: err,
            life: 5000,
          });
        });
    },
    copyLinkClipboard() {
      navigator.clipboard.writeText(this.link).then(() => {
        this.$toast.add({
          severity: "success",
          summary: this.$t("share.copyLinkToastSummary"),
          detail: this.$t("share.copyLinkToastDetail"),
          life: 3000,
        });
      });
    },
  },
  computed: {
    checkAllForm() {
      return (
        this.checkValidTo === null &&
        this.checkValidCC === null &&
        this.checkValidCCI === null &&
        this.checkSubject === null &&
        this.checkMessage === null
      );
    },
    checkValidTo() {
      if (this.to.length === 0) {
        return this.$t("errors.errorEmptyEmail");
      }

      let err = null;
      this.to.forEach((email) => {
        if (!EmailValidator.validate(email)) {
          err = this.$t("errors.errorValidEmail");
        }
      });
      return err;
    },
    checkValidCC() {
      let err = null;
      if (this.cc.length > 0) {
        this.cc.forEach((email) => {
          if (!EmailValidator.validate(email)) {
            err = this.$t("errors.errorValidEmail");
          }
        });
      }
      return err;
    },
    checkValidCCI() {
      let err = null;
      if (this.cci.length > 0) {
        this.cci.forEach((email) => {
          if (!EmailValidator.validate(email)) {
            err = this.$t("errors.errorValidEmail");
          }
        });
      }
      return err;
    },
    checkSubject() {
      if (this.subject === null || this.subject === "") {
        return this.$t("errors.errorEmptySubject");
      }
      return null;
    },
    checkMessage() {
      if (this.message === null || this.message === "") {
        return this.$t("errors.errorEmptyMessage");
      }
      return null;
    },
  },
};
</script>
<style lang="css" scoped>
.send-mail-attachment {
  margin-right: 0.5rem;
}

.copy-link {
  display: flex;
  flex-direction: row;
}
</style>
