<template>
  <Dialog
    :header="$t('share.linkToShare')"
    visible
    modal
    @keyup.esc="closePopup(false)"
    class="popup popup--share-link"
  >
    <template #closeicon>
      <Button
        icon="ri-close-line"
        @click="closePopup(false)"
        outlined
        text
        severity="secondary"
        autofocus="false"
      />
    </template>
    <p>{{ $t("share.shareLinkOf", { fileName: node.name }) }}</p>
    <div class="p-inputgroup">
      <InputText placeholder="Share Link" v-model="link" disabled />
      <div v-if="!shareId">
        <Button severity="success" @click="createSharedLink">
          <i class="ri-add-line" />&nbsp;{{ $t(`share.createLinkTooltip`) }}
        </Button>
      </div>
      <div v-else>
        <Button severity="warning" @click="copyLinkClipboard">
          <i class="ri-link" />&nbsp;{{ $t(`share.copyLinkTooltip`) }}
        </Button>
        <Button
          icon="ri-delete-bin-line"
          severity="danger"
          v-tooltip="$t(`share.deleteLinkTooltip`)"
          @click="deleteSharedLink"
        />
      </div>
    </div>
    <div v-if="shareId">
      <div class="field-checkbox">
        <CheckBox
          inputId="expirationDate"
          v-model="hasExpirationDate"
          binary
          v-tooltip="$t(`share.addExpirationDateLinkTooltip`)"
          @change="dateChecked"
        />
        <label for="expirationDate">{{ $t("share.expirationDate") }}</label>
      </div>
      <div class="p-inputgroup" v-if="hasExpirationDate">
        <Calendar
          v-model="date"
          :min-date="new Date()"
          @date-select="updateLinkDate"
        />
        <Button
          icon="ri-delete-bin-line"
          severity="danger"
          v-tooltip="$t(`share.deleteExpirationDateLinkTooltip`)"
          @click="deleteLinkDate"
        />
      </div>
    </div>
    <template #footer>
      <Button :label="$t('close')" @click="closePopup" severity="secondary" />
    </template>
  </Dialog>
</template>

<script>
import {
  alfrescoNodeService,
  alfrescoFileService,
  useConfigStore,
  useSelectionStore,
} from "@pristy/pristy-libvue";

export default {
  name: "ShareLinkPopup",
  emits: ["close", "reload"],
  data() {
    return {
      link: null,
      shareId: null,
      date: null,
      hasExpirationDate: false,
    };
  },
  mounted() {
    this.node = useSelectionStore().files[0];
    this.shareId = this.node.properties["qshare:sharedId"] ?? null;
    this.hasExpirationDate = "qshare:expiryDate" in this.node.properties;
    this.date = this.hasExpirationDate
      ? new Date(this.node.properties["qshare:expiryDate"])
      : null;
  },

  methods: {
    closePopup(reload) {
      this.$emit("close", reload);
    },
    dateChecked() {
      if (!this.hasExpirationDate) {
        this.deleteLinkDate();
      }
    },
    copyLinkClipboard() {
      navigator.clipboard.writeText(this.link).then(() => {
        this.$toast.add({
          severity: "success",
          summary: this.$t("share.copyLinkToastSummary"),
          detail: this.$t("share.copyLinkToastDetail"),
          life: 3000,
        });
      });
    },
    deleteLinkDate() {
      this.date = null;
      this.hasExpirationDate = false;
      this.updateLinkDate();
      this.$emit("reload");
    },
    updateLinkDate() {
      const opts = {
        properties: {
          "qshare:expiryDate": this.date ? this.date.toISOString() : null,
        },
      };
      alfrescoNodeService
        .updateNode(this.node.id, opts)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("share.updateLinkDateSummary"),
            detail: this.$t("share.updateLinkDateDetail"),
            life: 3000,
          });
          this.$emit("reload");
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("share.updateLinkDateErrorSummary"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    deleteSharedLink() {
      alfrescoNodeService
        .deleteSharedLink(this.shareId)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("share.deleteLinkToastSummary"),
            detail: this.$t("share.deleteLinkToastDetail"),
            life: 3000,
          });
          this.$emit("reload");
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("deleteLinkErrorSummary"),
            detail: err.message,
            life: 3000,
          });
        });
      this.shareId = null;
      this.link = null;
      this.date = null;
      this.hasExpirationDate = false;
    },
    createSharedLink() {
      alfrescoNodeService
        .createSharedLink(this.node)
        .then((data) => {
          this.shareId = data.entry.id;
          this.$toast.add({
            severity: "success",
            summary: this.$t("share.createLinkToastSummary"),
            detail: this.$t("share.createLinkToastDetail"),
            life: 3000,
          });

          // Force PDF Rendition
          alfrescoFileService.createRendition(this.node.id, "pdf");
          this.$emit("reload");
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("share.createLinkErrorSummary"),
            detail: err.message,
            life: 3000,
          });
        });
    },
  },
  watch: {
    shareId(newValue) {
      if (newValue !== null) {
        const config = useConfigStore();
        this.link = `${config.PREVIEW_URL}${newValue}`;
      } else {
        this.link = null;
      }
    },
  },
};
</script>
