<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template class="layout-main">
  <div class="-mt-3">
    <ZoneInfo
      v-if="workspace && currentNode"
      :canUpload="canUpload"
      :currentNode="currentNode"
      :workspace="workspace"
      @reload="reload"
    >
    </ZoneInfo>
    <ZoneInfo
      v-else
      :canUpload="canUpload"
      :currentNode="currentNode"
      :workspace="workspace"
      @reload="reload"
    >
    </ZoneInfo>
  </div>
  <div class="flex">
    <div class="flex-grow-1 overflow-scroll" style="height: calc(100vh - 9rem)">
      <CollaboraIframe
        v-if="canEdit"
        :accessToken="coolToken['access_token']"
        :accessTokenTTL="coolToken['access_token_ttl']"
        :collaboraUrl="coolToken['wopi_src_url']"
        :wopiFileUrl="wopiFileUrl"
        :lang="currentLang"
        :uiMode="`tabbed`"
        :cssVariables="cssVariables"
        ref="collaboraComponent"
      />
      <p v-else-if="cannotOpen">
        {{ $t("cantEditWithCollabora") }}
      </p>
      <p v-else>{{ $t("loadingCollabora") }}</p>
    </div>

    <div :class="{ hidden: !isSplitterDisplayed }" class="card p-1 flex-grow-0">
      <ZoneInformation
        v-if="currentNode"
        :node="currentNode"
        :canEdit="canUpload && !isVersion"
        @close="changeSplitterDisplay"
        @reload="reload"
      />
    </div>
  </div>
</template>
<script>
import {
  alfrescoNodeService,
  collaboraAccessService,
  useConfigStore,
  useSelectionStore,
  workspaceService,
} from "@pristy/pristy-libvue";
import { CollaboraIframe } from "@pristy/pristy-collabora-component";
import ZoneInformation from "@/components/ZoneInformation.vue";
import collaboraService from "@/services/CollaboraService";
import ZoneInfo from "@/components/ZoneInfo.vue";
import { useUiStateStore } from "@/stores/UiStateStore.js";
import { mapState } from "pinia";

export default {
  name: "EditCollaboraPage",
  components: {
    ZoneInfo,
    CollaboraIframe,
    ZoneInformation,
  },
  emits: ["fullsize", "hideFooter"],
  data() {
    return {
      coolToken: null,
      wopiFileUrl: null,
      cannotOpen: false,
      currentNode: null,
      canUpload: true,
      workspace: null,
      cssVariables: null,
    };
  },
  props: {
    action: {
      type: String,
      default: "edit",
    },
    id: {
      type: String,
      default: null,
    },
    versionId: {
      type: String,
      default: null,
    },
  },
  async created() {
    this.selectionStore = useSelectionStore();
    await this.loadParams();
    //Waiting for the patch in URL -> collabora component, like the lang
    const style = getComputedStyle(document.body);
    if (localStorage.getItem("theme").includes("dark")) {
      localStorage.setItem("UIDefaults_text_darkTheme", true);
      let darkSurfaceColor = style.getPropertyValue("--surface-overlay");
      this.cssVariables = `--color-main-background=${darkSurfaceColor};--color-background-lighter=${darkSurfaceColor};`;
    } else {
      localStorage.setItem("UIDefaults_text_darkTheme", false);
      this.cssVariables = "--co-body-bg=#fffff";
    }
  },
  mounted() {
    this.$emit("hideFooter");
  },
  unmounted() {
    this.selectionStore.resetSelection();
  },
  methods: {
    reload() {
      this.loadParams();
    },
    changeSplitterDisplay() {
      useUiStateStore().changeSplitterDisplay();
    },
    loadParams() {
      const config = useConfigStore();
      return alfrescoNodeService
        .getNode(this.id)
        .then((currentNode) => {
          this.currentNode = currentNode;
          this.selectionStore.selectSingleNode(currentNode);
          window.document.title = `${currentNode.name} | ${config.APP_ROOT_TITLE}`;
          let wknode = currentNode.path.elements[2];
          workspaceService
            .getWorkspace(wknode.name)
            .then((workspace) => {
              this.workspace = workspace;
              // FIXME
              this.canUpload =
                workspace.role && workspace.role !== "SiteConsumer";
            })
            .catch((error) => {
              console.error("loadParams get workspace error", error);
            });
          return collaboraService.canOpenWithCollabora(currentNode);
        })
        .then((canOpen) => {
          if (canOpen) {
            return collaboraAccessService.getLoolUrl(config.ALFRESCO_HOST);
          }
          throw {
            message: this.$t("cantEditWithCollabora"),
            data: "OPEN_NOT_ALLOW",
          };
        })
        .then((coolUrl) => {
          console.log(
            "wopiFileUrl=",
            `${coolUrl["lool_host_url"]}wopi/files/${this.id}`,
          );
          this.wopiFileUrl = encodeURI(
            `${coolUrl["lool_host_url"]}wopi/files/${this.id}`,
          );
          return collaboraAccessService.getAccessToken(
            config.ALFRESCO_HOST,
            this.id,
            this.action,
          );
        })
        .then((coolTokenResp) => {
          this.coolToken = coolTokenResp;
          // Emit fullsize for closing the menu on the edit page
          this.$emit("fullsize");
        })
        .catch((error) => {
          if (error.data === "OPEN_NOT_ALLOW") {
            this.cannotOpen = true;
          }
          console.error(error);
          this.$toast.add({
            severity: "error",
            summary: "Error",
            detail: error.message,
            life: 3000,
          });
        });
    },
  },
  computed: {
    ...mapState(useUiStateStore, ["isSplitterDisplayed"]),
    currentLang() {
      return (
        localStorage?.getItem("user.language") ||
        window?.navigator?.language ||
        "fr"
      );
    },
    isVersion() {
      return this.versionId !== null;
    },
    canEdit() {
      return this.coolToken != null && this.wopiFileUrl && this.cssVariables;
    },
  },
};
</script>

<style lang="scss">
#loleafletframe {
  width: 100%;
  height: 100%;
  border: 0 none;
}

#loolcontainer {
  width: 100%;
  height: 100%;
  background: none;
}
</style>
