<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div
    class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
  >
    <div class="grid justify-content-center p-2 lg:p-0 error-page">
      <div class="col-12 mt-5 xl:mt-0 text-center">
        <img :src="pristyImage()" alt="Pristy logo" class="mb-5 pristy-logo" />
      </div>
      <div class="col-12 xl:col-6">
        <div class="flex justify-content-center h-full w-full m-0 py-7 px-4">
          <div class="grid flex-column align-items-center">
            <h1 v-if="id" class="text-900 font-bold text-3xl lg:text-5xl mb-2">
              {{ $t("error", { error: this.id }) }}
            </h1>
            <span class="text-gray-600">{{ $t(`errors.${this.id}`) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { useConfigStore } from "@pristy/pristy-libvue";
export default {
  data() {
    return {
      id: null,
    };
  },
  mounted() {
    this.id = this.$route.params.id;
  },
  methods: {
    pristyImage() {
      const config = useConfigStore();
      return `${config.APP_ROOT}images/pristy/logo-pristy-square.png`;
    },
  },
};
</script>
<style scoped>
.pristy-logo {
  width: 400px;
  height: 350px;
}

.error-page {
  min-width: 80%;
}
</style>
