<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div>
    <ZoneInfo
      v-if="workspace && currentNode"
      :canUpload="canUpload"
      :currentNode="currentNode"
      :workspace="workspace"
      :searchZone="true"
      @reload="reloadData"
      @message="addMessage"
    />
  </div>
  <div class="w-full flex pr-4">
    <div class="align mb-1 flex-grow-1">
      <ProgressSpinner
        v-if="loading"
        style="width: 1rem; height: 1rem"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration=".5s"
        aria-label="Custom ProgressSpinner"
      />
      <div
        v-if="!loading && pagination && !hasSelectedNodes"
        class="nbrOfSearchResult"
      >
        {{
          $t("howMuchResult", {
            nbrEntries: pagination.count,
            totalEntries: pagination.totalItems,
          })
        }}
      </div>
      <div
        v-else-if="
          hasSelectedNodes &&
          !hasCurrentPageAllElementsSelected &&
          !isRemoveSelectionDisplayed
        "
        class="nbrOfSearchResult"
      >
        {{
          $t("howMuchSelected", {
            nbrEntries: selectionStore.nodes.length,
            totalEntries: pagination.totalItems,
          })
        }}
      </div>
      <div
        v-else-if="hasSelectedNodes && hasCurrentPageAllElementsSelected"
        class="selectOrDeleteDiv"
      >
        <span class="ml-2 flex">
          {{
            $t("howMuchSelected", {
              nbrEntries: selectionStore.nodes.length,
              totalEntries: pagination.totalItems,
            })
          }}
          <p
            v-if="hasMoreElements"
            class="font-bold cursor-pointer ml-2"
            @click="selectAllNodes()"
          >
            {{
              $t("selectAllElementMoreThan", {
                totalEntries: pagination.totalItems,
              })
            }}
          </p>
          <p
            v-else
            class="font-bold cursor-pointer ml-2"
            @click="selectAllNodes()"
          >
            {{
              $t("selectAllElement", { totalEntries: pagination.totalItems })
            }}
          </p>
        </span>
      </div>
      <div
        v-else-if="hasSelectedNodes && isRemoveSelectionDisplayed"
        class="selectOrDeleteDiv"
      >
        <span class="ml-2 flex">
          {{
            $t("howMuchSelected", {
              nbrEntries: selectionStore.nodes.length,
              totalEntries: pagination.totalItems,
            })
          }}
          <p class="font-bold cursor-pointer ml-2" @click="deleteSelection()">
            {{ $t("deleteSelection") }}
          </p>
        </span>
      </div>
    </div>

    <div class="align ml-auto mb-1 flex-none">
      <NewMenu
        :currentFolder="currentNode"
        :canUpload="canUpload"
        @reload="reloadData"
        @message="addMessage"
        @change-layout="changeLayout"
      />
    </div>
  </div>
  <Message v-if="rightsDropError" severity="info">{{
    $t("noRightsForDrop")
  }}</Message>
  <div class="flex mt-2">
    <div
      class="droptarget flex-grow-1 card p-1"
      :class="{
        'mr-4': !isPreviewPanelVisible && !isSplitterDisplayed,
        'mr-2': isPreviewPanelVisible || isSplitterDisplayed,
        'max-w-40rem':
          isSplitterDisplayed && isPreviewPanelVisible && screenWidth <= 1895,
      }"
      @dragover.prevent
      @dragenter.prevent
      @drop.prevent="onDrop"
    >
      <Message
        v-for="msg in messages"
        :key="msg.severity"
        :severity="msg.severity"
        :life="2000"
        >{{ msg.content }}
      </Message>
      <ProgressBar
        v-if="timerMessages > 0"
        :value="timerMessages"
        style="height: 3px"
        :pt="{
          value: { style: { background: '#8e2de2' } },
        }"
        :show-value="false"
      />

      <template v-if="folders.length > 0 || files.length > 0">
        <div class="">
          <RecentDataList
            :workspace="workspace"
            v-if="
              currentNode?.name === 'documentLibrary' &&
              workspace?.id !== 'swsdp'
            "
          />
        </div>
        <FolderList
          v-if="!userPreferencesStore.listView"
          :canUpload="canUpload"
          :folders="folders"
          :layout="layout"
          :currentNode="currentNode"
          @reload="reloadData"
        />
        <div class="flex justify-content-between datatable-header">
          <div class="flex gap-4">
            <DropDown
              v-model="selectedSortFilter"
              :options="filterSortOption"
              optionLabel="label"
              @update:modelValue="selectedSortFilterChanged"
            >
              <template #value="slotProps">
                <div class="font-bold text-xs">
                  {{ $t("sortOn") }}
                </div>
                <div v-if="slotProps.value" class="flex items-center">
                  <div>{{ slotProps.value.name }}</div>
                </div>
                <span v-else>
                  {{ slotProps.placeholder }}
                </span>
              </template>
              <template #option="slotProps">
                <div class="flex items-center">
                  <div>{{ slotProps.option.name }}</div>
                </div>
              </template>
            </DropDown>
            <Button
              v-if="
                isAscending &&
                this.selectedSortFilter &&
                this.selectedSortFilter.sort
              "
              icon="ri-sort-asc"
              text
              size="large"
              @click="changeSortOrder"
            ></Button>
            <Button
              v-else-if="
                !isAscending &&
                this.selectedSortFilter &&
                this.selectedSortFilter.sort
              "
              icon="ri-sort-desc"
              text
              size="large"
              @click="changeSortOrder"
            ></Button>
          </div>
        </div>
        <FileList
          v-if="!emptyFolder"
          ref="fileList"
          :canUpload="canUpload"
          :currentNode="currentNode"
          :files="filelist"
          :layout="layout"
          :totalRecordNodes="totalRecordNodes"
          @reload="reloadData"
          @message="addMessage"
          @page-selected="displaySelectAll"
          @update-skipcount="updateSkipCount"
        />
      </template>

      <PageVide
        v-if="emptyFolder && !loading"
        :canUpload="canUpload"
        :isMember="isMember"
        @popup="openPopup"
      />
    </div>
    <div
      class="pr-1 w-full classic_zone flex-grow-1 overflow-hidden"
      :class="{
        hidden: !isPreviewPanelVisible,
        'max-w-75rem': isStaticMenuDisplayed && !isSplitterDisplayed,
        'max-w-47rem': isStaticMenuDisplayed && isSplitterDisplayed,
        'max-w-66rem': !isStaticMenuDisplayed && isSplitterDisplayed,
      }"
    >
      <div
        class="card p-1 flex-grow-1 overflow-scroll pdfPanel scrollbar-width-none card-max-height"
      >
        <div class="flex justify-content-between p-2 pdfPanelHeader">
          <Button
            class="m-2"
            type="button"
            icon="ri-close-line"
            @click="closeContentPanel"
            severity="danger"
            rounded
            text
          />
          <div class="flex flex-column align-items-left h-full m-2">
            <div
              class="text-xm font-bold overflow-hidden custom-ellipsis text-left max-w-30rem"
              v-tooltip="currentFileName"
            >
              {{ currentFileName }}
            </div>
            <div
              class="text-sm text-500 overflow-hidden custom-ellipsis text-left max-w-30rem mt-1"
              v-tooltip="currentFileName"
            >
              {{ currentFileName }}
            </div>
          </div>
          <router-link
            v-if="lastSelectedFileElement"
            :to="collaboraService().getRoute(lastSelectedFileElement)"
          >
            <Button
              class="m-2"
              label="Ouvrir"
              type="button"
              severity="secondary"
              raised
            />
          </router-link>
        </div>
        <div class="pdfPanelHeader flex justify-content-center w-full flex">
          <Button
            type="button"
            icon="ri-expand-left-line"
            class="w-13rem"
            :label="$t(`previousFile`)"
            v-tooltip="$t(`previousFile`)"
            size="small"
            severity="secondary"
            text
            :disabled="hasOnlyOneFile"
            @click="showPreviousFile(children)"
          />
          <Button
            v-if="canUpdateLastSelectedFile"
            :label="$t('rename')"
            v-tooltip="$t('rename')"
            icon="ri-edit-line"
            severity="secondary"
            text
            size="small"
            @click="openRename()"
          />
          <Button
            type="button"
            icon="ri-star-line"
            :label="$t('add/removeFavorite')"
            v-tooltip="$t('add/removeFavorite')"
            severity="secondary"
            size="small"
            text
            @click="toggleFavorite"
          />
          <Button
            type="button"
            icon="ri-expand-right-line"
            class="w-13rem"
            :label="$t(`nextFile`)"
            severity="secondary"
            v-tooltip="$t(`nextFile`)"
            size="small"
            iconPos="right"
            text
            :disabled="hasOnlyOneFile"
            @click="showNextFile(children)"
          />
        </div>
        <div
          v-if="
            selectedFiles[0] &&
            this.mimeType &&
            this.mimeType.includes(`image/`)
          "
        >
          <ImageViewer :content-node="lastSelectedFileElement" />
        </div>
        <div
          v-else-if="
            selectedFiles[0] &&
            this.mimeType &&
            this.mimeType.includes(`video/`)
          "
        >
          <VideoPlayer
            :contentUrl="url"
            :contentNode="lastSelectedFileElement"
          />
        </div>
        <div v-else-if="url">
          <PDFComponent :key="url" :url="url" class="h-full"></PDFComponent>
        </div>
      </div>
    </div>
    <div v-if="showZoneInformation" class="card p-1 flex-grow-0">
      <ZoneInformation
        v-if="workspace && (currentNode || workspaceInfo)"
        :canEdit="canUpload && hasParamFolderId"
        :node="nodeForZoneInfo"
        @close="changeSplitterDisplay"
        @reload="reloadData"
      />
    </div>
    <div v-if="showSideBar">
      <SideBar
        :visible="showSideBar"
        position="right"
        class="overflow-y-scroll w-min"
      >
        <template #container>
          <ZoneInformation
            v-if="workspace && (currentNode || workspaceInfo)"
            :canEdit="canUpload && hasParamFolderId"
            :node="nodeForZoneInfo"
            @close="changeSplitterDisplay"
            @reload="reloadData"
          />
        </template>
      </SideBar>
    </div>
  </div>
  <NewFolderPopup
    v-if="popup === 'NEWFOLDER'"
    :node="currentNode"
    @close="closePopup"
  />
  <ImportPopup
    v-if="popup === 'IMPORT'"
    :node="currentNode"
    @close="closePopup"
    @message="addMessage"
  />
  <ConfirmDialog group="joinWorkspace" />
  <ModifyNodePopup
    v-if="popup === 'MODIFYNODE'"
    :popupTitle="modifyPopupTitle"
    @close="closePopup"
  />
</template>
<script>
import {
  alfrescoFileService,
  errorService,
  favoriteService,
  useConfigStore,
  useNavigationStore,
  useSelectionStore,
  useUserPreferencesStore,
  useUserStore,
  workspaceService,
  alfrescoNodeService,
} from "@pristy/pristy-libvue";
import { useUiStateStore } from "@/stores/UiStateStore.js";
import FolderList from "@/components/FolderList.vue";
import ZoneInfo from "@/components/ZoneInfo.vue";
import FileList from "@/components/FileList.vue";
import NewMenu from "@/components/NewMenu.vue";
import ImportPopup from "@/components/popup/ImportPopup.vue";
import NewFolderPopup from "@/components/popup/NewFolderPopup.vue";
import PageVide from "@/components/PageVide.vue";
import pLimit from "p-limit";
import ZoneInformation from "@/components/ZoneInformation.vue";
import RecentDataList from "@/components/RecentDataList.vue";
import { mapState } from "pinia";
import PDFComponent from "@/components/PDFComponent.vue";
import ImageViewer from "@/components/ImageViewer.vue";
import VideoPlayer from "@/components/VideoPlayer.vue";
import ModifyNodePopup from "@/components/popup/ModifyNodePopup.vue";
import collaboraService from "@/services/CollaboraService.js";
import { useStorage } from "@vueuse/core";
import { usePaginatorStore } from "@/stores/PaginatoreStore.js";
import { useScreenStore } from "@/stores/ScreenStore.js";

const MAX_FILE_SIZE = "500000000";
const limit = pLimit(3);
const user = useUserStore();

export default {
  components: {
    ModifyNodePopup,
    VideoPlayer,
    ImageViewer,
    PDFComponent,
    RecentDataList,
    FileList,
    FolderList,
    ZoneInfo,
    NewMenu,
    ImportPopup,
    NewFolderPopup,
    PageVide,
    ZoneInformation,
  },
  emits: ["fullsize", "hideFooter"],
  data() {
    return {
      navigationStore: null,
      popup: null,
      layout: "datatable",
      name: null,
      description: null,
      newMenuItems: [
        {
          label: this.$t("createFolder"),
          icon: "ri-folder-2-line",
          command: () => {
            this.openNewFolder();
          },
        },
      ],
      filters: null,
      messages: [],
      timerMessages: 0,
      userPreferencesStore: null,
      isMember: false,
      collaboraRouteData: null,
      rightsDropError: false,
      selectionStore: null,
      hasCurrentPageAllElementsSelected: false,
      isRemoveSelectionDisplayed: false,
      url: null,
      selectedFiles: [],
      currentFileName: "",
      currentFileId: null,
      mimeType: null,
      skipCount: 0,
      selectedSortFilter: null,
      isAscending: true,
      filterSortOption: [
        {
          name: this.$t("mostRelevant"),
        },
        {
          name: this.$t("column.name"),
          sort: [{ type: "FIELD", field: "cm:name", ascending: false }],
        },
        {
          name: this.$t("facets.categories.modified_date"),
          sort: [{ type: "FIELD", field: "cm:modified", ascending: false }],
        },
        {
          name: this.$t("column.modifiedBy"),
          sort: [{ type: "FIELD", field: "cm:modifier", ascending: false }],
        },
      ],
    };
  },
  created() {
    this.navigationStore = useNavigationStore();
    this.userPreferencesStore = useUserPreferencesStore();
    this.selectionStore = useSelectionStore();
    this.selectionStore.$subscribe((mutation, state) => {
      this.selectedFiles = state.files;
    });
    this.resetData();
  },
  mounted() {
    this.resetSortFilter();
    this.loadData().then(() => {
      document.addEventListener("keyup", this.keyBoardHandler);
    });
  },
  unmounted() {
    document.removeEventListener("keyup", this.keyBoardHandler);
  },
  methods: {
    collaboraService() {
      return collaboraService;
    },
    toggleFavorite() {
      favoriteService
        .changeSingleFavorite(this.lastSelectedFileElement)
        .then((favorite) => {
          this.$toast.add({
            severity: "success",
            summary: "Favoris",
            detail: favorite.isFavorite
              ? `Element ${favorite.name} mis en favori`
              : `Element ${favorite.name} enlevé des favoris`,
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur de favoris",
            detail: err.message,
            life: 3000,
          });
        });
    },
    keyBoardHandler(event) {
      if (
        useUiStateStore().isKeyboardNavEnable &&
        !useUiStateStore().isPopupOpen
      ) {
        const nodes = useNavigationStore().children;
        if (event.key === "ArrowUp") {
          this.showPreviousFile(nodes);
        } else if (event.key === "ArrowDown") {
          this.showNextFile(nodes);
        }
      }
    },
    showNextFile(nodes) {
      let currentIndex = this.getCurrentNodeIndex(nodes);
      if (currentIndex === -1) return;

      const elementPerPage = useStorage(
        "elementPerPage",
        useConfigStore().DEFAULT_ELEMENT_PER_PAGE,
      );
      const totalElements = this.totalRecordNodes;
      const currentGlobalIndex = this.skipCount + currentIndex;

      if (currentGlobalIndex + 1 >= totalElements) {
        this.skipCount = 0;
        this.loadAndSelectFile(0);
        usePaginatorStore().first = this.skipCount;
      } else if (currentIndex + 1 >= elementPerPage.value) {
        this.skipCount += elementPerPage.value;
        usePaginatorStore().first = this.skipCount;
        this.loadAndSelectFile(0);
      } else {
        this.changeSelectedFile(currentIndex + 1, nodes);
      }
    },

    loadAndSelectFile(index) {
      this.reloadData().then(() => {
        this.changeSelectedFile(index, this.children);
      });
    },

    loadAndSelectLastFile() {
      this.reloadData().then(() => {
        this.changeSelectedFile(this.children.length - 1, this.children);
      });
    },

    changeSelectedFile(newIndex, nodes) {
      const newSelectedFile = nodes[newIndex];
      this.selectionStore.selectSingleNode(newSelectedFile);
    },

    showPreviousFile(nodes) {
      let currentIndex = this.getCurrentNodeIndex(nodes);
      if (currentIndex !== -1) {
        const elementPerPage = useStorage(
          "elementPerPage",
          useConfigStore().DEFAULT_ELEMENT_PER_PAGE,
        );
        if (currentIndex === 0) {
          if (this.skipCount > 0) {
            this.skipCount -= elementPerPage.value;
            usePaginatorStore().first = this.skipCount;
            this.loadAndSelectLastFile();
          } else {
            const totalElements = this.totalRecordNodes;
            this.skipCount =
              Math.floor((totalElements - 1) / elementPerPage.value) *
              elementPerPage.value;
            usePaginatorStore().first = this.skipCount;
            this.loadAndSelectLastFile();
          }
        } else {
          let newIndex = currentIndex - 1;
          this.changeSelectedFile(newIndex, nodes);
        }
      }
    },

    getCurrentNodeIndex(nodes) {
      const selectedNode = this.selectionStore.nodes[0];
      return this.selectionStore.nodes.length === 1
        ? nodes.findIndex((file) => file.id === selectedNode.id)
        : -1;
    },
    changeLayout(newLayout) {
      this.layout = newLayout;
    },
    deleteSelection() {
      this.selectionStore.resetSelection();
      this.hasCurrentPageAllElementsSelected = false;
      this.isRemoveSelectionDisplayed = false;
      this.$refs.fileList.resetPageSelection();
    },
    selectAllNodes() {
      let opts = {
        include: [
          "isFavorite",
          "properties",
          "allowableOperations",
          "permissions",
          "path",
          "isLocked",
        ],
        skipCount: 0,
        maxItems: 500,
      };
      alfrescoNodeService
        .getChildrenWithOpts(this.currentNode.guid || this.currentNode.id, opts)
        .then((response) => {
          let children = response.children;
          if (children.length > 0) {
            this.selectionStore.selectNodes(children);
          }
          this.hasCurrentPageAllElementsSelected = false;
          this.isRemoveSelectionDisplayed = true;
        });
    },
    displaySelectAll() {
      this.hasCurrentPageAllElementsSelected = true;
    },
    openPopup(name) {
      this.popup = name;
    },
    openRename() {
      useUiStateStore().isPopupOpen = true;
      useSelectionStore().selectSingleNode(this.lastSelectedFileElement);
      this.tempAspectsName = this.lastSelectedFileElement.aspectNames;
      this.lastSelectedFileElement.aspectNames = undefined;
      this.modifyPopupTitle = "renameElement";
      this.popup = "MODIFYNODE";
    },
    closePopup(reload) {
      this.popup = null;
      useUiStateStore().isPopupOpen = false;
      if (reload) {
        this.reloadData();
      }
    },
    changeSplitterDisplay() {
      useUiStateStore().changeSplitterDisplay();
    },
    resetData() {
      this.messages = [];
    },
    selectedSortFilterChanged() {
      usePaginatorStore().resetPagination();
      this.selectionStore.resetSelection();
      this.skipCount = 0;
      this.isAscending =
        this.selectedSortFilter.sort &&
        this.selectedSortFilter.sort[0].field !== "cm:modified";
      this.reloadData();
    },
    resetSortFilter() {
      this.selectedSortFilter = this.filterSortOption[0];
    },
    changeSortOrder() {
      usePaginatorStore().resetPagination();
      useSelectionStore().resetSelection();
      this.skipCount = 0;
      this.isAscending = !this.isAscending;
      this.reloadData();
    },
    updateSkipCount(skipCount) {
      this.skipCount = skipCount;
      this.reloadData();
    },
    /**
     * Load Data of a new page from parameters
     */
    loadData() {
      if (!this.hasParamId) {
        this.navigationStore.loading = false;
        console.log("No params id");
        return;
      }
      const elementPerPage = useStorage(
        "elementPerPage",
        useConfigStore().DEFAULT_ELEMENT_PER_PAGE,
      );
      let opts = {
        include: [
          "isFavorite",
          "properties",
          "allowableOperations",
          "permissions",
          "path",
          "isLocked",
        ],
        skipCount: this.skipCount,
        maxItems: elementPerPage.value,
      };
      if (
        this.selectedSortFilter !== null &&
        this.selectedSortFilter.sort !== undefined
      ) {
        if (this.selectedSortFilter.sort[0].field === "cm:modified") {
          this.isAscending = !this.isAscending;
        }
        opts.orderBy = [
          `${this.selectedSortFilter.sort[0].field} ${this.isAscending ? "ASC" : "DESC"}`,
        ];
      }
      return this.loadWorkspace(this.paramId, this.paramFolderID, false, opts);
    },
    reloadData() {
      const elementPerPage = useStorage(
        "elementPerPage",
        useConfigStore().DEFAULT_ELEMENT_PER_PAGE,
      );
      let opts = {
        include: [
          "isFavorite",
          "properties",
          "allowableOperations",
          "permissions",
          "path",
          "isLocked",
        ],
        skipCount: this.skipCount,
        maxItems: elementPerPage.value,
      };
      if (
        this.selectedSortFilter !== null &&
        this.selectedSortFilter.sort !== undefined
      ) {
        opts.orderBy = [
          `${this.selectedSortFilter.sort[0].field} ${this.isAscending ? "ASC" : "DESC"}`,
        ];
      }
      return this.loadWorkspace(
        this.workspace.id,
        this.currentNode?.id,
        true,
        opts,
      );
    },
    //Reload data when staying on the same page
    loadWorkspace(workspaceId, folderId, force, opts) {
      return this.navigationStore
        .loadWithOpts(workspaceId, folderId, force, opts)
        .then(() => {
          const elementPerPage = useStorage(
            "elementPerPage",
            useConfigStore().DEFAULT_ELEMENT_PER_PAGE,
          );
          if (this.skipCount > 0 && this.children.length === 0) {
            this.skipCount -= elementPerPage.value;
            opts.skipCount = this.skipCount;
            usePaginatorStore().first = this.skipCount;
            this.loadWorkspace(workspaceId, folderId, force, opts);
          }
          this.checkJoinWorkspace();
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 5000,
          });
          this.navigationStore.loading = false;
        });
    },
    checkJoinWorkspace() {
      if (!this.navigationStore.workspace) {
        return;
      }
      workspaceService
        .getWorkspaceMemberships(this.navigationStore.workspace.id)
        .then((members) => {
          this.isMember = !!members.find(
            (member) => member.id === user.person?.id,
          );
          if (!this.isMember) {
            this.confirmJoinWorkspace(this.navigationStore.workspace);
          }
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 5000,
          });
        });
    },
    confirmJoinWorkspace(workspace) {
      this.$confirm.require({
        header: this.$t("field.workspace", { workspace: workspace.title }),
        message:
          workspace.visibility === "PUBLIC"
            ? this.$t("joinPublicWorkspace")
            : this.$t("joinPrivateWorkspace"),
        acceptLabel: this.$t("yes"),
        rejectLabel: this.$t("no"),
        group: "joinWorkspace",
        accept: () => {
          workspaceService
            .requestJoinWorkspace(user.person.id, workspace.id)
            .then(() => {
              this.goToWorkspaceList();
            })
            .catch((err) => {
              this.$toast.add({
                severity: "error",
                summary: this.$t("error"),
                detail: err.message,
                life: 5000,
              });
            });
        },
        reject: () => {
          this.goToWorkspaceList();
        },
        onHide: () => {
          this.goToWorkspaceList();
        },
      });
    },
    faviconImage() {
      const config = useConfigStore();
      return `${config.APP_ROOT}images/pristy/favicon-pristy.svg`;
    },
    goToWorkspaceList() {
      this.$router.push({
        name: "mes-espaces",
      });
    },
    addMessage(msg, duration) {
      let _duration = duration ? duration : 2500;
      clearTimeout(this.timeoutID);
      clearInterval(this.timerMessagesTO);
      this.timerMessages = 1;

      if (msg instanceof Array) {
        msg.forEach((m) => this.messages.push(m));
      } else {
        this.messages.push(msg);
      }
      this.timerMessagesTO = setInterval(() => {
        this.timerMessages += 50000 / _duration;
      }, 50);

      this.timeoutID = setTimeout(() => {
        this.messages = [];
        clearInterval(this.timerMessagesTO);
        this.timerMessages = 0;
      }, _duration);
    },
    info(message) {
      this.addMessage({
        severity: "info",
        content: message,
      });
    },
    error(message) {
      console.error(message);
      this.addMessage(
        {
          severity: "error",
          content: message,
        },
        5000,
      );
    },
    success(message) {
      this.addMessage({
        severity: "success",
        content: message,
      });
    },
    async onDrop(event) {
      if (!this.canCreate) {
        this.rightsDropError = true;
        return;
      }
      let countFile = 0;
      let items = [...event.dataTransfer.items]
        .filter((item) => item.kind === "file")
        .map((item) => {
          return item.webkitGetAsEntry();
        });
      let uploadFiles = items
        .filter((entry) => entry.isFile)
        .map((entry) => {
          return new Promise((resolve, reject) => {
            entry.file((file) => {
              if (file.size > MAX_FILE_SIZE) {
                this.error(this.$t("uploadSizeError"));
                reject(this.$t("uploadSizeError"));
                return;
              }
              let opts = {
                name: file.name,
                nodeType: "cm:content",
                renditions: "doclib",
              };
              countFile++;

              limit(() =>
                alfrescoFileService
                  .uploadFile(this.currentNode.id, opts, file)
                  .then((response) => {
                    this.info(
                      this.$t("uploadLoading", {
                        number: countFile - limit.pendingCount,
                        total: countFile,
                      }),
                    );
                    resolve("Success!");
                    return response;
                  })
                  .catch((error) => {
                    this.error(this.$t(error.message));
                    reject("Erreur upload");
                  }),
              );
            });
          });
        });

      // FIXME
      if (console > 0) {
        this.info(this.$t("uploadLoading"));
      }

      // TODO items.filter((entry) => entry.isDirectory);

      await Promise.allSettled(uploadFiles)
        .then((uploadResponses) => {
          let successfulToast = uploadResponses.filter(
            (e) => e.status === "fulfilled",
          );
          let listError = uploadResponses.filter(
            (e) => e.status !== "fulfilled",
          );

          if (successfulToast.length > 0) {
            this.success(this.$t("uploadFinish"));
          }
          if (listError.length > 0) {
            this.addMessage(errorService.getUploadErrors(listError), 5000);
          }

          this.reloadData();
        })
        .catch((error) => {
          console.error("Erreur upload", error);
          this.$toast.add({
            severity: "error",
            summary: this.$t("uploadUnknownError"),
            detail: error,
            life: 5000,
          });
        });
    },
    computeUrl(node) {
      this.mimeType = node.content.mimeType;
      this.currentFileName = node.name;
      this.currentFileId = node.id;
      if (
        this.mimeType &&
        (this.mimeType === "application/pdf" ||
          this.mimeType.includes("image/") ||
          this.mimeType.includes("video/"))
      ) {
        this.url = alfrescoFileService.getContentUrl(node.id);
      } else {
        alfrescoFileService.getRenditionUrl(node.id).then((url) => {
          this.url = url;
        });
      }
    },
    closeContentPanel() {
      useUiStateStore().isPreviewPanelVisible = false;
      this.url = null;
      if (this.selectedFiles > 0) {
        this.deleteSelection();
      }
    },
    handleFileSelection(selectedFiles) {
      this.url = null;
      if (selectedFiles.length > 0) {
        const lastSelected = selectedFiles[selectedFiles.length - 1];
        this.computeUrl(lastSelected);
        useUiStateStore().isPreviewPanelVisible = !this.isSmallScreen && true;
      } else {
        this.closeContentPanel();
        useUiStateStore().isPreviewPanelVisible = false;
      }
    },
  },
  computed: {
    ...mapState(useUiStateStore, [
      "isSplitterDisplayed",
      "isPreviewPanelVisible",
      "isStaticMenuDisplayed",
      "sidebarBreakPointWithMenu",
      "sidebarBreakPointWithoutMenu",
      "windowBreakPointWithoutMenuWhenPreviewActive",
      "windowBreakPointWithMenuWhenPreviewActive",
    ]),
    ...mapState(useScreenStore, ["isSmallScreen", "screenWidth"]),
    ...mapState(useNavigationStore, [
      "currentNode",
      "workspace",
      "workspaceInfo",
      "loading",
      "folders",
      "files",
      "totalRecordNodes",
      "emptyFolder",
      "children",
      "role",
      "canUpload",
      "pagination",
    ]),
    hasMoreElements() {
      return this.totalRecordNodes >= 500;
    },
    nodeForZoneInfo() {
      if (this.hasSelectedNodes) {
        return this.selectionStore.nodes[this.selectionStore.nodes.length - 1];
      } else {
        return this.hasParamFolderId ? this.currentNode : this.workspaceInfo;
      }
    },
    hasSelectedNodes() {
      return (
        this.selectionStore.nodes.length !== 0 &&
        this.pagination &&
        !this.loading
      );
    },
    hasParamFolderId() {
      return (
        this.$route.params.FolderId !== null &&
        this.$route.params.FolderId !== undefined
      );
    },
    paramFolderID() {
      return this.$route.params.FolderId;
    },
    hasParamId() {
      return (
        this.$route.params.id !== null && this.$route.params.id !== undefined
      );
    },
    paramId() {
      return this.$route.params.id;
    },
    filelist() {
      return this.userPreferencesStore.listView ? this.children : this.files;
    },
    canCreate() {
      return this.currentNode.allowableOperations?.includes("create") || false;
    },
    isSmallScreen() {
      return window.innerWidth <= 920;
    },
    lastSelectedFileElement() {
      const lastElementIndex = this.selectedFiles.length - 1;
      return this.selectedFiles[lastElementIndex];
    },
    canUpdateLastSelectedFile() {
      const lastSelectedFiles = this.lastSelectedFileElement;
      return (
        (lastSelectedFiles &&
          lastSelectedFiles.allowableOperations?.includes("update")) ||
        false
      );
    },
    hasOnlyOneFile() {
      const fileList = this.filelist.filter((file) => file.isFile);
      return fileList.length === 1;
    },
    nodes() {
      return this.folders.concat(this.files);
    },
    showZoneInformation() {
      if (!this.isSplitterDisplayed) return false;
      return (
        (this.isPreviewPanelVisible &&
          ((this.isStaticMenuDisplayed &&
            this.screenWidth >=
              this.windowBreakPointWithMenuWhenPreviewActive) ||
            (!this.isStaticMenuDisplayed &&
              this.screenWidth >=
                this.windowBreakPointWithoutMenuWhenPreviewActive))) ||
        (!this.isPreviewPanelVisible &&
          ((!this.isStaticMenuDisplayed &&
            this.screenWidth >= this.sidebarBreakPointWithoutMenu) ||
            (this.isStaticMenuDisplayed &&
              this.screenWidth >= this.sidebarBreakPointWithMenu)))
      );
    },
    showSideBar() {
      if (!this.isSplitterDisplayed) return false;
      return (
        (this.isPreviewPanelVisible &&
          ((this.isStaticMenuDisplayed &&
            this.screenWidth <
              this.windowBreakPointWithMenuWhenPreviewActive) ||
            (!this.isStaticMenuDisplayed &&
              this.screenWidth <
                this.windowBreakPointWithoutMenuWhenPreviewActive))) ||
        (!this.isPreviewPanelVisible &&
          ((!this.isStaticMenuDisplayed &&
            this.screenWidth < this.sidebarBreakPointWithoutMenu) ||
            (this.isStaticMenuDisplayed &&
              this.screenWidth < this.sidebarBreakPointWithMenu)))
      );
    },
  },
  watch: {
    screenWidth() {
      this.handleFileSelection(this.selectedFiles);
    },
    paramFolderID() {
      this.resetSortFilter();
    },
    selectedFiles(newValue) {
      this.handleFileSelection(newValue);
    },
  },
};
</script>
<style scoped>
.pdfPanel::-webkit-scrollbar {
  display: none;
}
.pdfPanel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.max-w-66rem {
  max-width: 66rem;
}
.max-w-47rem {
  max-width: 47rem;
}
.max-w-75rem {
  max-width: 75rem;
}
.selectOrDeleteDiv {
  flex-grow: 1;
  padding: 1.25rem 1.75rem;
  position: relative;
  border: solid var(--primary-color);
  border-width: 0 0 0 0.375rem;
  border-radius: 1rem;
}

.selectOrDeleteDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-900);
  opacity: 0.33;
  pointer-events: none;
  border-radius: 0.8rem;
}
.card-max-height {
  height: calc(100vh - 5rem);
}
.max-w-40rem {
  max-width: 40rem;
}
.datatable-header {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid var(--surface-border);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #374151;
  background: var(--surface-c);
  transition: box-shadow 0.2s;
}
</style>
