<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <ZoneInfo
    v-if="workspace && node"
    :canUpload="canUpload"
    :currentNode="node"
    :workspace="workspace"
    @reload="reload"
  />
  <div class="flex">
    <div class="flex-grow-1 overflow-scroll">
      <ImageViewer
        :content-node="node"
        :version-id="versionId"
        :canUpload="canUpload"
        @reload="reload"
      />
    </div>
    <div :class="{ hidden: !isSplitterDisplayed }" class="card p-1 flex-grow-0">
      <ZoneInformation
        v-if="node"
        :node="node"
        :canEdit="canUpload && !isVersion"
        @close="changeSplitterDisplay"
        @reload="reload"
      />
    </div>
  </div>
</template>

<script>
import {
  alfrescoNodeService,
  useConfigStore,
  useSelectionStore,
  workspaceService,
} from "@pristy/pristy-libvue";
import ImageViewer from "@/components/ImageViewer.vue";
import ZoneInfo from "@/components/ZoneInfo.vue";
import ZoneInformation from "@/components/ZoneInformation.vue";
import { useUiStateStore } from "@/stores/UiStateStore.js";
import { mapState } from "pinia";

export default {
  components: {
    ZoneInformation,
    ImageViewer,
    ZoneInfo,
  },
  emits: ["fullsize", "hideFooter"],
  data() {
    return {
      node: {},
      versionId: "",
      parentItems: [],
      canUpload: true,
      workspace: null,
    };
  },
  created() {
    this.selectionStore = useSelectionStore();
  },
  unmounted() {
    this.selectionStore.resetSelection();
  },
  beforeRouteEnter(to, from, next) {
    alfrescoNodeService.getNode(to.params.id).then((node) => {
      next((vm) => vm.loadPage(node, to.params.versionId));
    });
  },
  async beforeRouteUpdate(to) {
    alfrescoNodeService.getNode(to.params.id).then((node) => {
      this.loadPage(node, to.params.versionId);
    });
  },
  methods: {
    changeSplitterDisplay() {
      useUiStateStore().changeSplitterDisplay();
    },
    reload() {
      this.$router.push({
        path: this.$route.path,
        query: { timestamp: Date.now() },
      });
    },
    loadPage(node, versionId) {
      const config = useConfigStore();
      this.node = node;
      if (versionId) {
        this.versionId = versionId;
      } else if (node.properties) {
        this.versionId = node.properties["cm:versionLabel"];
      }
      window.document.title = `${node.name} | ${config.APP_ROOT_TITLE}`;
      let wknode = node.path.elements[2];

      workspaceService
        .getWorkspace(wknode.name)
        .then((workspace) => {
          this.workspace = workspace;
          this.canUpload = workspace.role && workspace.role !== "SiteConsumer";
        })
        .catch((err) => {
          if (err.code === 404) {
            // ignore
          } else {
            this.$toast.add({
              severity: "error",
              summary: err.message,
              detail: `${err.code} - Node=${wknode.name}`,
              life: 3000,
            });
          }
        });
      this.selectionStore.selectSingleNode(this.node);
    },
  },
  computed: {
    ...mapState(useUiStateStore, ["isSplitterDisplayed"]),
    isVersion() {
      return (
        this.$route.params.versionId !== null &&
        this.$route.params.versionId !== undefined
      );
    },
  },
};
</script>
