<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <ZoneInfo
    v-if="workspace && node"
    :canUpload="canUpload"
    :currentNode="node"
    :workspace="workspace"
    @reload="loadUrl"
    class="-mt-3 -mb-1"
  />
  <div class="flex">
    <PDFComponent
      v-if="url"
      :url="url"
      @changeSplitterDisplay="changeSplitterDisplay"
    ></PDFComponent>
    <div v-else class="flex-grow-1">
      <ProgressSpinner class="loadingRendition" aria-label="Loading" />
    </div>
    <div
      :class="{ hidden: !isSplitterDisplayed }"
      class="card p-1 flex-grow-0 mb-8"
    >
      <ZoneInformation
        v-if="node"
        :node="node"
        :canEdit="canUpload && !isVersion"
        @reload="reloadPage"
        @close="changeSplitterDisplay"
      />
    </div>
  </div>
</template>

<script>
import {
  alfrescoFileService,
  alfrescoNodeService,
  workspaceService,
  useConfigStore,
  useSelectionStore,
} from "@pristy/pristy-libvue";
import ZoneInfo from "@/components/ZoneInfo.vue";
import ZoneInformation from "@/components/ZoneInformation.vue";
import PDFComponent from "@/components/PDFComponent.vue";
import "@tato30/vue-pdf/style.css";
import { mapState } from "pinia";
import { useUiStateStore } from "@/stores/UiStateStore.js";

export default {
  components: {
    PDFComponent,
    ZoneInformation,
    ZoneInfo,
  },
  emits: ["fullsize", "hideFooter"],
  data() {
    return {
      node: null,
      name: null,
      url: null,
      mimeType: null,
      canUpload: true,
      workspace: null,
    };
  },
  created() {
    this.selectionStore = useSelectionStore();
    this.loadUrl();
  },
  mounted() {
    this.$emit("hideFooter");
  },
  unmounted() {
    this.selectionStore.resetSelection();
  },
  methods: {
    changeSplitterDisplay() {
      useUiStateStore().changeSplitterDisplay();
    },
    reloadPage() {
      if (this.$route.params.versionId) {
        this.computeVersionUrl(this.$route.params.id);
      } else {
        // computeUrl(this.$route.params.id)
        this.loadUrl();
      }
    },
    loadNode(id) {
      return alfrescoNodeService.getNode(id).then((node) => {
        this.node = node;
        let wknode = node.path.elements[2];

        workspaceService
          .getWorkspace(wknode.name)
          .then((workspace) => {
            this.workspace = workspace;
            this.canUpload =
              workspace.role && workspace.role !== "SiteConsumer";
          })
          .catch((error) => {
            console.error("loadNode getWorkspace", error);
          });
        this.selectionStore.selectSingleNode(this.node);
        const config = useConfigStore();
        window.document.title = `${node.name} | ${config.APP_ROOT_TITLE}`;
        this.mimeType = node.content.mimeType;
        return node;
      });
    },
    loadUrl() {
      this.url = null;
      this.loadNode(this.$route.params.id).then((node) => {
        let versionId = this.$route.params.versionId;
        if (versionId === undefined && node.properties) {
          versionId = node.properties["cm:versionLabel"];
        }
        this.computeVersionUrl(node, versionId);
      });
    },
    computeUrl(node) {
      if (this.mimeType === "application/pdf") {
        this.url = alfrescoFileService.getContentUrl(node.id);
      } else {
        alfrescoFileService.getRenditionUrl(node.id).then((url) => {
          this.url = url;
        });
      }
    },
    async computeVersionUrl(node, versionId) {
      if (versionId === undefined) {
        versionId = await alfrescoNodeService.checkVersion(node.id);
      }
      if (versionId === undefined) {
        console.error("No version");
        return this.computeUrl(node);
      }

      if (node.content.mimeType === "application/pdf") {
        this.url = alfrescoFileService.getVersionContentUrl(node.id, versionId);
      } else {
        alfrescoFileService
          .getVersionRenditionUrl(node.id, versionId)
          .then((url) => {
            this.url = url;
          });
      }
    },
  },
  computed: {
    ...mapState(useUiStateStore, ["isSplitterDisplayed"]),
    ...mapState(useSelectionStore, ["files", "folders", "nodes"]),
    isVersion() {
      return (
        this.$route.params.versionId !== null &&
        this.$route.params.versionId !== undefined
      );
    },
  },
  watch: {
    $route() {
      if (
        this.$route.name === "consultation-pdf" ||
        this.$route.name === "consultation-pdf-version"
      ) {
        this.loadUrl();
      }
    },
  },
};
</script>
<style lang="css" scoped>
.loadingRendition {
  display: flex;
  margin: 0.5rem auto 0;
}
</style>
