<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div
    class="mb-2 d-none d-sm-flex flex-wrap justify-between align-items-center"
  >
    <InputText
      v-model="searchInput"
      @keyup.enter="clickSearch"
      :placeholder="$t('search')"
      style="max-width: 30rem"
      class="mr-2 w-full mb-1"
    />
    <Button
      :label="$t('search')"
      @click="clickSearch"
      class="mr-2 w-full sm:w-auto mb-1"
    />
    <Button
      icon="ri-delete-back-2-line"
      :label="$t('delete')"
      severity="secondary"
      class="mr-2 mb-1"
      @click="clearSearch(false)"
      v-tooltip.bottom="$t('clearSearch')"
      id="folderIButton"
      text
      raised
    />
    <Button
      icon="ri-settings-4-line"
      :label="$t('refine')"
      severity="secondary"
      class="mr-2 mb-1"
      @click="changeSplitterDisplay($event)"
      v-tooltip.bottom="$t('refineSearch')"
      id="folderIButton"
      text
      raised
    />
  </div>
  <div
    class="search-tags mb-3"
    v-if="filterQuery.length > 0 || filterField.length > 0"
  >
    <p class="search-filtre">{{ $t("searchFilters") }} :</p>
    <div class="chips-container">
      <Chip
        v-for="chip in filterQuery"
        :key="chip.label"
        :label="chip.label"
        removable
        @remove="removeFilterQuery(chip)"
      />
      <Chip
        v-for="chip in filterField"
        :key="chip.label"
        :label="chip.label"
        removable
        @remove="removeFilterField(chip)"
      />
    </div>
  </div>
  <div
    class="flex w-auto searchDataview"
    :class="{ 'max-width-50rem': !isSplitterDisplayed }"
    v-cloak
  >
    <div class="w-full mr-3">
      <DataView
        :value="fichiers"
        dataKey="id"
        :loading="loading"
        responsiveLayout="scroll"
        :layout="layout"
      >
        <template #header>
          <div class="flex">
            <div style="height: 1rem">
              <ProgressSpinner
                v-if="loading"
                style="width: 1rem; height: 1rem"
                strokeWidth="8"
                fill="var(--surface-ground)"
                animationDuration=".5s"
                aria-label="Custom ProgressSpinner"
              />
            </div>
            <div
              v-if="!loading && totalSearchEntries"
              class="nbrOfSearchResult"
            >
              {{
                $t("howMuchResult", {
                  nbrEntries: currentEntriesDisplayed,
                  totalEntries: totalSearchEntries,
                })
              }}
            </div>
            <div class="ml-auto flex gap-4">
              <DropDown
                v-model="selectedTypeFilter"
                :options="filterTypeOption"
                optionLabel="label"
                placeholder="Type"
              >
                <template #value="slotProps">
                  <div class="font-bold text-xs">
                    {{ $t("filterOn") }}
                  </div>
                  <div v-if="slotProps.value" class="flex items-center">
                    <InputIcon :class="slotProps.value.icon" />
                    <div class="ml-2">{{ slotProps.value.name }}</div>
                  </div>
                  <span v-else>
                    {{ slotProps.placeholder }}
                  </span>
                </template>
                <template #option="slotProps">
                  <div class="flex items-center">
                    <InputIcon :class="slotProps.option.icon" />
                    <div>{{ slotProps.option.name }}</div>
                  </div>
                </template>
              </DropDown>
              <div>
                <DropDown
                  v-model="selectedSortFilter"
                  :options="filterSortOption"
                  optionLabel="label"
                >
                  <template #value="slotProps">
                    <div class="font-bold text-xs">
                      {{ $t("sortOn") }}
                    </div>
                    <div v-if="slotProps.value" class="flex items-center">
                      <div>{{ slotProps.value.name }}</div>
                    </div>
                    <span v-else>
                      {{ slotProps.placeholder }}
                    </span>
                  </template>
                  <template #option="slotProps">
                    <div class="flex items-center">
                      <div>{{ slotProps.option.name }}</div>
                    </div>
                  </template>
                </DropDown>
                <Button
                  v-if="isRecentToOlderSort && this.selectedSortFilter.sort"
                  icon="ri-sort-asc"
                  text
                  size="large"
                  v-tooltip.bottom="this.$t('olderToRecentSort')"
                  @click="changeSortOrder"
                ></Button>
                <Button
                  v-else-if="
                    !isRecentToOlderSort && this.selectedSortFilter.sort
                  "
                  icon="ri-sort-desc"
                  text
                  size="large"
                  v-tooltip.bottom="this.$t('recentToOlderSort')"
                  @click="changeSortOrder"
                ></Button>
              </div>
              <DataViewLayoutOptions v-model="layout" />
            </div>
          </div>
        </template>
        <template #empty>{{ $t("searching.empty") }}</template>
        <template #loading>{{ $t("searching.loading") }}</template>
        <template #list>
          <div
            v-for="(file, index) in fichiers"
            :key="index"
            class="pt-5 pb-5 pl-6 pr-6"
            :class="{
              'max-w-75rem': isSplitterDisplayed,
            }"
          >
            <div class="overflow-x-auto">
              <!-- Header -->
              <div v-if="file.espace">
                <!-- Workspace Badge -->
                <router-link :to="toSite(file.espace)">
                  <span class="workspaceBadge">
                    {{ $t("field.workspace") }} :
                    {{ file.espace ? file.espace.name : "" }}
                  </span>
                </router-link>
              </div>
              <div v-else>
                <router-link
                  v-if="file.path.elements[2]?.name"
                  :to="toUserHomeFolder(file)"
                >
                  <span class="userHomeBadge">
                    {{ $t("field.userHome") }} :
                    {{ file.path.elements[2]?.name }}
                  </span>
                </router-link>
              </div>
              <!-- row -->
              <div
                class="w-full flex flex-row align-items-start p-2 gap-4 overflow-hidden"
              >
                <!-- Left Box - Icon or preview -->
                <div class="flex-grow-0 searchIconList">
                  <!--  TODO create Component Image width default to PristyIcon -->
                  <Image class="searchPreview" width="70" v-if="file.isFile">
                    <template #image>
                      <img
                        :src="alfrescoFileService().getThumbnailUrl(file.id)"
                        :alt="file.name"
                        @error="onImageLoadFailure($event, file)"
                      />
                    </template>
                    <template #preview>
                      <img
                        :src="alfrescoFileService().getPreviewUrl(file.id)"
                        :alt="file.name"
                      />
                    </template>
                  </Image>
                  <PristyIcon
                    hidden
                    :svgFileName="loadIcon(file)"
                    v-tooltip="loadIconLabel(file)"
                    v-if="file.isFile"
                  />
                  <PristyIcon
                    :svgFileName="loadIcon(file)"
                    v-tooltip="loadIconLabel(file)"
                    v-if="!file.isFile"
                  />
                </div>
                <!-- Right Box -->
                <div class="flex">
                  <!-- title and descrition -->
                  <div
                    class="listNameContainer"
                    :style="{ width: splitterWidth }"
                  >
                    <div class="searchTitleList" v-if="hasTitleProperty(file)">
                      <router-link
                        v-tooltip.bottom="$t('searching.title')"
                        :to="collaboraService().getRoute(file)"
                      >
                        {{ file.properties["cm:title"] }}
                      </router-link>
                    </div>
                    <div class="searchFilenameList">
                      <router-link
                        :to="collaboraService().getRoute(file)"
                        v-tooltip.bottom="$t('searching.filename')"
                      >
                        {{ file.name }}
                      </router-link>
                    </div>
                    <div
                      v-if="hasDescriptionProperty(file)"
                      class="searchDescriptionList"
                    >
                      {{ file.properties["cm:description"] }}
                    </div>
                  </div>
                  <!-- metadata -->
                  <div class="metadata-right">
                    <div v-if="file.isFile">
                      {{ $t("column.size") }} :
                      {{ convertBytesToSize(file.content?.sizeInBytes) }}
                    </div>
                    <div>
                      {{ $t("column.modifiedAt") }} :
                      {{ toLocaleDateString(file.modifiedAt) }}
                    </div>
                    <div>
                      {{ $t("column.modifiedBy") }} :
                      {{ file.modifiedByUser.displayName }}
                    </div>
                  </div>
                </div>
              </div>
              <!-- Footer -->
              <div class="w-full footer-row" v-if="file.espace">
                <BreadCrumbAlfresco
                  :model="file.path.elements"
                  v-if="file.path"
                  :key="file.id"
                  :isInSearch="true"
                  :removeHome="false"
                />
              </div>
              <div class="w-full footer-row" v-else>
                <BreadCrumbAlfresco
                  :model="file.path.elements"
                  v-if="file.path"
                  :key="file.id"
                  :isInSearch="true"
                  :removeHome="true"
                />
              </div>
            </div>
          </div>
        </template>
        <template #grid="slotProps">
          <div class="grid grid-nogutter p-5">
            <div
              v-for="(file, index) in slotProps.items"
              :key="index"
              class="flex flex-column card column-gap-8 w-20rem sm:overflow-x-scroll"
            >
              <div class="p-2">
                <div class="mb-1 ml-auto">
                  <div v-if="file.espace">
                    <!-- Workspace Badge -->
                    <router-link :to="toSite(file.espace)">
                      <span class="workspaceBadge">
                        {{ $t("field.workspace") }} :
                        {{ file.espace ? file.espace.name : "" }}
                      </span>
                    </router-link>
                  </div>
                  <div v-else>
                    <router-link
                      v-if="file.path.elements[2]?.name"
                      :to="toUserHomeFolder(file)"
                    >
                      <span class="userHomeBadge">
                        {{ $t("field.userHome") }} :
                        {{ file.path.elements[2]?.name }}
                      </span>
                    </router-link>
                  </div>
                </div>

                <div
                  class="searchTitle mt-2 w-18rem h-4rem"
                  v-if="hasTitleProperty(file)"
                >
                  <router-link
                    :to="collaboraService().getRoute(file)"
                    v-tooltip.bottom="
                      $t('searching.title') + ': ' + file.properties['cm:title']
                    "
                  >
                    {{ file.properties["cm:title"] }}
                  </router-link>
                </div>
                <div
                  class="searchFilenameList mb-2 w-18rem"
                  v-if="hasTitleProperty(file)"
                >
                  <router-link
                    :to="collaboraService().getRoute(file)"
                    class=""
                    v-tooltip.bottom="
                      $t('searching.filename') + ': ' + file.name
                    "
                  >
                    {{ file.name }}
                  </router-link>
                </div>
                <div class="searchTitle mt-2 mb-2 w-18rem h-4rem" v-else>
                  <router-link :to="collaboraService().getRoute(file)">
                    {{ file.name }}
                  </router-link>
                </div>
                <div
                  class="flex flex-column align-items-center searchPreviewDiv h-9rem"
                >
                  <router-link :to="collaboraService().getRoute(file)">
                    <Image
                      class="searchPreview"
                      width="180"
                      v-if="file.isFile"
                      preview
                    >
                      <template #image>
                        <img
                          :src="alfrescoFileService().getThumbnailUrl(file.id)"
                          :alt="file.name"
                          @error="onImageLoadFailure($event, file)"
                        />
                      </template>
                      <template #preview>
                        <img
                          :src="alfrescoFileService().getPreviewUrl(file.id)"
                          :alt="file.name"
                        />
                      </template>
                    </Image>
                    <PristyIcon
                      class="searchIcon"
                      hidden
                      :svgFileName="loadIcon(file)"
                      v-tooltip="loadIconLabel(file)"
                      v-if="file.isFile"
                    />
                    <PristyIcon
                      class="searchIcon"
                      :svgFileName="loadIcon(file)"
                      v-tooltip="loadIconLabel(file)"
                      v-if="!file.isFile"
                    />
                  </router-link>
                </div>
                <div v-if="file.isFile">
                  {{ $t("column.size") }} :
                  {{ convertBytesToSize(file.content?.sizeInBytes) }}
                </div>
                <div>
                  {{ $t("column.modifiedAt") }} :
                  {{ toLocaleDateString(file.modifiedAt) }}
                </div>
                <div>
                  {{ $t("column.modifiedBy") }} :
                  {{ file.modifiedByUser.displayName }}
                </div>
                <div class="file-items" v-if="file.espace">
                  <router-link
                    v-if="file.parent"
                    :to="
                      file.parent?.aspectNames.includes('st:siteContainer')
                        ? toSite(file.espace)
                        : collaboraService().getRoute(file.parent, file.espace)
                    "
                    class="responsive-text"
                  >
                    <i
                      v-if="
                        file.parent.aspectNames.includes('st:siteContainer')
                      "
                      class="ri-building-line icon"
                    /><i
                      v-else-if="file.parent"
                      class="ri-folder-2-line icon"
                    />{{ file.parent.name }}
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </template>
      </DataView>
      <div class="text-center mt-3" v-if="!loading && hasMoreItem">
        <Button :label="$t('showMoreResults')" rounded @click="getMoreResult" />
      </div>
    </div>
    <div
      v-if="!showSidebar"
      :class="{ hidden: !isSplitterDisplayed }"
      class="zoneSearchFilter card p-1 flex-grow-0"
    >
      <ZoneSearchFilter
        @close="changeSplitterDisplay"
        @add-field="addFilterField"
        @add-filter="addFilterQuery"
      />
    </div>
    <div v-else :class="{ hidden: !isSplitterDisplayed }" class="card p-1">
      <SideBar
        :visible="isSplitterDisplayed"
        position="right"
        class="overflow-y-scroll w-min"
      >
        <template #container>
          <ZoneSearchFilter
            @close="changeSplitterDisplay"
            @add-field="addFilterField"
            @add-filter="addFilterQuery"
          />
        </template>
      </SideBar>
    </div>
  </div>
</template>

<script>
import { mapState } from "pinia";
import {
  alfrescoFileService,
  alfrescoNodeService,
  workspaceService,
  PristyIcon,
  iconeService,
} from "@pristy/pristy-libvue";
import { FilterMatchMode } from "primevue/api";
import { useConfigStore, useSearchStore } from "@pristy/pristy-libvue";
import collaboraService from "@/services/CollaboraService";
import BreadCrumbAlfresco from "@/components/BreadCrumbAlfresco.vue";
import ZoneSearchFilter from "@/components/ZoneSearchFilter.vue";
import { convertBytesToSize } from "@/services/TranslationService";
import { useUiStateStore } from "@/stores/UiStateStore.js";
import { useScreenStore } from "@/stores/ScreenStore.js";

function mapFile(data) {
  let file = data.entry;
  if (file.path.elements) {
    file.espace = file.path.elements.find(
      (pathItem) => pathItem.nodeType === "st:site",
    );

    file.parent = file.path.elements.at(-1);
    if (file.parent.name === "documentLibrary") {
      file.parent.name = file.espace.name;
    }
  } else {
    file.espace = "";
    file.parent = "";
  }
  return file;
}

export default {
  name: "RechercheFile",
  components: {
    ZoneSearchFilter,
    PristyIcon,
    BreadCrumbAlfresco,
  },
  props: {
    routePdfVue: {
      default: "consultation-pdf",
    },
    routeImageVue: {
      default: "Vue image",
    },
  },
  data() {
    return {
      filters: {
        name: {
          value: null,
          matchMode: FilterMatchMode.CONTAINS,
        },
      },
      fichiers: [],
      layout: "list",
      filterModel: { name: "", type: "" },
      loading: true,
      searchInput: null,
      searchSite: null,
      searchFolder: null,
      filterQuery: [],
      filterField: [],
      page: 0,
      hasMoreItem: false,
      totalSearchEntries: 0,
      currentEntriesDisplayed: 0,
      selectedTypeFilter: null,
      filterTypeOption: [
        {
          name: this.$t(
            "facets.labels.http://www_alfresco_org/model/content/1_0.folder",
          ),
          filterQuery:
            'TYPE:"{http://www.alfresco.org/model/content/1.0}folder"',
          icon: "ri-folder-3-line mr-2",
        },
        {
          name: this.$t(
            "facets.labels.http://www_alfresco_org/model/content/1_0.content",
          ),
          filterQuery:
            'TYPE:"{http://www.alfresco.org/model/content/1.0}content"',
          icon: "ri-file-line mr-2",
        },
      ],
      selectedSortFilter: null,
      filterSortOption: [
        {
          name: this.$t("mostRelevant"),
        },
        {
          name: this.$t("facets.categories.modified_date"),
          sort: [{ type: "FIELD", field: "cm:modified", ascending: false }],
        },
        {
          name: this.$t("facets.categories.created_date"),
          sort: [{ type: "FIELD", field: "cm:created", ascending: false }],
        },
      ],
      currentBucket: null,
    };
  },
  emits: ["fullsize", "hideFooter"],
  created() {
    /*if (this.isMobile) {
      localStorage.setItem("splitter.display", this.isSplitterDisplayed);
    }*/
    this.selectedSortFilter = this.filterSortOption[0];

    const searchStore = useSearchStore();
    let paramSearch = this.$route?.query?.search;
    let paramSite = this.$route?.query?.filter_site;
    let paramFolder = this.$route?.query?.filter_folder;
    let hasEntries = searchStore.entries.length > 0;

    if (!paramSearch && hasEntries) {
      // Reload old search
      this.searchInput = searchStore.userQuery;
      this.fichiers = this.entries.map(mapFile);
    } else {
      // Reset
      searchStore.reset();

      this.searchInput = paramSearch;
    }
    this.searchSite = paramSite;
    this.searchFolder = paramFolder;
  },
  async mounted() {
    await this.loadSiteAndFolder();
    this.search();
  },
  watch: {
    entries() {
      this.fichiers = this.entries.map(mapFile);
    },
    selectedSortFilter: {
      handler(newValue, oldValue) {
        if (!newValue.sort) {
          if (oldValue !== null) {
            useSearchStore().removeSortField();
            this.search();
          }
        } else {
          useSearchStore().addSortField(newValue.sort);
          this.search();
        }
      },
      deep: true,
    },
    selectedTypeFilter(newValue, oldValue) {
      if (newValue) {
        if (oldValue) {
          useSearchStore().removeField(oldValue);
          this.removeFilterFieldWithoutSearch({
            query: oldValue.filterQuery,
          });
        }
        this.currentBucket = {
          query: newValue.filterQuery,
          label: newValue.name,
        };
        useSearchStore().addField(this.currentBucket);
        this.addFilterField(this.currentBucket);
        this.reloadFilterField();
      }
    },
  },
  computed: {
    ...mapState(useUiStateStore, [
      "isSplitterDisplayed",
      "isStaticMenuDisplayed",
      "affinageZoneBreakPointWithMenu",
      "affinageZoneBreakPointWithoutMenu",
    ]),
    ...mapState(useScreenStore, ["screenWidth", "isSmallScreen"]),
    ...mapState(useSearchStore, {
      entries: "entries",
    }),
    showSidebar() {
      return (
        (this.isStaticMenuDisplayed &&
          this.screenWidth <= this.affinageZoneBreakPointWithMenu) ||
        (!this.isStaticMenuDisplayed &&
          this.screenWidth <= this.affinageZoneBreakPointWithoutMenu)
      );
    },
    isRecentToOlderSort() {
      return (
        this.selectedSortFilter.sort &&
        this.selectedSortFilter.sort[0] &&
        this.selectedSortFilter.sort[0].ascending === false
      );
    },
    hasTitleProperty() {
      return (data) => {
        return data.properties && data.properties["cm:title"];
      };
    },
    hasDescriptionProperty() {
      return (data) => {
        return data.properties && data.properties["cm:description"];
      };
    },
    splitterWidth() {
      return this.isSplitterDisplayed ? "60vw" : "30vw";
    },
  },
  methods: {
    convertBytesToSize,
    getMoreResult() {
      this.page++;
      this.loading = true;
      const searchStore = useSearchStore();
      searchStore
        .queryStore(this.searchInput, this.page)
        .then(() => {
          this.loading = false;
          this.hasMoreItem = searchStore.pagination.hasMoreItems;
          this.currentEntriesDisplayed += searchStore.pagination.count;
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur",
            detail: error.message,
            life: 3000,
          });
        });
    },
    changeSplitterDisplay() {
      useUiStateStore().changeSplitterDisplay();
      if (!this.isSplitterDisplayed && this.isSmallScreen) {
        this.search();
      }
    },
    collaboraService() {
      return collaboraService;
    },
    alfrescoFileService() {
      return alfrescoFileService;
    },
    updateSearchUrl(pathname, urlParams) {
      const newUrl = `${pathname}?${urlParams.toString()}`;
      window.history.replaceState({}, "", newUrl);
    },
    /* Search from the page */
    clickSearch() {
      const searchStore = useSearchStore();
      const urlParams = new URLSearchParams(window.location.search);
      if (!this.searchInput) {
        // searchInput is not define
        this.clearSearch();
      } else {
        if (searchStore.userQuery === this.searchInput) {
          // Same query, reload data ?
        } else {
          // New query, reset and search
          this.clearSearchKeepFilter(true);
          urlParams.set("search", this.searchInput);
          this.updateSearchUrl(window.location.pathname, urlParams);
          this.search();
        }
      }
    },
    clearSearchKeepFilter(keepSearchInput) {
      if (!keepSearchInput) {
        this.searchInput = "";
        this.removeParamFilter("search");
      }
      this.hasMoreItem = 0;
      this.totalSearchEntries = 0;
      this.page = 0;
    },
    search() {
      this.page = 0;
      this.loading = true;
      const searchStore = useSearchStore();
      searchStore
        .queryStore(this.searchInput)
        .then(() => {
          this.loading = false;
          this.hasMoreItem = searchStore.pagination.hasMoreItems;
          this.totalSearchEntries = searchStore.pagination.totalItems;
          this.currentEntriesDisplayed = searchStore.pagination.count;
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur",
            detail: error.message,
            life: 3000,
          });
        });
    },
    clearSearch(keepSearchInput) {
      if (!keepSearchInput) {
        this.searchInput = "";
        this.removeParamFilter("search");
      }
      const searchStore = useSearchStore();
      searchStore.reset();
      this.filterQuery = [];
      this.filterField = [];
      this.hasMoreItem = 0;
      this.totalSearchEntries = 0;
      this.page = 0;
      this.searchSite = null;
      this.removeParamFilter("filter_site");
      this.searchFolder = null;
      this.removeParamFilter("filter_folder");
    },
    getTarget(item) {
      return collaboraService.canOpenWithCollabora(item) ? "_blank" : "";
    },
    removeParamFilter(paramName) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.delete(paramName);
      const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
      window.history.pushState({}, "", newUrl);
    },
    addFilterQuery(bucket) {
      this.filterQuery.push(bucket);
      this.search();
    },
    removeFilterQuery(bucket) {
      const searchStore = useSearchStore();
      searchStore.removeFilterQuery(bucket);
      this.reloadFilterQuery();
      this.search();
    },
    addFilterField(bucket) {
      this.filterField.push(bucket);
      this.search();
    },
    removeFilterField(bucket) {
      const searchStore = useSearchStore();
      searchStore.removeField(bucket);
      const matchingFilter = this.filterTypeOption.find(
        (option) => option.filterQuery === bucket.query,
      );
      if (matchingFilter) {
        this.selectedTypeFilter = null;
      }
      this.reloadFilterField();
      this.search();
    },
    removeFilterFieldWithoutSearch(bucket) {
      const searchStore = useSearchStore();
      searchStore.removeField(bucket);
    },
    loadIcon(item) {
      return iconeService.getIcon(item);
    },
    loadIconLabel(item) {
      return iconeService.getIconLabel(item);
    },
    onImageLoadFailure(event, node) {
      if (node && node.isFile && node.content.mimeType) {
        // TODO add if content.mimeType is supported ? "image/jpeg"
        alfrescoFileService.createAllRendition(node.id).catch((err) => {
          console.log(
            `createAllRendition error ${err.status} for ${node.id} mimeType=${node.content.mimeType}`,
          );
        });
      }
      event.target.parentElement.style.display = "none";
      event.target.parentElement.nextElementSibling.hidden = false;
    },
    toLocaleDateString(datestr) {
      if (!datestr) {
        return "";
      }
      let date = new Date(datestr);
      return new Intl.DateTimeFormat("fr-FR").format(date);
    },
    toggleCollaboraVue(item) {
      let routeData = this.$router.resolve({
        name: "edit-collabora",
        params: { action: "edit", id: item.id },
      });
      window.open(routeData.href, "_blank");
    },
    toUserHome(item) {
      if (item.path.elements >= 3) {
        return {
          name: "navigation-user-home-dossier",
          params: {
            IdUser: item.path.elements[2].name,
            FolderId: item.path.elements[3].id,
          },
        };
      }
    },
    toUserHomeFolder(item) {
      if (item?.path?.elements[2]?.name) {
        return {
          name: "navigation-user-home",
          params: {
            IdUser: item.path.elements[2].name,
          },
        };
      }
    },
    toSite(item) {
      return {
        name: "navigation",
        params: {
          id: item.name,
        },
      };
    },
    gotoFolder(item) {
      if (item.isFolder && item.to) {
        this.$router.push(item.to);
      } else {
        console.warn("gotoFolder - invalid param", item);
      }
    },
    async loadSiteAndFolder() {
      const searchStore = useSearchStore();
      if (this.searchSite) {
        await workspaceService
          .getWorkspace(this.searchSite)
          .then((site) => {
            searchStore.addFilterQuery({
              query: `(SITE:"${this.searchSite}")`,
              label: site.title,
            });
          })
          .catch((error) => {
            console.error("loadSiteAndFolder getWorkspace", error);
          });
      }

      if (this.searchFolder) {
        await alfrescoNodeService.getNode(this.searchFolder).then((node) => {
          searchStore.addFilterQuery({
            query: `ANCESTOR:"workspace://SpacesStore/${this.searchFolder}"`,
            label: `${this.$t("folder")} : ${node.name}`,
          });
        });
      }

      if (this.filterField.length === 0) {
        this.reloadFilterField();
      }
      if (this.filterQuery.length === 0) {
        this.reloadFilterQuery();
      }
    },
    reloadFilterField() {
      const searchStore = useSearchStore();
      this.filterField = [...searchStore.fields];
    },
    reloadFilterQuery() {
      const searchStore = useSearchStore();
      const config = useConfigStore();
      this.filterQuery = searchStore.filterQueries.slice(
        config.SEARCH_BASE_FILTER_QUERIES.length,
      );
    },
    changeSortOrder() {
      let newSort = this.selectedSortFilter;
      newSort.sort[0].ascending = !this.selectedSortFilter.sort[0].ascending;
      this.selectedSortFilter = newSort;
    },
  },
};
</script>
<style lang="css" scoped>
.listNameContainer {
  max-width: 32rem;
}

.nbrOfSearchResult {
  font-weight: normal;
}

.footer-row {
  margin-bottom: 0.6rem;
  color: var(--surface-600);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (width < 48em) {
  .metadata-right {
    display: none;
  }
}

@media screen and (width >= 48em) {
  .metadata-right {
    min-width: 15rem;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--surface-400);
    padding-left: 0.5rem;
  }
}

.footer-row nav {
  padding: 0;
}
</style>
