<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <ZoneInfo
    v-if="workspace && node"
    :canUpload="canUpload"
    :currentNode="node"
    :workspace="workspace"
    @reload="loadPage"
  />

  <div class="flex">
    <div class="flex-grow-1 overflow-scroll">
      <TiptapEditor :content-node="node" :content-url="contentUrl" />
    </div>
    <div :class="{ hidden: !isSplitterDisplayed }" class="card p-1 flex-grow-0">
      <ZoneInformation
        v-if="node"
        :node="node"
        :canEdit="canUpload && !isVersion"
        @close="changeSplitterDisplay"
        @reload="loadPage"
      />
    </div>
  </div>
</template>

<script>
import {
  alfrescoFileService,
  alfrescoNodeService,
  useConfigStore,
  workspaceService,
  useSelectionStore,
} from "@pristy/pristy-libvue";
import ZoneInformation from "@/components/ZoneInformation.vue";
import TiptapEditor from "@/components/TiptapEditor.vue";
import ZoneInfo from "@/components/ZoneInfo.vue";
import { useUiStateStore } from "@/stores/UiStateStore.js";
import { mapState } from "pinia";

export default {
  components: {
    ZoneInfo,
    ZoneInformation,
    TiptapEditor,
  },
  emits: ["fullsize", "hideFooter"],
  data() {
    return {
      node: null,
      versionId: null,
      contentUrl: null,
      url: null,
      canUpload: true,
      workspace: null,
    };
  },
  created() {
    this.selectionStore = useSelectionStore();
    this.loadPage();
  },
  unmounted() {
    this.selectionStore.resetSelection();
  },
  methods: {
    changeSplitterDisplay() {
      useUiStateStore().changeSplitterDisplay();
    },
    loadPage() {
      const id = this.$route.params.id;
      const config = useConfigStore();
      this.versionId = this.$route.params.versionId;
      alfrescoNodeService.getNode(id).then((node) => {
        this.node = node;
        window.document.title = `${node.name} | ${config.APP_ROOT_TITLE}`;
        let wknode = node.path.elements[2];
        workspaceService
          .getWorkspace(wknode.name)
          .then((workspace) => {
            this.workspace = workspace;
            this.canUpload =
              workspace.role && workspace.role !== "SiteConsumer";
          })
          .catch((error) => {
            console.error("loadPage getWorkspace", error);
          });
        this.selectionStore.selectSingleNode(this.node);
        this.contentUrl = this.versionId
          ? alfrescoFileService.getVersionContentUrl(node.id, this.versionId)
          : alfrescoFileService.getContentUrl(node.id);
      });
    },
  },
  computed: {
    ...mapState(useUiStateStore, ["isSplitterDisplayed"]),
    isVersion() {
      return (
        this.$route.params.versionId !== null &&
        this.$route.params.versionId !== undefined
      );
    },
  },
  watch: {
    $route() {
      if (
        this.$route.name === "text-editor" ||
        this.$route.name === "text-editor-version"
      ) {
        this.loadPage();
      }
    },
  },
};
</script>
<style lang="scss">
/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}
</style>
