<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div v-if="hasNoUserHome">
    <ErrorComponent
      :errorNb="404"
      :titleProps="$t('noUserHomeFound')"
      :subtitleProps="
        $t('noUserHomeFoundSubtitle', { idUser: this.$route.params.IdUser })
      "
    />
  </div>
  <div v-else>
    <div>
      <ZoneInfo
        v-if="workspace && currentNode"
        :canUpload="canUpload"
        :currentNode="currentNode"
        :workspace="workspace"
        :searchZone="true"
        @reload="reloadData"
      />
    </div>
    <div class="w-full flex pr-4">
      <div class="align mb-1 flex-grow-1">
        <ProgressSpinner
          v-if="loading"
          style="width: 1rem; height: 1rem"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration=".5s"
          aria-label="Custom ProgressSpinner"
        />
        <div
          v-if="!loading && pagination && !hasSelectedNodes"
          class="nbrOfSearchResult"
        >
          {{
            $t("howMuchResult", {
              nbrEntries: pagination.count,
              totalEntries: pagination.totalItems,
            })
          }}
        </div>
        <div
          v-else-if="
            hasSelectedNodes &&
            !hasCurrentPageAllElementsSelected &&
            !isRemoveSelectionDisplayed
          "
          class="nbrOfSearchResult"
        >
          {{
            $t("howMuchSelected", {
              nbrEntries: selectionStore.nodes.length,
              totalEntries: pagination.totalItems,
            })
          }}
        </div>
        <div
          v-else-if="hasSelectedNodes && hasCurrentPageAllElementsSelected"
          class="selectOrDeleteDiv"
        >
          <span class="ml-2 flex">
            {{
              $t("howMuchSelected", {
                nbrEntries: selectionStore.nodes.length,
                totalEntries: pagination.totalItems,
              })
            }}
            <p
              v-if="hasMoreElements"
              class="font-bold cursor-pointer ml-2"
              @click="selectAllNodes()"
            >
              {{
                $t("selectAllElementMoreThan", {
                  totalEntries: pagination.totalItems,
                })
              }}
            </p>
            <p
              v-else
              class="font-bold cursor-pointer ml-2"
              @click="selectAllNodes()"
            >
              {{
                $t("selectAllElement", { totalEntries: pagination.totalItems })
              }}
            </p>
          </span>
        </div>
        <div
          v-else-if="hasSelectedNodes && isRemoveSelectionDisplayed"
          class="selectOrDeleteDiv"
        >
          <span class="ml-2 flex">
            {{
              $t("howMuchSelected", {
                nbrEntries: selectionStore.nodes.length,
                totalEntries: pagination.totalItems,
              })
            }}
            <p class="font-bold cursor-pointer ml-2" @click="deleteSelection()">
              {{ $t("deleteSelection") }}
            </p>
          </span>
        </div>
      </div>

      <div class="align ml-auto mb-1 flex-none">
        <NewMenu
          :currentFolder="currentNode"
          @reload="reloadData"
          @change-layout="changeLayout"
        />
      </div>
    </div>
    <Message v-if="rightsDropError" severity="info">{{
      $t("noRightsForDrop")
    }}</Message>
    <div class="flex mt-2">
      <div
        class="droptarget flex-grow-1 card p-1"
        :class="{
          'mr-4': !isPreviewPanelVisible && !isSplitterDisplayed,
          'mr-2': isPreviewPanelVisible || isSplitterDisplayed,
          'max-w-40rem': isSplitterDisplayed && isPreviewPanelVisible,
          'max-w-34rem': !isSplitterDisplayed && isPreviewPanelVisible,
        }"
        @dragover.prevent
        @dragenter.prevent
        @drop.prevent="onDrop"
      >
        <Message
          v-for="msg in messages"
          :key="msg.severity"
          :severity="msg.severity"
          :life="2000"
          >{{ msg.content }}
        </Message>
        <ProgressBar
          v-if="timerMessages > 0"
          :value="timerMessages"
          style="height: 3px"
          :pt="{
            value: { style: { background: '#8e2de2' } },
          }"
          :show-value="false"
        />
        <FileList
          v-if="!emptyFolder"
          ref="fileList"
          :canUpload="true"
          :currentNode="currentNode"
          :files="filelist"
          :layout="layout"
          :totalRecordNodes="totalRecordNodes"
          @reload="reloadData()"
          @update-skipcount="updateSkipCount"
        />
        <PageVide
          v-if="emptyFolder && !loading"
          :canUpload="true"
          :isMember="true"
          @popup="openPopup"
        />
      </div>
      <div
        class="pr-1 w-full classic_zone flex-grow-1"
        :class="{
          hidden: !isContentPannelShown,
        }"
      >
        <div
          class="card p-1 flex-grow-1 overflow-scroll pdfPanel scrollbar-width-none card-max-height"
        >
          <div class="flex justify-content-between p-2 pdfPanelHeader">
            <Button
              class="m-2"
              type="button"
              icon="ri-close-line"
              @click="closeContentPanel"
              severity="danger"
              rounded
              text
            />
            <div class="flex flex-column align-items-left h-full m-2">
              <div
                class="text-xm font-bold overflow-hidden custom-ellipsis text-left max-w-30rem"
                v-tooltip="currentFileName"
              >
                {{ currentFileName }}
              </div>
              <div
                class="text-sm text-500 overflow-hidden custom-ellipsis text-left max-w-30rem mt-1"
                v-tooltip="currentFileName"
              >
                {{ currentFileName }}
              </div>
            </div>
            <router-link
              v-if="lastSelectedFileElement"
              :to="collaboraService().getRoute(lastSelectedFileElement)"
            >
              <Button
                class="m-2"
                label="Ouvrir"
                type="button"
                severity="secondary"
                raised
              />
            </router-link>
          </div>
          <div class="pdfPanelHeader flex justify-content-center w-full flex">
            <Button
              type="button"
              icon="ri-expand-left-line"
              class="w-13rem"
              :label="$t(`previousFile`)"
              v-tooltip="$t(`previousFile`)"
              size="small"
              severity="secondary"
              text
              :disabled="hasOnlyOneFile"
              @click="showPreviousFile(children)"
            />
            <Button
              v-if="canUpdateLastSelectedFile"
              :label="$t('rename')"
              v-tooltip="$t('rename')"
              icon="ri-edit-line"
              severity="secondary"
              text
              size="small"
              @click="openRename()"
            />
            <Button
              type="button"
              icon="ri-star-line"
              :label="$t('add/removeFavorite')"
              v-tooltip="$t('add/removeFavorite')"
              severity="secondary"
              size="small"
              text
              @click="toggleFavorite"
            />
            <Button
              type="button"
              icon="ri-expand-right-line"
              class="w-13rem"
              :label="$t(`nextFile`)"
              severity="secondary"
              v-tooltip="$t(`nextFile`)"
              size="small"
              iconPos="right"
              text
              :disabled="hasOnlyOneFile"
              @click="showNextFile(children)"
            />
          </div>
          <div
            v-if="
              selectedFiles[0] &&
              this.mimeType &&
              this.mimeType.includes(`image/`)
            "
          >
            <ImageViewer :content-node="lastSelectedFileElement" />
          </div>
          <div
            v-else-if="
              selectedFiles[0] &&
              this.mimeType &&
              this.mimeType.includes(`video/`)
            "
          >
            <VideoPlayer
              :contentUrl="url"
              :contentNode="lastSelectedFileElement"
            />
          </div>
          <div v-else-if="url">
            <PDFComponent :key="url" :url="url" class="h-full"></PDFComponent>
          </div>
        </div>
      </div>
      <div v-if="isSplitterDisplayed" class="card p-1 flex-grow-0">
        <ZoneInformation
          v-if="workspace && (currentNode || workspaceInfo)"
          :canEdit="canUpload && hasParamFolderId"
          :node="nodeForZoneInfo"
          @close="changeSplitterDisplay"
          @reload="reloadData"
        />
      </div>
    </div>
  </div>
  <ModifyNodePopup
    v-if="popup === 'MODIFYNODE'"
    :popupTitle="modifyPopupTitle"
    @close="closePopup"
  />
  <NewFolderPopup
    v-if="popup === 'NEWFOLDER'"
    :node="currentNode"
    @close="closePopup"
  />
  <ImportPopup
    v-if="popup === 'IMPORT'"
    :node="currentNode"
    @close="closePopup"
    @message="addMessage"
  />
</template>
<script>
import {
  alfrescoFileService,
  alfrescoNodeService,
  favoriteService,
  useConfigStore,
  useNavigationStore,
  useSelectionStore,
  useUserPreferencesStore,
  useUserStore,
} from "@pristy/pristy-libvue";
import FileList from "@/components/FileList.vue";
import NewMenu from "@/components/NewMenu.vue";
import { useUiStateStore } from "@/stores/UiStateStore.js";
import PageVide from "@/components/PageVide.vue";
import { mapState } from "pinia";
import VideoPlayer from "@/components/VideoPlayer.vue";
import ZoneInformation from "@/components/ZoneInformation.vue";
import ImageViewer from "@/components/ImageViewer.vue";
import PDFComponent from "@/components/PDFComponent.vue";
import { useStorage } from "@vueuse/core";
import { usePaginatorStore } from "@/stores/PaginatoreStore.js";
import collaboraService from "@/services/CollaboraService.js";
import ZoneInfo from "@/components/ZoneInfo.vue";
import ModifyNodePopup from "@/components/popup/ModifyNodePopup.vue";
import { useScreenStore } from "@/stores/ScreenStore.js";
import ErrorComponent from "@/components/ErrorComponent.vue";
import ImportPopup from "@/components/popup/ImportPopup.vue";
import NewFolderPopup from "@/components/popup/NewFolderPopup.vue";

export default {
  name: "UserHome",
  components: {
    NewFolderPopup,
    ImportPopup,
    ErrorComponent,
    ModifyNodePopup,
    ZoneInfo,
    PDFComponent,
    ImageViewer,
    ZoneInformation,
    VideoPlayer,
    PageVide,
    NewMenu,
    FileList,
  },
  emits: ["fullsize", "hideFooter"],
  data() {
    return {
      popup: null,
      layout: "datatable",
      messages: [],
      timerMessages: 0,
      userPreferencesStore: null,
      collaboraRouteData: null,
      rightsDropError: false,
      selectionStore: null,
      hasCurrentPageAllElementsSelected: false,
      isRemoveSelectionDisplayed: false,
      isContentPannelShown: false,
      skipCount: 0,
      isPageSelected: false,
      currentFileName: "",
      selectedFiles: [],
      url: null,
      modifyPopupTitle: "",
    };
  },
  mounted() {
    this.loadData();
  },
  created() {
    this.userPreferencesStore = useUserPreferencesStore();
    this.selectionStore = useSelectionStore();
    this.selectionStore.$subscribe((mutation, state) => {
      this.selectedFiles = state.files;
    });
  },
  methods: {
    addMessage(msg, duration) {
      let _duration = duration ? duration : 2500;
      clearTimeout(this.timeoutID);
      clearInterval(this.timerMessagesTO);
      this.timerMessages = 1;

      if (msg instanceof Array) {
        msg.forEach((m) => this.messages.push(m));
      } else {
        this.messages.push(msg);
      }
      this.timerMessagesTO = setInterval(() => {
        this.timerMessages += 50000 / _duration;
      }, 50);

      this.timeoutID = setTimeout(() => {
        this.messages = [];
        clearInterval(this.timerMessagesTO);
        this.timerMessages = 0;
      }, _duration);
    },
    info(message) {
      this.addMessage({
        severity: "info",
        content: message,
      });
    },
    error(message) {
      console.error(message);
      this.addMessage(
        {
          severity: "error",
          content: message,
        },
        5000,
      );
    },
    success(message) {
      this.addMessage({
        severity: "success",
        content: message,
      });
    },
    collaboraService() {
      return collaboraService;
    },
    openRename() {
      useUiStateStore().isPopupOpen = true;
      useSelectionStore().selectSingleNode(this.lastSelectedFileElement);
      this.tempAspectsName = this.lastSelectedFileElement.aspectNames;
      this.lastSelectedFileElement.aspectNames = undefined;
      this.modifyPopupTitle = "renameElement";
      this.popup = "MODIFYNODE";
    },
    toggleFavorite() {
      favoriteService
        .changeSingleFavorite(this.lastSelectedFileElement)
        .then((favorite) => {
          this.$toast.add({
            severity: "success",
            summary: "Favoris",
            detail: favorite.isFavorite
              ? `Element ${favorite.name} mis en favori`
              : `Element ${favorite.name} enlevé des favoris`,
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur de favoris",
            detail: err.message,
            life: 3000,
          });
        });
    },
    updateSkipCount(skipCount) {
      this.skipCount = skipCount;
      this.reloadData();
    },
    reloadData() {
      this.loadData();
    },
    loadData() {
      if (!this.hasNoUserHome) {
        const elementPerPage = useStorage(
          "elementPerPage",
          useConfigStore().DEFAULT_ELEMENT_PER_PAGE,
        );
        const opts = {
          include: [
            "isFavorite",
            "properties",
            "allowableOperations",
            "permissions",
            "path",
            "isLocked",
          ],
          skipCount: this.skipCount,
          maxItems: elementPerPage.value,
        };

        let fetchPromise;

        if (this.$route.params.FolderId) {
          fetchPromise = alfrescoNodeService.getChildrenWithOpts(
            this.$route.params.FolderId,
            opts,
          );
        } else {
          fetchPromise = alfrescoNodeService
            .getHomeFolderFromUser(this.$route.params.IdUser)
            .then((data) => {
              return alfrescoNodeService.getChildrenWithOpts(
                data.list.entries[0].entry.properties["cm:homeFolder"],
                opts,
              );
            });
        }

        fetchPromise.then((response) => {
          useNavigationStore().totalRecordNodes =
            response.pagination.totalItems;
          useNavigationStore().pagination = response.pagination;
          useNavigationStore().children = response.children;

          if (response.children.length === 0 && this.skipCount !== 0) {
            this.updateSkipCount(this.skipCount - elementPerPage.value);
            this.reloadData();
          }
        });
      }
    },
    updatePageSelectedNodes() {
      if (this.isPageSelected) {
        const storedDataString = localStorage.getItem(
          `datatable-folder-page-list--${useNavigationStore().currentNode.id}`,
        );
        const storedData = JSON.parse(storedDataString);
        const numberOfRows = storedData.rows;
        const first = storedData.first || 0;
        if (first === 0) {
          this.selectedNodes = this.filelist.slice(0, numberOfRows);
        } else {
          const startIndex = first % this.filelist.length;
          this.selectedNodes = this.filelist.slice(
            startIndex,
            startIndex + numberOfRows,
          );
        }
        this.selectionStore.selectNodes(this.selectedNodes);
        this.$emit("page-selected");
      } else {
        this.selectionStore.resetSelection();
      }
    },
    selectAllNodes() {
      let opts = {
        include: [
          "isFavorite",
          "properties",
          "allowableOperations",
          "permissions",
          "path",
          "isLocked",
        ],
        skipCount: 0,
        maxItems: 500,
      };
      alfrescoNodeService
        .getChildrenWithOpts(this.currentNode.id, opts)
        .then((response) => {
          let children = response.children;
          if (children.length > 0) {
            this.selectionStore.selectNodes(children);
          }
          this.hasCurrentPageAllElementsSelected = false;
          this.isRemoveSelectionDisplayed = true;
        });
    },
    closePopup(reload) {
      this.popup = null;
      useUiStateStore().isPopupOpen = false;
      if (reload) {
        this.reloadData();
      }
    },
    changeSplitterDisplay() {
      useUiStateStore().changeSplitterDisplay();
    },
    keyBoardHandler(event) {
      if (
        useUiStateStore().isKeyboardNavEnable &&
        !useUiStateStore().isPopupOpen
      ) {
        const nodes = useNavigationStore().children;
        if (event.key === "ArrowUp") {
          this.showPreviousFile(nodes);
        } else if (event.key === "ArrowDown") {
          this.showNextFile(nodes);
        }
      }
    },
    showNextFile(nodes) {
      let currentIndex = this.getCurrentNodeIndex(nodes);
      if (currentIndex === -1) return;

      const elementPerPage = useStorage("elementPerPage", 1);
      const totalElements = this.totalRecordNodes;
      const currentGlobalIndex = this.skipCount + currentIndex;

      if (currentGlobalIndex + 1 >= totalElements) {
        this.skipCount = 0;
        this.loadAndSelectFile(0);
        usePaginatorStore().first = this.skipCount;
      } else if (currentIndex + 1 >= elementPerPage.value) {
        this.skipCount += elementPerPage.value;
        usePaginatorStore().first = this.skipCount;
        this.loadAndSelectFile(0);
      } else {
        this.changeSelectedFile(currentIndex + 1, nodes);
      }
    },
    changeSelectedFile(newIndex, nodes) {
      const newSelectedFile = nodes[newIndex];
      this.selectionStore.selectSingleNode(newSelectedFile);
    },
    showPreviousFile(nodes) {
      let currentIndex = this.getCurrentNodeIndex(nodes);
      if (currentIndex !== -1) {
        const elementPerPage = useStorage("elementPerPage", 1);
        if (currentIndex === 0) {
          if (this.skipCount > 0) {
            this.skipCount -= elementPerPage.value;
            usePaginatorStore().first = this.skipCount;
            this.loadAndSelectLastFile();
          } else {
            const totalElements = this.totalRecordNodes;
            this.skipCount =
              Math.floor((totalElements - 1) / elementPerPage.value) *
              elementPerPage.value;
            usePaginatorStore().first = this.skipCount;
            this.loadAndSelectLastFile();
          }
        } else {
          let newIndex = currentIndex - 1;
          this.changeSelectedFile(newIndex, nodes);
        }
      }
    },

    getCurrentNodeIndex(nodes) {
      const selectedNode = this.selectionStore.nodes[0];
      return this.selectionStore.nodes.length === 1
        ? nodes.findIndex((file) => file.id === selectedNode.id)
        : -1;
    },
    changeLayout(newLayout) {
      this.layout = newLayout;
    },
    deleteSelection() {
      this.selectionStore.resetSelection();
      this.hasCurrentPageAllElementsSelected = false;
      this.isRemoveSelectionDisplayed = false;
      this.$refs.fileList.resetPageSelection();
    },
    openPopup(name) {
      this.popup = name;
    },
    computeUrl(node) {
      this.mimeType = node.content.mimeType;
      this.currentFileName = node.name;
      this.currentFileId = node.id;
      if (
        this.mimeType &&
        (this.mimeType === "application/pdf" ||
          this.mimeType.includes("image/") ||
          this.mimeType.includes("video/"))
      ) {
        this.url = alfrescoFileService.getContentUrl(node.id);
      } else {
        alfrescoFileService.getRenditionUrl(node.id).then((url) => {
          this.url = url;
        });
      }
    },
    closeContentPanel() {
      this.isContentPannelShown = false;
      useUiStateStore().isPreviewPanelVisible = false;
      this.url = null;
      if (this.selectedFiles > 0) {
        this.deleteSelection();
      }
    },
  },
  computed: {
    ...mapState(useUiStateStore, [
      "isSplitterDisplayed",
      "isPreviewPanelVisible",
      "isStaticMenuDisplayed",
    ]),
    ...mapState(useScreenStore, ["isSmallScreen", "screenWidth"]),
    ...mapState(useNavigationStore, [
      "workspace",
      "workspaceInfo",
      "loading",
      "folders",
      "files",
      "children",
      "role",
      "canUpload",
      "pagination",
      "totalRecordNodes",
      "currentNode",
      "hasNoUserHome",
    ]),
    emptyFolder() {
      return this.children.length === 0;
    },
    isAdmin() {
      return useUserStore().person.capabilities.isAdmin;
    },
    isSmallScreen() {
      return window.innerWidth <= 920;
    },
    lastSelectedFileElement() {
      const lastElementIndex = this.selectedFiles.length - 1;
      return this.selectedFiles[lastElementIndex];
    },
    canUpdateLastSelectedFile() {
      const lastSelectedFiles = this.lastSelectedFileElement;
      return (
        (lastSelectedFiles &&
          lastSelectedFiles.allowableOperations?.includes("update")) ||
        false
      );
    },
    filelist() {
      return this.userPreferencesStore.listView ? this.children : this.files;
    },
    hasOnlyOneFile() {
      const fileList = this.filelist.filter((file) => file.isFile);
      return fileList.length === 1;
    },
    hasMoreElements() {
      return this.totalRecordNodes >= 500;
    },
    hasSelectedNodes() {
      return (
        this.selectionStore.nodes.length !== 0 &&
        this.pagination &&
        !this.loading
      );
    },
    nodeForZoneInfo() {
      if (this.hasSelectedNodes) {
        return this.selectionStore.nodes[this.selectionStore.nodes.length - 1];
      } else {
        return this.currentNode;
      }
    },
    hasParamFolderId() {
      return (
        this.$route.params.FolderId !== null &&
        this.$route.params.FolderId !== undefined
      );
    },
    paramFolderID() {
      return this.$route.params.FolderId;
    },
  },
  watch: {
    selectedFiles(newValue) {
      this.url = null;
      if (newValue.length > 0) {
        this.isContentPannelShown = !this.isSmallScreen;
        const lastSelected = newValue[newValue.length - 1];
        this.computeUrl(lastSelected);
        useUiStateStore().isPreviewPanelVisible = true;
      } else {
        this.closeContentPanel();
        useUiStateStore().isPreviewPanelVisible = false;
      }
    },
  },
};
</script>

<style scoped></style>
