<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <ZoneInfo
    v-if="workspace && node"
    :canUpload="canUpload"
    :currentNode="node"
    :workspace="workspace"
    @reload="loadPage"
  />
  <div class="flex">
    <div class="flex-grow-1 overflow-scroll">
      <VideoPlayer
        :content-node="node"
        :content-url="videoUrl"
        :canUpload="canUpload"
        @reload="loadPage"
      />
    </div>
    <div :class="{ hidden: !isSplitterDisplayed }" class="card p-1 flex-grow-0">
      <ZoneInformation
        v-if="node"
        :node="node"
        :canEdit="canUpload && !isVersion"
        @close="changeSplitterDisplay"
        @reload="reload"
      />
    </div>
  </div>
</template>

<script>
import {
  alfrescoFileService,
  alfrescoNodeService,
  useConfigStore,
  workspaceService,
  useSelectionStore,
} from "@pristy/pristy-libvue";
import VideoPlayer from "@/components/VideoPlayer.vue";
import ZoneInfo from "@/components/ZoneInfo.vue";
import ZoneInformation from "@/components/ZoneInformation.vue";
import { useUiStateStore } from "@/stores/UiStateStore.js";
import { mapState } from "pinia";

export default {
  components: {
    ZoneInformation,
    VideoPlayer,
    ZoneInfo,
  },
  emits: ["fullsize", "hideFooter"],
  data() {
    return {
      node: null,
      versionId: null,
      videoUrl: null,
      url: null,
      canUpload: true,
      workspace: null,
    };
  },
  created() {
    this.selectionStore = useSelectionStore();
    this.loadPage();
  },
  unmounted() {
    this.selectionStore.resetSelection();
  },
  methods: {
    changeSplitterDisplay() {
      useUiStateStore().changeSplitterDisplay();
    },
    reload() {
      this.$router.push({
        path: this.$route.path,
        query: { timestamp: Date.now() },
      });
    },
    loadPage() {
      const id = this.$route.params.id;
      const config = useConfigStore();

      this.versionId = this.$route.params.versionId;
      alfrescoNodeService.getNode(id).then((node) => {
        this.node = node;
        window.document.title = `${node.name} | ${config.APP_ROOT_TITLE}`;
        let wknode = node.path.elements[2];
        workspaceService
          .getWorkspace(wknode.name)
          .then((workspace) => {
            this.workspace = workspace;
            this.canUpload =
              workspace.role && workspace.role !== "SiteConsumer";
          })
          .catch((error) => {
            console.error("loadPage getWorkspace", error);
          });
        this.selectionStore.selectSingleNode(this.node);
        this.videoUrl = this.versionId
          ? alfrescoFileService.getVersionContentUrl(node.id, this.versionId)
          : alfrescoFileService.getContentUrl(node.id);
      });
    },
  },
  computed: {
    ...mapState(useUiStateStore, ["isSplitterDisplayed"]),
    isVersion() {
      return (
        this.$route.params.versionId !== null &&
        this.$route.params.versionId !== undefined
      );
    },
  },
  watch: {
    $route() {
      if (
        this.$route.name === "consultation-video" ||
        this.$route.name === "consultation-video-version"
      ) {
        this.loadPage(this.$route.params.id);
      }
    },
  },
};
</script>
