<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="col-12">
    <div class="card card-w-title">
      <h1>{{ $t("members.management", { workspace: workspaceTitle }) }}</h1>
    </div>
    <MemberList
      :workspace="workspace"
      :members="members"
      :permissions="enablePermissions"
      :role="role"
      @reload="loadMembers()"
    ></MemberList>
  </div>
</template>
<script>
import { workspaceService } from "@pristy/pristy-libvue";
import MemberList from "@/components/MemberList.vue";

export default {
  components: { MemberList },
  data() {
    return {
      workspace: null,
      workspaceTitle: null,
      members: null,
      enablePermissions: false,
      role: null,
    };
  },
  mounted() {
    workspaceService
      .getWorkspace(this.$route.params.id)
      .then((workspace) => {
        this.workspace = workspace;
        this.workspaceTitle = this.workspace.title;
        return workspace;
      })
      .then((workspace) => {
        this.role = this.$t(`role.${workspace.role}`);
        this.enablePermissions = this.role === this.$t("role.SiteManager");
      })
      .catch((error) => {
        console.error("mounted getWorkspace", error);
      });
    this.loadMembers();
  },
  methods: {
    loadMembers() {
      let opts = {
        maxItems: 1000,
      };
      let users = workspaceService
        .getWorkspaceMembershipsWithOpts(this.$route.params.id, opts)
        .then((usersArr) => {
          return usersArr.list.entries.map((user) => ({
            ...user.entry,
            isGroup: false,
          }));
        });
      let groups = workspaceService
        .getWorkspaceGroupsWithOpts(this.$route.params.id, opts)
        .then((groupsArr) => {
          return groupsArr.map((group) => ({
            ...group,
            isGroup: true,
          }));
        });
      Promise.all([users, groups]).then(
        (result) => (this.members = [...result[0], ...result[1]]),
      );
    },
  },
};
</script>
<style></style>
