<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="col-12">
    <div class="card card-w-title">
      <div class="grid align">
        <div class="col">
          <h3 v-t="'workspacesListTitle'" />
        </div>
      </div>
      <div class="zone-recherche-workspace">
        <IconField iconPosition="left">
          <InputIcon class="ri-delete-bin-line" @click="clearFilter()">
          </InputIcon>
          <InputText
            v-model="filterInput"
            @keyup.enter="filterWorkspaces(filterInput)"
            @change="filterWorkspaces(filterInput)"
            type="text"
            :placeholder="$t('filter')"
          />
        </IconField>
      </div>
      <WorkspaceList
        :workspaces="workspacesDisplayed"
        :layout="layout"
        @reload="loadWorkspaces"
      />
    </div>
  </div>
</template>
<script>
import { favoriteService, workspaceService } from "@pristy/pristy-libvue";
import WorkspaceList from "@/components/WorkspaceList.vue";

export default {
  components: { WorkspaceList },
  data() {
    return {
      workspaces: null,
      layout: "grid",
      workspacesDisplayed: null,
      filterInput: "",
    };
  },
  mounted() {
    this.loadWorkspaces();
  },
  methods: {
    /* first load workspaces then search for all workspaces to add properties
     * then merge the list with https://stackoverflow.com/a/61670621/2448019
     */
    loadWorkspaces() {
      workspaceService
        .getWorkspaces()
        .then((workspaces) => {
          this.workspaces = workspaces;
          return workspaceService.searchAllWorkspaces();
        })
        .then((srchWorkspaces) => {
          const mergedList = this.workspaces.map((t1) => ({
            ...t1,
            ...srchWorkspaces.find((t2) => t2.id === t1.guid),
          }));
          this.workspaces = mergedList.filter(
            (workspace) => !workspace.typeEspace,
          );
          return favoriteService.getFavorites("site");
        })
        .then((favWorkspaces) => {
          this.workspaces.forEach((workspace) => {
            let isFavorite = favWorkspaces.find(
              (favorite) => favorite.target.site.guid === workspace.id,
            );
            workspace.isFavorite = !!isFavorite;
          });
          this.workspacesDisplayed = this.workspaces;
        })
        .catch((error) => {
          console.error("loadWorkspaces", error);
        });
    },
    filterWorkspaces(filterText) {
      if (filterText === "") {
        this.workspacesDisplayed = this.workspaces;
        return;
      }
      const lowercaseFilter = filterText.toLowerCase();
      this.workspacesDisplayed = this.workspaces.filter((workspace) => {
        const nameMatches = workspace.name
          .toLowerCase()
          .includes(lowercaseFilter);
        const titleMatches = workspace.title
          .toLowerCase()
          .includes(lowercaseFilter);
        return nameMatches || titleMatches;
      });
    },
    clearFilter() {
      this.filterInput = "";
      this.filterWorkspaces(this.filterInput);
    },
  },
};
</script>
<style scoped lang="scss">
::v-deep(.p-datatable-frozen-tbody) {
  font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
  font-weight: bold;
}
</style>
