<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <BreadCrumb :model="path" v-if="path">
    <template #item="item">
      <div class="flex align-items-center">
        <router-link :to="item.item.to" class="flex align-items-center">
          <span :class="item.icon" />
          <i
            v-if="item.item.nodeType === 'st:site'"
            class="ri-building-line icon"
            :class="{
              'primary-color': !isLastItem(item),
              searchOrConsultActiveClass: isInSearch || isInConsultation,
            }"
          /><i
            v-else-if="item.item.nodeType === 'home'"
            class="ri-home-4-line icon"
            :class="{
              'primary-color': !isLastItem(item),
              searchOrConsultActiveClass: isInSearch || isInConsultation,
            }"
          /><i
            v-else-if="item.item.isFolder"
            class="ri-folder-2-line icon"
            :class="{
              'primary-color': !isLastItem(item),
              searchOrConsultActiveClass: isInSearch || isInConsultation,
            }"
          />
          <span
            class="commonElementName"
            :class="{
              lastItemElementName:
                isLastItem(item) && !isInSearch && !isInConsultation,
              breadcrumbElementName: !isLastItem(item),
              searchOrConsultActiveClass: isInSearch || isInConsultation,
            }"
            v-tooltip="item.item.name"
          >
            {{ item.item.name }}
          </span>
        </router-link>
        <Button
          v-if="isLastItem(item) && !isInSearch"
          type="button"
          class="breadcrumbDropdown"
          icon="ri-more-2-fill"
          v-tooltip="$t('moreActions')"
          @click="toggleMenuActionButton($event, item)"
          rounded
          text
          severity="secondary"
        />
      </div>
      <Menu ref="menuAction" :model="menuActionItems" :popup="true">
        <template #item="{ label, item, props }">
          <router-link
            v-if="item.route"
            v-slot="routerProps"
            :to="item.route"
            custom
          >
            <a :href="routerProps.href" v-bind="props.action">
              <span v-bind="props.icon" />
              <span v-bind="props.label">{{ label }}</span>
            </a>
          </router-link>
          <a v-else :href="item.url" v-bind="props.action">
            <span v-bind="props.icon" />
            <span v-bind="props.label">{{ label }}</span>
          </a>
        </template>
      </Menu>
    </template>
  </BreadCrumb>
  <ModifyNodePopup
    v-if="popup === 'MODIFYNODE'"
    :popupTitle="modifyPopupTitle"
    @close="closePopup"
  />
  <ModifyWorkspacePopup
    v-if="popup === 'MODIFYWORKSPACE'"
    :workspace="modifyWorkspaceItem"
    @close="closePopup"
  />
  <CopyNodePopup
    v-if="popup === 'COPYNODE'"
    @close="closePopup"
    :currentNode="breadCrumbNode"
  />
  <MoveNodePopup
    v-if="popup === 'MOVENODE'"
    @close="closePopup"
    :currentNode="breadCrumbNode"
  />
  <MemberListPopup
    v-if="popup === 'MEMBERS'"
    :isSite="isSite"
    :folderNode="breadCrumbNode"
    @close="closePopup"
    @reload="loadPath()"
  />
</template>

<script>
import {
  alfrescoNodeService,
  favoriteService,
  menuService,
  useMenuStore,
  useNavigationStore,
  useSelectionStore,
  workspaceService,
} from "@pristy/pristy-libvue";
import CopyNodePopup from "@/components/popup/CopyNodePopup.vue";
import ModifyWorkspacePopup from "@/components/popup/ModifyWorkspacePopup.vue";
import MoveNodePopup from "@/components/popup/MoveNodePopup.vue";
import ModifyNodePopup from "@/components/popup/ModifyNodePopup.vue";
import MemberListPopup from "@/components/popup/MemberListPopup.vue";
import actionsService from "@/services/ActionsService.js";
import { useUiStateStore } from "@/stores/UiStateStore.js";
import { mapState } from "pinia";

export default {
  name: "BreadCrumbAlfresco",
  components: {
    CopyNodePopup,
    ModifyNodePopup,
    ModifyWorkspacePopup,
    MoveNodePopup,
    MemberListPopup,
  },
  props: {
    model: {
      type: Array,
    },
    currentNode: null,
    isInSearch: {
      type: Boolean,
      default: false,
    },
    removeHome: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["reload"],
  data() {
    return {
      path: [],
      popup: null,
      modifyWorkspaceItem: null,
      workspaceName: null,
      menuActionItems: [],
      breadCrumbNode: {},
      modifyPopupTitle: "",
      workspaceNode: null,
      tempAspectsName: null,
      isSite: false,
    };
  },
  mounted() {
    this.loadPath();
  },
  methods: {
    isLastItem(item) {
      return item.item === this.path[this.path.length - 1];
    },
    toggleMenuActionButton(event, item) {
      this.breadCrumbNode = item.item;
      this.isSite = this.breadCrumbNode.nodeType === "st:site";
      const canUpdate =
        this.currentNode.allowableOperations?.includes("update") || false;
      const canUpdatePermissions =
        this.currentNode.allowableOperations?.includes("updatePermissions") ||
        false;
      this.menuActionItems = [
        {
          label: this.$t("modify"),
          visible: canUpdate && this.isSite,
          icon: "ri-edit-line",
          command: () => {
            this.openModifyWorkspace();
          },
        },
        {
          label: this.$t("manageMembers"),
          visible: canUpdatePermissions && this.isSite,
          icon: "ri-shield-user-line",
          command: () => {
            this.openMembers();
          },
        },
        {
          label: this.$t("seeMembers"),
          visible: !canUpdatePermissions && this.isSite,
          icon: "ri-shield-user-line",
          command: () => {
            this.openMembers();
          },
        },
        {
          label: this.$t("move"),
          icon: "ri-corner-up-right-line",
          visible: !this.isSite && this.hasRequiredOperationsForOwner(),
          command: () => {
            this.openMove();
          },
        },
        {
          label: this.$t("copy"),
          icon: "ri-file-copy-line",
          visible: !this.isSite,
          command: () => {
            this.openCopy();
          },
        },
        {
          label: this.$t("add/removeFavorite"),
          icon: "ri-star-line",
          visible: !this.isSite,
          command: () => {
            this.toggleFavorite();
          },
        },
        {
          label: this.$t("rename"),
          icon: "ri-edit-line",
          visible: canUpdate && !this.isSite,
          command: () => {
            this.openRename();
          },
        },
        {
          label: this.$t("properties"),
          icon: "ri-information-line",
          visible: canUpdate && !this.isSite,
          command: () => {
            this.openModify();
          },
        },
        {
          label: this.$t("permissions"),
          visible: canUpdatePermissions && !this.isSite,
          icon: "ri-team-line",
          command: () => {
            this.openMembers();
          },
        },
        {
          label: this.$t("seePermissions"),
          visible: !canUpdatePermissions && !this.isSite,
          icon: "ri-shield-user-line",
          command: () => {
            this.openMembers();
          },
        },
        {
          label: this.$t("copyLink"),
          icon: "ri-link",
          command: () => {
            this.copyInternLink();
          },
        },
      ];
      this.$refs.menuAction.toggle(event);
    },
    loadPath() {
      if (this.isInUserHome || this.removeHome) {
        let baseItem = {};
        if (this.currentNode) {
          baseItem = {
            name: this.currentNode.name,
            isFolder: true,
            to: {
              name: "navigation-user-home",
              params: {
                IdUser: this.currentNode.name,
              },
            },
          };
        }
        if (this.model.length <= 2) {
          this.path = [
            {
              ...baseItem,
              to: {
                name: "navigation-user-home",
                params: {
                  IdUser: this.currentNode?.properties["cm:owner"].id,
                },
              },
            },
          ];
        } else {
          const slicedItems = this.model.slice(2, 4);
          const updatedPath = slicedItems.map((item, index) => ({
            name: item.name,
            isFolder: true,
            to: {
              name:
                index === 0
                  ? "navigation-user-home"
                  : "navigation-user-home-dossier",
              params:
                index === 0
                  ? {
                      IdUser: this.currentNode
                        ? this.currentNode.path.elements[2].name
                        : this.model[2].name,
                    }
                  : {
                      IdUser: this.currentNode
                        ? this.currentNode.path.elements[2].name
                        : this.model[2].name,
                      FolderId: item.id,
                    },
            },
          }));
          if (Object.keys(baseItem).length === 0) {
            this.path = [...updatedPath];
          } else {
            this.path = [...updatedPath, baseItem];
          }
        }
      } else {
        const updatedModel = this.model.slice(2);
        this.path = updatedModel.filter(this.isNodeIgnore).map((item) => {
          if (item.nodeType === "st:site") {
            item.isFolder = true;
            item.to = {
              name: "navigation",
              params: { id: item.name },
            };

            this.workspaceName = item.name;
          } else {
            if (
              this.workspaceName === undefined ||
              this.workspaceName === null
            ) {
              item.to = {};
            } else {
              item.isFolder = true;
              item.to = {
                name: "navigation-dossier",
                params: { id: this.workspaceName, FolderId: item.id },
              };
            }
          }
          return item;
        });

        if (
          this.currentNode &&
          this.currentNode.isFolder &&
          this.currentNode.name !== "documentLibrary"
        ) {
          let item = { ...this.currentNode };
          item.to = {
            name: "navigation-dossier",
            params: { id: this.workspaceName, FolderId: this.currentNode.id },
          };
          this.path.push(item);
        }
        this.path.unshift({
          nodeType: "home",
          to: {
            name: "mes-espaces",
          },
        });
      }
    },
    //TODO il faudra penser à changer de méthode plutôt que d'utiliser le name
    isNodeIgnore(item) {
      return (
        item.nodeType !== "st:sites" &&
        item.nodeType !== "sys:container" &&
        item.nodeType !== "cm:person" &&
        item.name !== "Company Home" &&
        item.name !== "documentLibrary"
      );
    },
    copyInternLink() {
      let item = this.breadCrumbNode;
      useSelectionStore().selectSingleNode(item);
      if (item) {
        const link = actionsService.getNodeInternLink(item);
        navigator.clipboard
          .writeText(link)
          .then(() => {
            this.$toast.add({
              severity: "success",
              summary: this.$t("share.copyLinkToastSummary"),
              detail: this.$t("share.copyLinkToastDetail"),
              life: 3000,
            });
          })
          .catch(() => {
            this.$toast.add({
              severity: "error",
              summary: this.$t("share.copyLinkErrorSummary"),
              detail: this.$t("share.copyLinkErrorDetail"),
              life: 3000,
            });
          });
      }
    },
    openModifyWorkspace() {
      useUiStateStore().isPopupOpen = true;
      workspaceService
        .getWorkspace(this.breadCrumbNode.name)
        .then((workspace) => {
          workspace.name = workspace.id;
          this.modifyWorkspaceItem = workspace;
          this.popup = "MODIFYWORKSPACE";
        });
    },
    openRename() {
      useUiStateStore().isPopupOpen = true;
      useSelectionStore().selectSingleNode(this.breadCrumbNode);
      this.tempAspectsName = this.breadCrumbNode.aspectNames;
      this.breadCrumbNode.aspectNames = undefined;
      this.modifyPopupTitle = "renameElement";
      this.popup = "MODIFYNODE";
    },
    openModify() {
      useUiStateStore().isPopupOpen = true;
      useSelectionStore().selectSingleNode(this.breadCrumbNode);
      this.tempAspectsName = this.breadCrumbNode.aspectNames;
      this.modifyPopupTitle = "properties";
      this.popup = "MODIFYNODE";
    },
    openMove() {
      useUiStateStore().isPopupOpen = true;
      useSelectionStore().selectSingleNode(this.breadCrumbNode);
      this.popup = "MOVENODE";
    },
    openCopy() {
      useUiStateStore().isPopupOpen = true;
      useSelectionStore().selectSingleNode(this.breadCrumbNode);
      this.popup = "COPYNODE";
    },
    closePopup() {
      useUiStateStore().isPopupOpen = false;
      if (this.popup === "MODIFYNODE") {
        this.breadCrumbNode.aspectNames = this.tempAspectsName;
      }
      this.popup = null;
      this.$emit("reload");
    },
    openMembers() {
      this.popup = "MEMBERS";
      useUiStateStore().isPopupOpen = true;
    },
    toggleFavorite() {
      favoriteService
        .changeSingleFavorite(this.breadCrumbNode)
        .then((favorite) => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("menu.favoris"),
            detail: favorite.isFavorite
              ? this.$t("node.addElementFavorite", {
                  name: favorite.name,
                })
              : this.$t("node.removeElementFavorite", {
                  name: favorite.name,
                }),
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("node.favoriteError"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    hasRequiredOperationsForOwner() {
      const requiredOperations = ["update", "delete", "updatePermissions"];
      return requiredOperations.every((operation) =>
        this.currentNode.allowableOperations?.includes(operation),
      );
    },
    toggleWorkspaceFavorite() {
      alfrescoNodeService.getNode(this.currentNode.id).then((workspaceNode) => {
        this.breadCrumbNode.isFavorite = workspaceNode.isFavorite;
        workspaceService
          .getWorkspace(this.breadCrumbNode.name)
          .then((workspace) => {
            this.breadCrumbNode.title = workspace.title;
            let menuStore = useMenuStore();
            favoriteService
              .changeSingleFavorite(this.breadCrumbNode)
              .then((favorite) => {
                if (favorite.isFavorite) {
                  menuStore.addFavorite(
                    menuService.siteToMenuItem(favorite),
                    "menuEspaces",
                  );
                  this.breadCrumbNode.isFavorite = favorite.isFavorite;
                  this.$toast.add({
                    severity: "success",
                    summary: this.$t("menu.favoris"),
                    detail: this.$t("node.addSiteFavorite", {
                      name: favorite.title,
                    }),
                    life: 3000,
                  });
                } else {
                  menuStore.removeFavorite(
                    menuService.siteToMenuItem(favorite),
                    "menuEspaces",
                  );
                  this.breadCrumbNode.isFavorite = favorite.isFavorite;
                  this.$toast.add({
                    severity: "success",
                    summary: this.$t("menu.favoris"),
                    detail: this.$t("node.removeSiteFavorite", {
                      name: favorite.title,
                    }),
                    life: 3000,
                  });
                }
              })
              .catch((err) => {
                console.error("erreur de favoris", err);
                this.$toast.add({
                  severity: "error",
                  summary: this.$t("node.favoriteError"),
                  detail: err.message,
                  life: 3000,
                });
              });
          });
      });
    },
  },
  computed: {
    ...mapState(useNavigationStore, ["isInConsultation", "isInUserHome"]),
  },
  watch: {
    currentNode() {
      this.loadPath();
    },
  },
};
</script>

<style lang="css">
.p-breadcrumb a {
  color: var(--surface-600);
}

.p-breadcrumb-list {
  flex-wrap: wrap;
}
</style>
