<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="p-breadcrumb p-component" v-if="path">
    <div class="p-breadcrumb-list">
      <!-- Home Icon -->
      <div class="p-menuitem">
        <router-link :to="path[0].to">
          <span class="ri-home-4-line icon primary-color" />
        </router-link>
      </div>

      <i class="ri-arrow-right-s-line"></i>

      <!-- Intermediate Path (only for large screen) -->
      <div v-if="!isVerySmallScreen">
        <div class="p-menuitem">
          <router-link :to="path[1].to" class="flex align-items-center">
            <span class="ri-building-line icon primary-color"> </span>
            <span
              class="commonElementName breadcrumbElementName"
              v-tooltip="path[1].name"
            >
              {{ path[1].name }}
            </span>
          </router-link>
        </div>
      </div>

      <i class="ri-arrow-right-s-line" v-if="!isVerySmallScreen"></i>

      <!-- Breadcrumb Dropdown -->
      <Button
        type="button"
        class="breadcrumbEllipsis"
        icon="ri-more-fill"
        @click="toggleBreadCrumbMenu($event)"
        rounded
        text
        severity="secondary"
      />
      <Menu ref="menuBreadcrumb" :model="menuBreadcrumbItems" :popup="true">
        <template #item="{ item }">
          <div class="p-2">
            <router-link :to="item.route">
              <span class="ml-2 breadcrumbMenuItem" :class="item.icon" />
              <span class="ml-2 breadcrumbMenuItem">{{ item.label }}</span>
            </router-link>
          </div>
        </template>
      </Menu>

      <i class="ri-arrow-right-s-line" v-if="!isVerySmallScreen"></i>

      <!-- secondToLastItem (only for large screen) -->
      <div v-if="!isVerySmallScreen">
        <div class="p-menuitem">
          <router-link
            :to="secondToLastItem.to"
            class="flex align-items-center"
          >
            <span class="ri-folder-2-line icon primary-color"> </span>
            <span
              class="commonElementName breadcrumbElementName"
              v-tooltip="secondToLastItem.name"
            >
              {{ secondToLastItem.name }}
            </span>
          </router-link>
        </div>
      </div>

      <i class="ri-arrow-right-s-line"></i>

      <!-- Last Item -->
      <div class="p-menuitem">
        <router-link :to="lastItem.to" class="flex align-items-center">
          <span
            class="ri-folder-2-line icon"
            :class="{ 'primary-color': isInConsultation }"
          />
          <span
            class="commonElementName"
            :class="{
              lastItemElementName: !isInConsultation,
              breadcrumbElementName: isInConsultation,
            }"
            v-tooltip="lastItem.name"
          >
            {{ lastItem.name }}
          </span>
        </router-link>
      </div>

      <!-- More Actions Button -->
      <Button
        v-if="!isInSearch"
        type="button"
        class="breadcrumbDropdown"
        icon="ri-more-2-fill"
        v-tooltip="$t('moreActions')"
        @click="toggleMenuActionButton($event, lastItem)"
        rounded
        text
        severity="secondary"
      />
      <Menu ref="menuAction" :model="menuActionItems" :popup="true">
        <template #item="{ label, item, props }">
          <router-link
            v-if="item.route"
            v-slot="routerProps"
            :to="item.route"
            custom
          >
            <a :href="routerProps.href" v-bind="props.action">
              <span v-bind="props.icon" />
              <span v-bind="props.label">{{ label }}</span>
            </a>
          </router-link>
          <a v-else :href="item.url" v-bind="props.action">
            <span v-bind="props.icon" />
            <span v-bind="props.label">{{ label }}</span>
          </a>
        </template>
      </Menu>
    </div>
  </div>
  <ModifyNodePopup
    v-if="popup === 'MODIFYNODE'"
    :popupTitle="modifyPopupTitle"
    @close="closePopup"
  />
  <ModifyWorkspacePopup
    v-if="popup === 'MODIFYWORKSPACE'"
    :workspace="modifyWorkspaceItem"
    @close="closePopup"
  />
  <CopyNodePopup
    v-if="popup === 'COPYNODE'"
    @close="closePopup"
    :currentNode="breadCrumbNode"
  />
  <MoveNodePopup
    v-if="popup === 'MOVENODE'"
    @close="closePopup"
    :currentNode="breadCrumbNode"
  />
  <MemberListPopup
    v-if="popup === 'MEMBERS'"
    :isSite="isSite"
    :folderNode="breadCrumbNode"
    @close="closePopup"
    @reload="loadPath()"
  />
</template>
<script>
import MemberListPopup from "@/components/popup/MemberListPopup.vue";
import ModifyNodePopup from "@/components/popup/ModifyNodePopup.vue";
import ModifyWorkspacePopup from "@/components/popup/ModifyWorkspacePopup.vue";
import MoveNodePopup from "@/components/popup/MoveNodePopup.vue";
import CopyNodePopup from "@/components/popup/CopyNodePopup.vue";
import {
  alfrescoNodeService,
  favoriteService,
  menuService,
  useMenuStore,
  useNavigationStore,
  useSelectionStore,
  useUserStore,
  workspaceService,
} from "@pristy/pristy-libvue";
import { mapState } from "pinia";
import { useScreenStore } from "@/stores/ScreenStore.js";

export default {
  name: "EllipsisBreadcrumb",
  components: {
    CopyNodePopup,
    MoveNodePopup,
    ModifyWorkspacePopup,
    ModifyNodePopup,
    MemberListPopup,
  },
  props: {
    model: {
      type: Array,
    },
    currentNode: null,
    isInSearch: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["reload"],
  data() {
    return {
      path: null,
      popup: null,
      modifyWorkspaceItem: null,
      workspaceName: null,
      menuActionItems: [],
      breadCrumbNode: {},
      modifyPopupTitle: "",
      workspaceNode: null,
      tempAspectsName: null,
      isSite: false,
      menuBreadcrumbItems: [],
    };
  },
  mounted() {
    this.loadPath();
  },
  methods: {
    toggleBreadCrumbMenu(event) {
      let pathToDisplay;
      if (!this.isVerySmallScreen && !this.isSmallScreen) {
        pathToDisplay = this.path.slice(2, -2);
      } else if (this.isVerySmallScreen) {
        pathToDisplay = this.path.slice(1, this.path.length - 1);
      } else if (this.isSmallScreen && !this.isVerySmallScreen) {
        pathToDisplay = this.path.slice(2, this.path.length - 2);
      }
      this.menuBreadcrumbItems = pathToDisplay.map((item) => ({
        label: item.name,
        icon:
          item.nodeType === "cm:folder"
            ? "ri-folder-2-line"
            : "ri-building-line",
        route: item.to,
      }));
      this.$refs.menuBreadcrumb.toggle(event);
    },
    toggleMenuActionButton(event, item) {
      this.breadCrumbNode = item;
      this.isSite = this.breadCrumbNode.nodeType === "st:site";
      const canUpdate =
        this.currentNode.allowableOperations?.includes("update") || false;
      const canUpdatePermissions =
        this.currentNode.allowableOperations?.includes("updatePermissions") ||
        false;
      this.menuActionItems = [
        {
          label: this.$t("modify"),
          visible: canUpdate && this.isSite,
          icon: "ri-edit-line",
          command: () => {
            this.openModifyWorkspace();
          },
        },
        {
          label: this.$t("manageMembers"),
          visible: canUpdatePermissions && this.isSite,
          icon: "ri-shield-user-line",
          command: () => {
            this.openMembers();
          },
        },
        {
          label: this.$t("seeMembers"),
          visible: !canUpdatePermissions && this.isSite,
          icon: "ri-shield-user-line",
          command: () => {
            this.openMembers();
          },
        },
        {
          label: this.$t("move"),
          icon: "ri-corner-up-right-line",
          visible: !this.isSite && this.hasRequiredOperationsForOwner(),
          command: () => {
            this.openMove();
          },
        },
        {
          label: this.$t("copy"),
          icon: "ri-file-copy-line",
          visible: !this.isSite,
          command: () => {
            this.openCopy();
          },
        },
        {
          label: this.$t("add/removeFavorite"),
          icon: "ri-star-line",
          visible: !this.isSite,
          command: () => {
            this.toggleFavorite();
          },
        },
        {
          label: this.$t("rename"),
          icon: "ri-edit-line",
          visible: canUpdate && !this.isSite,
          command: () => {
            this.openRename();
          },
        },
        {
          label: this.$t("properties"),
          icon: "ri-information-line",
          visible: canUpdate && !this.isSite,
          command: () => {
            this.openModify();
          },
        },
        {
          label: this.$t("permissions"),
          visible: canUpdatePermissions && !this.isSite,
          icon: "ri-team-line",
          command: () => {
            this.openMembers();
          },
        },
        {
          label: this.$t("seePermissions"),
          visible: !canUpdatePermissions && !this.isSite,
          icon: "ri-shield-user-line",
          command: () => {
            this.openMembers();
          },
        },
      ];
      this.$refs.menuAction.toggle(event);
    },
    loadPath() {
      if (this.isInUserHome) {
        const baseItem = {
          name: this.currentNode.name,
          isFolder: true,
          to: {
            name: "navigation-user-home",
            params: {
              IdUser: useUserStore().person.id,
              FolderId: this.currentNode.id,
            },
          },
        };

        if (this.model.length <= 2) {
          this.path = [
            {
              ...baseItem,
              to: {
                name: "navigation-user-home",
                params: {
                  IdUser: useUserStore().person.id,
                  FolderId: useUserStore().homeFolder,
                },
              },
            },
          ];
        } else {
          const updatedPath = this.model.slice(2).map((item) => ({
            name: item.name,
            isFolder: true,
            to: {
              name: "navigation-user-home",
              params: {
                IdUser: useUserStore().person.id,
                FolderId: item.id,
              },
            },
          }));
          this.path = [...updatedPath, baseItem];
        }
      } else {
        const updatedModel = this.model.slice(2);
        this.path = updatedModel.filter(this.isNodeIgnore).map((item) => {
          if (item.nodeType === "st:site") {
            item.isFolder = true;
            item.to = {
              name: "navigation",
              params: { id: item.name },
            };

            this.workspaceName = item.name;
          } else {
            if (
              this.workspaceName === undefined ||
              this.workspaceName === null
            ) {
              item.to = {};
            } else {
              item.isFolder = true;
              item.to = {
                name: "navigation-dossier",
                params: { id: this.workspaceName, FolderId: item.id },
              };
            }
          }
          return item;
        });

        if (
          this.currentNode &&
          this.currentNode.isFolder &&
          this.currentNode.name !== "documentLibrary"
        ) {
          let item = { ...this.currentNode };
          item.to = {
            name: "navigation-dossier",
            params: { id: this.workspaceName, FolderId: this.currentNode.id },
          };
          this.path.push(item);
        }
        this.path.unshift({
          nodeType: "home",
          to: {
            name: "mes-espaces",
          },
        });
      }
    },
    isNodeIgnore(item) {
      return (
        item.nodeType !== "st:sites" &&
        item.nodeType !== "sys:container" &&
        item.nodeType !== "cm:person" &&
        item.name !== "Company Home" &&
        item.name !== "documentLibrary"
      );
    },
    openModifyWorkspace() {
      workspaceService
        .getWorkspace(this.breadCrumbNode.name)
        .then((workspace) => {
          workspace.name = workspace.id;
          this.modifyWorkspaceItem = workspace;
          this.popup = "MODIFYWORKSPACE";
        });
    },
    openRename() {
      useSelectionStore().selectSingleNode(this.breadCrumbNode);
      this.tempAspectsName = this.breadCrumbNode.aspectNames;
      this.breadCrumbNode.aspectNames = undefined;
      this.modifyPopupTitle = "renameElement";
      this.popup = "MODIFYNODE";
    },
    openModify() {
      useSelectionStore().selectSingleNode(this.breadCrumbNode);
      this.tempAspectsName = this.breadCrumbNode.aspectNames;
      this.modifyPopupTitle = "properties";
      this.popup = "MODIFYNODE";
    },
    openMove() {
      useSelectionStore().selectSingleNode(this.breadCrumbNode);
      this.popup = "MOVENODE";
    },
    openCopy() {
      useSelectionStore().selectSingleNode(this.breadCrumbNode);
      this.popup = "COPYNODE";
    },
    closePopup() {
      if (this.popup === "MODIFYNODE") {
        this.breadCrumbNode.aspectNames = this.tempAspectsName;
      }
      this.popup = null;
      this.$emit("reload");
    },
    openMembers() {
      this.popup = "MEMBERS";
    },
    toggleFavorite() {
      favoriteService
        .changeSingleFavorite(this.breadCrumbNode)
        .then((favorite) => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("menu.favoris"),
            detail: favorite.isFavorite
              ? this.$t("node.addElementFavorite", {
                  name: favorite.name,
                })
              : this.$t("node.removeElementFavorite", {
                  name: favorite.name,
                }),
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("node.favoriteError"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    hasRequiredOperationsForOwner() {
      const requiredOperations = ["update", "delete", "updatePermissions"];
      return requiredOperations.every((operation) =>
        this.currentNode.allowableOperations?.includes(operation),
      );
    },
    toggleWorkspaceFavorite() {
      alfrescoNodeService.getNode(this.currentNode.id).then((workspaceNode) => {
        this.breadCrumbNode.isFavorite = workspaceNode.isFavorite;
        workspaceService
          .getWorkspace(this.breadCrumbNode.name)
          .then((workspace) => {
            this.breadCrumbNode.title = workspace.title;
            let menuStore = useMenuStore();
            favoriteService
              .changeSingleFavorite(this.breadCrumbNode)
              .then((favorite) => {
                if (favorite.isFavorite) {
                  menuStore.addFavorite(
                    menuService.siteToMenuItem(favorite),
                    "menuEspaces",
                  );
                  this.breadCrumbNode.isFavorite = favorite.isFavorite;
                  this.$toast.add({
                    severity: "success",
                    summary: this.$t("menu.favoris"),
                    detail: this.$t("node.addSiteFavorite", {
                      name: favorite.title,
                    }),
                    life: 3000,
                  });
                } else {
                  menuStore.removeFavorite(
                    menuService.siteToMenuItem(favorite),
                    "menuEspaces",
                  );
                  this.breadCrumbNode.isFavorite = favorite.isFavorite;
                  this.$toast.add({
                    severity: "success",
                    summary: this.$t("menu.favoris"),
                    detail: this.$t("node.removeSiteFavorite", {
                      name: favorite.title,
                    }),
                    life: 3000,
                  });
                }
              })
              .catch((err) => {
                console.error("erreur de favoris", err);
                this.$toast.add({
                  severity: "error",
                  summary: this.$t("node.favoriteError"),
                  detail: err.message,
                  life: 3000,
                });
              });
          });
      });
    },
  },
  computed: {
    ...mapState(useScreenStore, ["isSmallScreen", "isVerySmallScreen"]),
    ...mapState(useNavigationStore, ["isInConsultation", "isInUserHome"]),
    lastItem() {
      return this.path[this.path.length - 1];
    },
    secondToLastItem() {
      return this.path[this.path.length - 2];
    },
  },
  watch: {
    currentNode() {
      this.loadPath();
    },
  },
};
</script>

<style lang="css">
.p-breadcrumb-list {
  flex-wrap: wrap;
}
</style>
