<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <Menu ref="fileMenuAction" :model="fileActionMenuItems" :popup="true">
    <template #item="{ label, item, props }">
      <router-link
        v-if="item.route"
        v-slot="routerProps"
        :to="item.route"
        custom
      >
        <a :href="routerProps.href" v-bind="props.action">
          <span v-bind="props.icon" />
          <span v-bind="props.label">{{ label }}</span>
        </a>
      </router-link>
      <a v-else :href="item.url" v-bind="props.action">
        <span v-bind="props.icon" />
        <span v-bind="props.label">{{ label }}</span>
      </a>
    </template>
  </Menu>
  <div v-if="layout === `datatable`">
    <DataTable
      v-if="currentNode"
      :value="files"
      rowHover
      :stateKey="`datatable-folder-page-list--${currentNode.id}`"
      stateStorage="local"
      :dataKey="currentNode.id"
      :key="currentNode.id"
      :filters="filters"
      :globalFilterFields="['name']"
      removableSort
      stripedRows
    >
      <Column>
        <template #header>
          <CheckBox
            :binary="true"
            v-model="isPageSelected"
            @change="updatePageSelectedNodes"
          />
        </template>
        <template #body="slotProps">
          <CheckBox
            :id="slotProps.data.id"
            name="option"
            :value="slotProps.data"
            v-model="selectedNodes"
            @change="updateSelectedNodes"
          />
        </template>
      </Column>
      <Column :header="$t('column.thumbnail')" headerStyle="min-width: 1.65rem">
        <template #body="slotProps">
          <div :key="slotProps.data.id">
            <Image
              class="shadow-2"
              width="40"
              preview
              v-if="displayThumb(slotProps.data)"
            >
              <template #image>
                <img
                  :src="
                    alfrescoFileService().getThumbnailUrl(slotProps.data.id)
                  "
                  :alt="slotProps.data.name"
                  @error="onImageLoadFailure($event, slotProps.data)"
                />
              </template>
              <template #preview>
                <img
                  :src="alfrescoFileService().getPreviewUrl(slotProps.data.id)"
                  :alt="slotProps.data.name"
                />
              </template>
            </Image>
            <PristyIcon
              class="icone"
              hidden
              :svgFileName="loadIcon(slotProps.data)"
              v-tooltip="loadIconLabel(slotProps.data)"
            />
            <PristyIcon
              v-if="!displayThumb(slotProps.data)"
              class="icone"
              :svgFileName="loadIcon(slotProps.data)"
              v-tooltip="loadIconLabel(slotProps.data)"
            />
          </div>
        </template>
      </Column>
      <Column field="name" :header="$t('column.name')" style="min-width: 12rem">
        <template #body="slotProps">
          <div
            class="file-items"
            style="overflow: hidden; max-width: 40vw; min-height: 4rem"
          >
            <router-link
              :to="collaboraService().getRoute(slotProps.data)"
              v-tooltip.bottom="slotProps.data.name"
            >
              {{ slotProps.data.name }}
            </router-link>
            <span
              class="title"
              v-if="
                slotProps.data.properties &&
                slotProps.data.properties['cm:title']
              "
              v-tooltip.bottom="slotProps.data.properties['cm:title']"
            >
              - {{ slotProps.data.properties["cm:title"] }}
            </span>
            <div
              class="description"
              v-if="slotProps.data.properties"
              style="
                overflow: hidden;
                max-height: 2.5rem;
                text-overflow: ellipsis;
              "
            >
              {{ slotProps.data.properties["cm:description"] }}
            </div>
          </div>
        </template>
      </Column>
      <Column
        field="version"
        :header="$t('column.version')"
        header-style="min-width: 1rem"
        v-if="!isContentPannelShown"
      >
        <template #body="slotProps">
          {{ slotProps.data?.properties?.["cm:versionLabel"] }}
        </template>
      </Column>
      <Column
        field="content.sizeInBytes"
        :header="$t('column.size')"
        class="responsive-text"
        v-if="!isContentPannelShown"
      >
        <template #body="slotProps">
          {{ convertBytesToSize(slotProps.data.content?.sizeInBytes) }}
        </template>
      </Column>
      <Column
        field="modifiedAt"
        :header="$t('column.modifiedAt')"
        v-if="!isContentPannelShown"
      >
        <template #body="slotProps">
          {{ toLocaleDateString(slotProps.data.modifiedAt) }}
        </template>
      </Column>
      <Column
        field="modifiedByUser.displayName"
        :header="$t('column.modifiedBy')"
        v-if="!isContentPannelShown"
      >
        <template #body="slotProps">
          {{ slotProps.data.modifiedByUser.displayName }}
        </template>
      </Column>
      <Column>
        <template #body="slotProps">
          <div class="datatable-buttons">
            <Button
              v-if="
                slotProps.data.isFile && !isContentPannelShown && !isSmallScreen
              "
              class="simple"
              type="button"
              icon="ri-share-line"
              v-tooltip="$t(`share.shareLinkSettings`)"
              @click="openShareLink(slotProps.data)"
              rounded
              text
            />
            <Button
              class="simple"
              type="button"
              :icon="
                slotProps.data.isFavorite ? 'ri-star-fill' : 'ri-star-line'
              "
              v-tooltip="$t('add/removeFavorite')"
              @click="toggleFavorite(slotProps.data)"
              rounded
              text
              v-if="!isContentPannelShown && !isSmallScreen && !isInUserHome"
            />
            <Button
              class="simple"
              type="button"
              icon="ri-more-2-line"
              v-tooltip="$t('moreActions')"
              @click="toggleFileActionMenu($event, slotProps.data)"
              rounded
              text
            />
          </div>
        </template>
      </Column>
    </DataTable>
    <div class="flex justify-content-between flex-wrap">
      <Button
        type="button"
        icon="ri-refresh-line"
        @click="$emit('reload')"
        text
      />
      <PaginatorComponent
        v-if="files && files.length > 0"
        :displayed-elements="files"
        :total-records="totalRecordNodes"
        @change-page="updateSkipCount"
        @change-element-per-page="reloadData"
      ></PaginatorComponent>
      <div></div>
    </div>
  </div>
  <div v-else>
    <DataView :value="files" :layout="layout" v-if="currentNode">
      <template #header v-if="layout === `list`">
        <div class="w-full">
          <div class="border-1 border-100 overflow-hidden">
            <div class="p-1">
              <div class="flex align-items-center">
                <div class="mr-4">
                  <CheckBox
                    :binary="true"
                    v-model="isPageSelected"
                    class="flex align-items-center justify-content-center"
                    name="option"
                    @change="updatePageSelectedNodes"
                  />
                </div>
                <div class="flex align-items-center w-full">
                  <div
                    class="flex justify-content-between align-items-center w-full"
                  >
                    <div
                      class="col-6 overflow-hidden white-space-nowrap text-overflow-ellipsis p-text-bold"
                      :class="{ 'w-13rem': isPreviewPanelVisible }"
                    >
                      <span>
                        {{ $t("field.name") }}
                      </span>
                    </div>
                    <div
                      class="col-4"
                      :class="{
                        'pl-4': !isPreviewPanelVisible,
                        'pl-0': isPreviewPanelVisible,
                      }"
                    >
                      {{ $t("column.modifiedAt") }}
                    </div>
                  </div>
                  <div class="flex justify-content-evenly ml-8">
                    <div v-if="isPreviewPanelVisible || isSmallScreen"></div>
                    <div class="w-15rem" v-else></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template #list="slotProps">
        <div class>
          <div
            v-for="(item, index) in slotProps.items"
            :key="index"
            class="w-full"
          >
            <div class="border-1 border-100 overflow-hidden">
              <div class="p-1">
                <div class="flex align-items-center">
                  <div class="mr-4 pl-3">
                    <CheckBox
                      class="flex align-items-center justify-content-center"
                      :id="item.id"
                      name="option"
                      :value="item"
                      v-model="selectedNodes"
                      @change="updateSelectedNodes"
                    />
                  </div>
                  <div class="flex align-items-center w-full">
                    <div
                      class="flex justify-content-between align-items-center w-full"
                      @click="nodeClicked(item)"
                    >
                      <div
                        class="col-6 overflow-hidden white-space-nowrap text-overflow-ellipsis p-text-bold"
                        :class="{ 'w-13rem': isPreviewPanelVisible }"
                      >
                        <router-link
                          :to="collaboraService().getRoute(item)"
                          v-tooltip.top="item.name"
                        >
                          <i
                            class="mr-1"
                            :class="
                              item.isFolder
                                ? 'ri-folder-2-line'
                                : 'ri-file-2-line'
                            "
                          />
                          <span>
                            {{ item.name }}
                          </span>
                        </router-link>
                        <div
                          class="overflow-hidden white-space-nowrap text-overflow-ellipsis"
                          :class="{ 'w-13rem': isPreviewPanelVisible }"
                        >
                          <span
                            class="p-text-secondary p-text-sm text-400"
                            v-if="
                              item.properties && item.properties['cm:title']
                            "
                            v-tooltip.bottom="item.properties['cm:title']"
                          >
                            {{ item.properties["cm:title"] }}
                          </span>
                        </div>
                      </div>
                      <div class="col-4">
                        {{ toLocaleDateString(item.modifiedAt) }}
                      </div>
                    </div>
                    <div class="flex justify-content-evenly ml-8">
                      <div v-if="isPreviewPanelVisible || isSmallScreen">
                        <Button
                          class="flex align-items-center justify-content-center"
                          type="button"
                          size="small"
                          icon="ri-more-2-line"
                          severity="secondary"
                          v-tooltip="$t('moreActions')"
                          @click="toggleFileActionMenu($event, item)"
                        />
                      </div>
                      <div v-else class="w-15rem">
                        <Button
                          icon="ri-external-link-line"
                          severity="secondary"
                          class="mr-1"
                          v-tooltip.top="$t(`open`)"
                          size="small"
                          @click="openInNewTab(item)"
                        />
                        <Button
                          icon="ri-links-line"
                          severity="warning"
                          class="mr-1"
                          size="small"
                          v-tooltip.top="$t(`publish`)"
                          @click="openShareLink(item)"
                        />
                        <Button
                          v-if="!isInUserHome"
                          :icon="
                            item.isFavorite ? 'ri-star-fill' : 'ri-star-line'
                          "
                          class="mr-1"
                          severity="primary"
                          size="small"
                          v-tooltip.top="$t(`add/removeFavorite`)"
                          @click="toggleFavorite(item)"
                        />
                        <Button
                          icon="ri-more-2-line"
                          severity="danger"
                          v-tooltip.top="$t(`moreActions`)"
                          size="small"
                          @click="toggleFileActionMenu($event, item)"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template #grid="slotProps">
        <div class="flex flex-wrap gap-1">
          <div
            v-for="(item, index) in slotProps.items"
            :key="index"
            class="p-2"
          >
            <div
              class="border-1 border-round border-100 w-20rem overflow-hidden"
            >
              <div class="divHeader">
                <div
                  class="flex justify-content-between flex-wrap align-items-center h-4rem"
                >
                  <CheckBox
                    class="flex align-items-center justify-content-center"
                    :id="item.id"
                    name="option"
                    :value="item"
                    v-model="selectedNodes"
                    @change="updateSelectedNodes"
                  />
                  <router-link
                    :to="collaboraService().getRoute(item)"
                    class="text-sm font-medium overflow-hidden text-overflow-ellipsis flex align-items-center w-13rem p-3 noColorElement"
                    v-tooltip.top="item.name"
                  >
                    {{ item.name }}
                  </router-link>
                  <Button
                    class="flex align-items-center justify-content-center noColorElement"
                    type="button"
                    icon="ri-more-2-line"
                    v-tooltip.top="$t(`moreActions`)"
                    @click="toggleFileActionMenu($event, item)"
                    rounded
                    text
                  />
                </div>
                <div
                  :key="item.id"
                  class="flex justify-content-center cursor-pointer"
                  @click="nodeClicked(item)"
                >
                  <div>
                    <Image v-if="displayThumb(item)">
                      <template #image>
                        <img
                          :src="alfrescoFileService().getThumbnailUrl(item.id)"
                          :alt="item.name"
                          @error="onImageLoadFailure($event, item)"
                          class="h-12rem"
                        />
                      </template>
                    </Image>
                    <PristyIcon
                      class="iconeGrid"
                      hidden
                      :svgFileName="loadIcon(item)"
                      v-tooltip="loadIconLabel(item)"
                    />
                    <PristyIcon
                      v-if="!displayThumb(item)"
                      class="iconeGrid"
                      :svgFileName="loadIcon(item)"
                      v-tooltip="loadIconLabel(item)"
                    />
                  </div>
                </div>
              </div>
              <div class="flex justify-content-between">
                <div class="p-3">
                  {{ $t("column.modifiedAt") }}
                  {{ toLocaleDateString(item.modifiedAt) }}
                </div>
                <router-link :to="collaboraService().getRoute(item)">
                  <Button
                    icon="ri-external-link-line"
                    severity="secondary"
                    size="large"
                    v-tooltip.top="$t(`open`)"
                    class="h-full w-4rem"
                  />
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </template>
    </DataView>
    <div class="flex justify-content-between flex-wrap">
      <Button
        type="button"
        icon="ri-refresh-line"
        @click="$emit('reload')"
        text
      />
      <PaginatorComponent
        v-if="files && files.length > 0"
        :displayed-elements="files"
        :total-records="totalRecordNodes"
        @change-page="updateSkipCount"
        @change-element-per-page="reloadData"
      ></PaginatorComponent>
      <div></div>
    </div>
  </div>

  <ConfirmDialog group="confirmDetele" />
  <ModifyNodePopup
    v-if="popup === 'MODIFYNODE'"
    :popupTitle="modifyPopupTitle"
    @close="closePopup"
  />
  <CopyNodePopup
    v-if="popup === 'COPYNODE'"
    @close="closePopup"
    :currentNode="currentNode"
  />
  <CreateWorkflowPopup v-if="popup === 'WORKFLOW'" @close="closePopup" />
  <MoveNodePopup
    v-if="popup === 'MOVENODE'"
    @close="closePopup"
    :currentNode="currentNode"
  />
  <ImportNewVersionPopup
    v-if="popup === 'NEWVERSION'"
    @close="closePopup"
    @message="emitMessage"
  />
  <ShareLinkPopup
    v-if="popup === 'SHARELINK'"
    @close="closePopup"
    @reload="$emit('reload')"
  />
  <MemberListPopup
    v-if="popup === 'MEMBERS'"
    :isSite="false"
    :folderNode="selectedNodes[0]"
    @close="closePopup"
    @reload="$emit('reload')"
  />
  <SendMailPopup v-if="popup === 'SENDMAIL'" @close="closePopup" />
</template>
<script>
import { FilterMatchMode } from "primevue/api";
import {
  alfrescoFileService,
  alfrescoNodeService,
  favoriteService,
  PristyIcon,
  useSelectionStore,
  useConfigStore,
  iconeService,
  useNavigationStore,
} from "@pristy/pristy-libvue";
import CopyNodePopup from "@/components/popup/CopyNodePopup.vue";
import MoveNodePopup from "@/components/popup/MoveNodePopup.vue";
import ImportNewVersionPopup from "@/components/popup/ImportNewVersionPopup.vue";
import ModifyNodePopup from "@/components/popup/ModifyNodePopup.vue";
import ShareLinkPopup from "@/components/popup/ShareLinkPopup.vue";
import SendMailPopup from "@/components/popup/SendMailPopup.vue";
import MemberListPopup from "@/components/popup/MemberListPopup.vue";

import actionsService from "@/services/ActionsService";
import collaboraService from "@/services/CollaboraService";
import { convertBytesToSize } from "@/services/TranslationService";
import { useUiStateStore } from "@/stores/UiStateStore.js";
import CreateWorkflowPopup from "@/components/popup/CreateWorkflowPopup.vue";
import PaginatorComponent from "@/components/PaginatorComponent.vue";
import { mapState } from "pinia";
import { useScreenStore } from "@/stores/ScreenStore.js";

export default {
  name: "FileList",
  components: {
    PaginatorComponent,
    CreateWorkflowPopup,
    CopyNodePopup,
    MoveNodePopup,
    ImportNewVersionPopup,
    ModifyNodePopup,
    ShareLinkPopup,
    SendMailPopup,
    MemberListPopup,
    PristyIcon,
  },
  props: {
    files: {},
    canUpload: {
      type: Boolean,
      default: false,
    },
    layout: null,
    currentNode: {},
    totalRecordNodes: null,
  },
  emits: ["reload", "message", "page-selected", "update-skipcount"],
  data() {
    return {
      filters: {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      },
      fileActionMenuItems: [],
      popup: null,
      selectedNodes: [],
      modifyPopupTitle: "",
      isPageSelected: false,
    };
  },
  created() {
    this.initFilters();
  },
  mounted() {
    this.selectionStore = useSelectionStore();
    this.selectedNodes = this.selectionStore.nodes;
    this.selectionStore.$subscribe((mutation, state) => {
      this.selectedNodes = state.nodes;
    });
  },

  methods: {
    convertBytesToSize,
    collaboraService() {
      return collaboraService;
    },
    alfrescoFileService() {
      return alfrescoFileService;
    },
    updateSkipCount(skipCount) {
      this.$emit("update-skipcount", skipCount);
    },
    reloadData() {
      this.$emit("reload");
    },
    updateSelectedNodes() {
      this.selectionStore.selectNodes(this.selectedNodes);
    },
    resetPageSelection() {
      this.isPageSelected = false;
    },
    updatePageSelectedNodes() {
      if (this.isPageSelected) {
        const storedDataString = localStorage.getItem(
          `datatable-folder-page-list--${useNavigationStore().currentNode.id}`,
        );
        const storedData = JSON.parse(storedDataString);
        const numberOfRows = storedData.rows;
        const first = storedData.first || 0;
        if (first === 0) {
          this.selectedNodes = this.files.slice(0, numberOfRows);
        } else {
          const startIndex = first % this.files.length;
          this.selectedNodes = this.files.slice(
            startIndex,
            startIndex + numberOfRows,
          );
        }
        this.selectionStore.selectNodes(this.selectedNodes);
        this.$emit("page-selected");
      } else {
        this.selectionStore.resetSelection();
      }
    },
    openRename(item) {
      useUiStateStore().isPopupOpen = true;
      this.selectionStore.selectSingleNode(item);
      this.modifyPopupTitle = "renameElement";
      this.popup = "MODIFYNODE";
    },
    openModify(item) {
      alfrescoNodeService.getNode(item.id).then((node) => {
        item.aspectNames = node.aspectNames;
        if (item) {
          useUiStateStore().isPopupOpen = true;
          this.selectionStore.selectSingleNode(item);
          this.modifyPopupTitle = "properties";
          this.popup = "MODIFYNODE";
        }
      });
    },
    closePopup(reload) {
      useUiStateStore().isPopupOpen = false;
      if (this.popup === "MODIFYNODE") {
        this.$emit("reload");
      }
      this.popup = null;
      if (reload) {
        this.$emit("reload");
      }
    },
    emitMessage(message) {
      this.$emit("message", message);
    },
    confirmDeletion(item) {
      useUiStateStore().isPopupOpen = true;
      this.$confirm.require({
        message: "Êtes vous sûr de vouloir supprimer cet élement ?",
        header: "Suppression",
        acceptLabel: "Oui",
        rejectLabel: "Non",
        group: "confirmDetele",
        accept: () => {
          this.deleteItem(item);
          useUiStateStore().isPopupOpen = false;
        },
        reject: () => {
          useUiStateStore().isPopupOpen = false;
        },
      });
    },
    initFilters() {
      this.filters = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      };
    },
    toggleFileActionMenu(event, item) {
      const canDelete = item.allowableOperations?.includes("delete") || false;
      const canUpdate = item.allowableOperations?.includes("update") || false;
      this.fileActionMenuItems = [
        {
          label: this.$t("openInNewTab"),
          icon: "ri-external-link-line",
          visible: !collaboraService.canOpenWithCollabora(item),
          command: () => {
            this.openInNewTab(item);
          },
        },
        {
          label: this.$t("openWithCollabora"),
          icon: "ri-edit-line",
          visible: collaboraService.canOpenWithCollabora(item),
          command: () => {
            this.gotoEditCollabora(item);
          },
        },
        {
          label: this.$t("editWithMSOffice"),
          icon: "ri-edit-line",
          visible: this.canOpenWithMSOffice(item) && canUpdate,
          command: () => {
            this.toggleMSOfficeVue(item);
          },
        },
        {
          label: this.$t("displayPDF"),
          icon: "ri-eye-line",
          visible: this.isDoc(item),
          command: () => {
            this.gotoConsultationPdf(item);
          },
        },
        {
          label: this.$t("importNewVersion"),
          icon: "ri-file-upload-line",
          visible: item.isFile && canUpdate,
          command: () => {
            this.openNewVersion(item);
          },
        },
        {
          label: this.$t("rename"),
          icon: "ri-edit-line",
          visible: canUpdate,
          command: () => {
            this.openRename(item);
          },
        },
        {
          label: this.$t("copy"),
          icon: "ri-file-copy-line",
          command: () => {
            this.openCopy(item);
          },
        },
        {
          label: this.$t("move"),
          icon: "ri-corner-up-right-line",
          visible: canDelete && canUpdate,
          command: () => {
            this.openMove(item);
          },
        },
        {
          label: this.$t("delete"),
          icon: "ri-delete-bin-line",
          visible: canDelete,
          command: () => {
            this.confirmDeletion(item);
          },
        },
        {
          label: this.$t("download"),
          icon: "ri-download-line",
          visible: item.isFile,
          command: () => {
            this.toggleDownloadFile(item);
          },
        },
        {
          label: this.$t("workflow.startWorkflow"),
          icon: "ri-flow-chart",
          visible: item.isFile,
          command: () => {
            this.openCreateWorkflow(item);
          },
        },
        {
          label: this.$t("share.shareLinkSettings"),
          icon: "ri-share-line",
          visible: item.isFile,
          command: () => {
            this.openShareLink(item);
          },
        },
        {
          label: this.$t("copyLink"),
          icon: "ri-link",
          command: () => {
            this.copyInternLink(item);
          },
        },
        {
          label: this.$t("sendMail"),
          visible: item.isFile,
          icon: "ri-mail-send-line",
          command: () => {
            this.openSendMail(item);
          },
        },
        {
          label: this.$t("permissions"),
          visible: !this.isInUserHome,
          icon: "ri-team-line",
          command: () => {
            this.openMembers(item);
          },
        },
        {
          label: this.$t("properties"),
          icon: "ri-information-line",
          command: () => {
            this.openModify(item);
          },
        },
      ];
      if (useUiStateStore().isPreviewPanelVisible) {
        const favoriteIcon = item.isFavorite ? "ri-star-fill" : "ri-star-line";
        const favoriteLabel = item.isFavorite
          ? this.$t("removeFavorite")
          : this.$t("addFavorite");
        this.fileActionMenuItems.push({
          label: favoriteLabel,
          icon: favoriteIcon,
          command: () => {
            this.toggleFavorite(item);
          },
        });
      }
      this.$refs.fileMenuAction.toggle(event);
    },
    openInNewTab(item) {
      let route;
      if (item.isFolder) {
        route = this.$router.resolve(
          actionsService.getRouteForNavigationInNewTab(
            useNavigationStore().workspace.id,
            item,
          ),
        );
      } else {
        route = this.$router.resolve(
          actionsService.getRouteForOpenInNewTab(item),
        );
      }
      window.open(route.href, "_blank_" + item.id);
    },
    isDoc(item) {
      return (
        item.isFile &&
        item.content.mimeType !== "application/pdf" &&
        !item.content.mimeType.includes("image/") &&
        !item.content.mimeType.includes("video/")
      );
    },
    canOpenWithMSOffice(item) {
      const canUpdate = item.allowableOperations?.includes("update") || false;
      const config = useConfigStore();
      if (item.isFolder) {
        return false;
      }
      return (
        config.EDIT_WITH_MSOFFICE &&
        this.isMSOfficeDoc(item) &&
        canUpdate &&
        (this.isWindows() || this.isMacOs())
      );
    },
    getUserAgent() {
      return navigator.userAgent.toLowerCase();
    },
    isWindows() {
      return this.getUserAgent().indexOf("win") !== -1;
    },
    isMacOs() {
      return this.getUserAgent().indexOf("mac") !== -1;
    },
    isMSOfficeDoc(item) {
      const officeMimeTypes = [
        "application/msword",
        "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
        "application/vnd.openxmlformats-officedocument.wordprocessingml.template",
        "application/vnd.ms-word.document.macroEnabled.12",
        "application/vnd.ms-word.template.macroEnabled.12",
        "application/vnd.ms-excel",
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
        "application/vnd.openxmlformats-officedocument.spreadsheetml.template",
        "application/vnd.ms-excel.sheet.macroEnabled.12",
        "application/vnd.ms-excel.template.macroEnabled.12",
        "application/vnd.ms-excel.addin.macroEnabled.12",
        "application/vnd.ms-excel.sheet.binary.macroEnabled.12",
        "application/vnd.ms-powerpoint",
        "application/vnd.openxmlformats-officedocument.presentationml.presentation",
        "application/vnd.openxmlformats-officedocument.presentationml.template",
        "application/vnd.openxmlformats-officedocument.presentationml.slideshow",
        "application/vnd.ms-powerpoint.addin.macroEnabled.12",
        "application/vnd.ms-powerpoint.presentation.macroEnabled.12",
        "application/vnd.ms-powerpoint.template.macroEnabled.12",
        "application/vnd.ms-powerpoint.slideshow.macroEnabled.12",
        "application/msonenote",
        "application/vnd.ms-officetheme",
      ];
      return (
        item.content?.mimeType &&
        officeMimeTypes.includes(item.content.mimeType)
      );
    },
    toLocaleDateString(datestr) {
      if (!datestr) {
        return "";
      }
      let date = new Date(datestr);
      return new Intl.DateTimeFormat("fr-FR").format(date);
    },
    loadIcon(item) {
      return iconeService.getIcon(item);
    },
    loadIconLabel(item) {
      return iconeService.getIconLabel(item);
    },
    onImageLoadFailure(event, node) {
      if (node.isFile && node.content.mimeType) {
        alfrescoFileService.createAllRendition(node.id).catch((err) => {
          console.warn(
            `createAllRendition error ${err.status} for ${node.id} mimeType=${node.content.mimeType}`,
          );
        });
      }
      event.target.parentElement.style.display = "none";
      event.target.parentElement.nextElementSibling.hidden = false;
    },
    displayThumb(node) {
      let allowMt = ["application/pdf", "application/msword"];
      return (
        node.isFile &&
        (node.content.mimeType.startsWith("image/") ||
          node.content.mimeType.startsWith("video/") ||
          node.content.mimeType.startsWith("application/vnd") ||
          allowMt.includes(node.content.mimeType))
      );
    },
    deleteItem(item) {
      alfrescoNodeService
        .deleteNode(item.id, item.isFile ? "fichier" : "dossier")
        .then(() => {
          this.$emit("reload");
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("node.successRemoveElement"),
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Error",
            detail: err.message,
            life: 3000,
          });
        });
    },
    toggleDownloadFile(item) {
      actionsService.toggleDownloadFile(item);
    },
    getTarget(item) {
      return collaboraService.canOpenWithCollabora(item) ? "_blank" : "";
    },
    gotoConsultationPdf(item) {
      this.$router.push({
        name: "consultation-pdf",
        params: {
          id: item.id,
        },
      });
    },
    gotoEditCollabora(item) {
      let routeData = this.$router.resolve({
        name: "edit-collabora",
        params: { action: "edit", id: item.id },
      });
      window.open(routeData.href, "_blank");
    },
    openCopy(item) {
      if (item) {
        useUiStateStore().isPopupOpen = true;
        this.selectionStore.selectSingleNode(item);
        this.popup = "COPYNODE";
      }
    },
    openMove(item) {
      if (item) {
        useUiStateStore().isPopupOpen = true;
        this.selectionStore.selectSingleNode(item);
        this.popup = "MOVENODE";
      }
    },
    openNewVersion(item) {
      if (item) {
        useUiStateStore().isPopupOpen = true;
        this.selectionStore.selectSingleNode(item);
        this.popup = "NEWVERSION";
      }
    },
    openShareLink(item) {
      if (item) {
        useUiStateStore().isPopupOpen = true;
        this.selectionStore.selectSingleNode(item);
        this.popup = "SHARELINK";
      }
    },
    openCreateWorkflow(item) {
      if (item) {
        useUiStateStore().isPopupOpen = true;
        this.selectionStore.selectSingleNode(item);
        this.popup = "WORKFLOW";
      }
    },
    copyInternLink(item) {
      if (item) {
        const link = actionsService.getNodeInternLink(item);
        navigator.clipboard
          .writeText(link)
          .then(() => {
            this.$toast.add({
              severity: "success",
              summary: this.$t("share.copyLinkToastSummary"),
              detail: this.$t("share.copyLinkToastDetail"),
              life: 3000,
            });
          })
          .catch(() => {
            this.$toast.add({
              severity: "error",
              summary: this.$t("share.copyLinkErrorSummary"),
              detail: this.$t("share.copyLinkErrorDetail"),
              life: 3000,
            });
          });
      }
    },
    openSendMail(item) {
      if (item && item.isFile) {
        useUiStateStore().isPopupOpen = true;
        this.selectionStore.selectSingleNode(item);
        this.popup = "SENDMAIL";
      }
    },
    openMembers(item) {
      if (item) {
        useUiStateStore().isPopupOpen = true;
        this.selectionStore.selectSingleNode(item);
        this.popup = "MEMBERS";
      }
    },
    toggleFavorite(file) {
      favoriteService
        .changeSingleFavorite(file)
        .then((favorite) => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("menu.favoris"),
            detail: favorite.isFavorite
              ? this.$t("node.addElementFavorite", {
                  name: favorite.name,
                })
              : this.$t("node.removeElementFavorite", {
                  name: favorite.name,
                }),
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("node.favoriteError"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    getProtocolForFileExtension(fileExtension) {
      const supportedExtensions = {
        doc: "ms-word",
        docx: "ms-word",
        docm: "ms-word",
        dot: "ms-word",
        dotx: "ms-word",
        dotm: "ms-word",
        rtf: "ms-word",
        xls: "ms-excel",
        xlsx: "ms-excel",
        xlsb: "ms-excel",
        xlsm: "ms-excel",
        xlt: "ms-excel",
        xltx: "ms-excel",
        xltm: "ms-excel",
        xlam: "ms-excel",
        ppt: "ms-powerpoint",
        pptx: "ms-powerpoint",
        pot: "ms-powerpoint",
        potx: "ms-powerpoint",
        potm: "ms-powerpoint",
        pptm: "ms-powerpoint",
        pps: "ms-powerpoint",
        ppsx: "ms-powerpoint",
        ppam: "ms-powerpoint",
        ppsm: "ms-powerpoint",
        sldx: "ms-powerpoint",
        sldm: "ms-powerpoint",
        vsd: "ms-visio",
        vss: "ms-visio",
        vst: "ms-visio",
        vsdx: "ms-visio",
        vsdm: "ms-visio",
        vssx: "ms-visio",
        vssm: "ms-visio",
        vstx: "ms-visio",
        vstm: "ms-visio",
      };
      return supportedExtensions[fileExtension];
    },
    getFileExtension(fileName) {
      if (fileName) {
        const match = fileName.match(/\.([^./?#]+)($|\?|#)/);
        return match ? match[1] : null;
      }
      return null;
    },
    triggerEditOnlineAos(node) {
      const config = useConfigStore();
      let aosHost = `${config.ALFRESCO_HOST}/${config.ALFRESCO_ROOT}/aos`;
      let root = "Sites";
      let url = "";
      if (node.path.name.length > 256) {
        url = `${aosHost}/${root}/_aos_nodeid/${node.id}/${encodeURIComponent(
          node.name,
        )}`;
      } else {
        let path = node.path.name.replace("/Company Home/", "");
        url = `${aosHost}/${path}/${node.name}`;
      }
      let fileExtension = this.getFileExtension(node.name);
      let protocolHandler = this.getProtocolForFileExtension(fileExtension);

      if (protocolHandler === undefined) {
        console.warn(`No protocol handler found for ${fileExtension}`);
        return;
      }

      if (!this.isWindows() && !this.isMacOs()) {
        console.log("Only supported for Windows and Mac");
      } else {
        this.aos_tryToLaunchOfficeByMsProtocolHandler(protocolHandler, url);
      }
    },
    aos_tryToLaunchOfficeByMsProtocolHandler(protocolHandler, url) {
      let protocolUrl = `${protocolHandler}:ofe%7Cu%7C${url}`;

      let iframe = document.createElement("iframe");
      iframe.style.display = "none";
      iframe.src = protocolUrl;

      document.body.appendChild(iframe);

      setTimeout(() => {
        if (iframe) {
          document.body.removeChild(iframe);
        }
      }, 500);
    },
    toggleMSOfficeVue(node) {
      if (node.isLocked) {
        const checkedOut =
          node.properties["cm:lockType"] === "WRITE_LOCK" ||
          node.properties["cm:lockType"] === "READ_ONLY_LOCK";
        const lockOwner = node.properties["cm:lockOwner"];
        const differentLockOwner =
          lockOwner.id !== localStorage.getItem("ACS_USERNAME");
        if (checkedOut && differentLockOwner) {
          this.$toast.add({
            severity: "error",
            summary: this.$t("node.locked"),
            detail: this.$t("node.lockedDetails"),
            life: 3000,
          });
        } else {
          this.triggerEditOnlineAos(node);
        }
      } else {
        this.triggerEditOnlineAos(node);
      }
    },
    selectNode(node) {
      this.selectedNodes = node;
      this.selectionStore.selectSingleNode(node);
    },
    navigateTo(node) {
      this.$router.push(collaboraService.getRoute(node));
    },
    nodeClicked(node) {
      if (this.isSmallScreen) {
        this.navigateTo(node);
      } else {
        this.selectNode(node);
      }
    },
  },
  computed: {
    ...mapState(useUiStateStore, ["isPreviewPanelVisible"]),
    ...mapState(useScreenStore, ["isSmallScreen"]),
    ...mapState(useNavigationStore, ["isInUserHome"]),
    isContentPannelShown() {
      return useUiStateStore().isPreviewPanelVisible;
    },
  },
  watch: {
    selectedNodes(newValue) {
      useUiStateStore().isKeyboardNavEnable = newValue.length > 0;
    },
  },
};
</script>
<style scoped>
.divHeader {
  padding: 0rem 1rem;
  background: var(--surface-100);
  height: 17rem;
}
.iconeGrid {
  height: 13rem;
  width: 13rem;
  margin: auto;
}
</style>
