<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <Panel
    :header="fieldlabel(fieldGroup)"
    toggleable
    v-for="fieldGroup in this.fields"
    :key="fieldGroup.name"
  >
    <div v-for="field in fieldGroup.group" :key="field.labelId">
      <div class="grid pb-3" v-if="properties[field.id] !== undefined">
        <label class="text-500 w-5 font-medium">{{ fieldlabel(field) }}</label>
        <div class="text-900 w-7 scroll-vertical">
          <div v-if="field.input === 'date'">
            {{ formatDate(properties[field.id]) }}
          </div>
          <div v-else-if="field.input === 'datetime'">
            {{ formatDateTime(properties[field.id]) }}
          </div>
          <div
            v-else-if="this.properties[field.id]?.displayName"
            v-t="properties[field.id].displayName"
          />
          <div v-else-if="field.input === 'boolean'">
            {{ formatBool(properties[field.id]) }}
          </div>
          <div v-else-if="field.input === 'toggle'">
            <InlineMessage severity="success" v-if="properties[field.id]">
              {{ formatBool(properties[field.id]) }}
            </InlineMessage>
            <InlineMessage severity="error" v-else>
              {{ formatBool(properties[field.id]) }}
            </InlineMessage>
          </div>
          <div
            v-for="value in properties[field.id]"
            :key="value"
            v-else-if="field.input === 'multilist'"
          >
            {{ value }}
          </div>
          <div v-else>
            {{ properties[field.id] }}
          </div>
        </div>
      </div>
    </div>
  </Panel>
</template>

<script>
import { useConfigStore } from "@pristy/pristy-libvue";
import { formatDate } from "@vueuse/core";
import { convertBytesToSize, fieldlabel } from "@/services/TranslationService";

export default {
  name: "DetailsItem",
  props: {
    node: null,
  },
  data() {
    return {
      fields: [],
      allowFields: [],
      properties: {},
    };
  },
  created() {
    const config = useConfigStore();
    this.allowFields = config.METADATA.filter(
      (field) =>
        field.display === undefined ||
        field.display.find((d) => d === "details"),
    );
  },
  mounted() {
    this.clear();
    this.loadFileDetails();
  },
  beforeUpdate() {
    this.clear();
    this.loadFileDetails();
  },
  updated() {},
  methods: {
    fieldlabel,
    convertBytesToSize,
    clear() {
      this.fields = [];
      this.properties = {};
    },
    loadFileDetails() {
      this.properties = {
        ...this.node.properties,
        createdAt: this.node.createdAt,
        createdByUser: this.node.createdByUser,
        modifiedAt: this.node.modifiedAt,
        modifiedByUser: this.node.modifiedByUser,
        name: this.node.name,
        nodeType: this.node.nodeType,
        parentId: this.node.parentId,
      };

      if (this.node.content) {
        this.properties.encoding = this.node.content.encoding;
        this.properties.mimeType = this.mdMimeType;
        this.properties.size = this.mdSize;
      }

      const fieldId = this.allowFields.map((field) => field.id);
      let selectProperties = Object.keys(this.properties).filter((key) => {
        return fieldId.includes(key);
      });

      const config = useConfigStore();
      this.fields = this.allowFields.reduce((accFields, field) => {
        let groupName = field.modelType || field.modelAspect;
        if (groupName && selectProperties.includes(field.id)) {
          let asp = config.ASPECTS.find((asp) => asp.id === groupName);
          groupName = groupName.replace(":", "_");
          if (!accFields[groupName]) {
            accFields[groupName] = {};
            accFields[groupName].name = groupName;
            accFields[groupName].labelId = `model.${groupName}`;
            accFields[groupName].group = [];
            if (asp) {
              accFields[groupName].title = asp.title;
            }
          }
          accFields[groupName].group.push(field);
        }

        return accFields;
      }, {});
    },
    formatDate(value) {
      return formatDate(new Date(value), "ddd D MMM YYYY");
    },
    formatDateTime(value) {
      return formatDate(new Date(value), "ddd D MMM YYYY - HH:mm:ss");
    },
    formatBool(value) {
      if (value === true) {
        return this.$t("yes");
      }
      if (value === false) {
        return this.$t("no");
      }
    },
  },
  computed: {
    mdSize() {
      if (this.node.content) {
        return {
          value: this.node.content.sizeInBytes,
          displayName: this.convertBytesToSize(this.node.content?.sizeInBytes),
        };
      }
      return undefined;
    },
    mdMimeType() {
      if (this.node.content) {
        return {
          value: this.node.content?.mimeType,
          displayName: this.node.content?.mimeTypeName,
        };
      }
      return undefined;
    },
  },
};
</script>

<style lang="scss" scoped>
.scroll-vertical {
  overflow-y: auto;
  max-height: 10rem;
}
.disabledInput {
  opacity: 0.8 !important;
}
</style>
