<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <h5>{{ $t("folderListTitle") }}</h5>
  <DataView
    v-if="currentNode"
    :value="folders"
    :layout="`grid`"
    paginator
    :rows="6"
    :rowsPerPageOptions="[6, 12, 24]"
    :stateKey="`dataview-folder-list--${currentNode.id}`"
    stateStorage="local"
    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
  >
    <template #empty>
      <p>{{ $t("noFolderMessage") }}</p>
    </template>
    <template #grid="slotProps">
      <div class="col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
        <div class="surface-card shadow-2 p-3 border-round folder-card">
          <div class="folder-items">
            <div class="folder-checkBox">
              <CheckBox
                :id="slotProps.data.id"
                name="option"
                :value="slotProps.data"
                v-model="selectedNodes"
                @change="updateSelectedNodes"
              />
            </div>
            <div class="folder-title">
              <router-link :to="collaboraService().getRoute(slotProps.data)">
                {{ slotProps.data.name }}
              </router-link>
            </div>
            <div class="folder-actions">
              <Button
                type="button"
                severity="secondary"
                :icon="
                  slotProps.data.isFavorite ? 'ri-star-fill' : 'ri-star-line'
                "
                text
                v-tooltip="$t('add/removeFavorite')"
                aria-label="$t('add/removeFavorite')"
                @click="toggleFavorite(slotProps.data)"
              />
            </div>
            <div class="folder-actions">
              <Menu
                ref="folderMenuAction"
                :model="folderActionMenuItems"
                :popup="true"
              >
                <template #item="{ label, item, props }">
                  <router-link
                    v-if="item.route"
                    v-slot="routerProps"
                    :to="item.route"
                    custom
                  >
                    <a :href="routerProps.href" v-bind="props.action">
                      <span v-bind="props.icon" />
                      <span v-bind="props.label">{{ label }}</span>
                    </a>
                  </router-link>
                  <a v-else :href="item.url" v-bind="props.action">
                    <span v-bind="props.icon" />
                    <span v-bind="props.label">{{ label }}</span>
                  </a>
                </template>
              </Menu>
              <Button
                type="button"
                severity="secondary"
                icon="ri-more-2-line"
                text
                v-tooltip="$t('moreActions')"
                aria-label="$t('moreActions')"
                @click="toggleFolderActionMenu($event, slotProps.data)"
              />
            </div>
          </div>
          <div
            class="folder-description"
            v-if="slotProps.data.properties"
            v-tooltip="slotProps.data.properties['cm:description']"
          >
            {{ slotProps.data.properties["cm:description"] }}
          </div>
        </div>
      </div>
    </template>
  </DataView>
  <ConfirmDialog group="confirmDeteleFolder" />
  <ModifyNodePopup
    v-if="popup === 'MODIFY'"
    :node="modifyNodeItem"
    @close="closePopup"
  />
  <CopyNodePopup
    v-if="popup === 'COPYNODE'"
    @close="closePopup"
    :currentNode="currentNode"
  />
  <MoveNodePopup
    v-if="popup === 'MOVENODE'"
    @close="closePopup"
    :currentNode="currentNode"
  />
</template>

<script>
import {
  alfrescoNodeService,
  favoriteService,
  useMenuStore,
  useSelectionStore,
} from "@pristy/pristy-libvue";
import CopyNodePopup from "@/components/popup/CopyNodePopup.vue";
import MoveNodePopup from "@/components/popup/MoveNodePopup.vue";
import ModifyNodePopup from "@/components/popup/ModifyNodePopup.vue";
import collaboraService from "@/services/CollaboraService";

export default {
  name: "FolderList",
  components: { CopyNodePopup, MoveNodePopup, ModifyNodePopup },
  emits: ["reload"],
  data() {
    return {
      folderActionMenuItems: [],
      popup: null,
      modifyNodeItem: null,
      selectedNodes: [],
    };
  },
  props: {
    folders: {},
    layout: {},
    canUpload: {
      type: Boolean,
      default: false,
    },
    currentNode: {},
  },
  created() {
    this.selectionStore = useSelectionStore();
    this.menuStore = useMenuStore();
  },
  mounted() {
    this.selectedNodes = this.selectionStore.nodes;
    this.selectionStore.$subscribe((mutation, state) => {
      this.selectedNodes = state.nodes;
    });
  },
  methods: {
    collaboraService() {
      return collaboraService;
    },
    updateSelectedNodes() {
      this.selectionStore.selectNodes(this.selectedNodes);
    },
    openModify(item) {
      if (item) {
        this.modifyNodeItem = item;
        this.popup = "MODIFY";
      }
    },
    openCopy(item) {
      if (item) {
        this.selectionStore.selectSingleNode(item);
        this.popup = "COPYNODE";
      }
    },
    openMove(item) {
      if (item) {
        this.selectionStore.selectSingleNode(item);
        this.popup = "MODIFYNODE";
      }
    },
    closePopup(reload) {
      this.popup = null;
      if (reload) {
        this.$emit("reload");
      }
    },
    confirmDeletion(item) {
      this.$confirm.require({
        message: "Êtes vous sûr de vouloir supprimer ce dossier ?",
        header: "Suppression",
        acceptLabel: "Oui",
        rejectLabel: "Non",
        group: "confirmDeteleFolder",
        accept: () => {
          this.toggleDeleteFolder(item);
        },
      });
    },
    toggleFolderActionMenu(event, item) {
      this.folderActionMenuItems = [
        {
          label: this.$t("modify"),
          visible: this.canUpload,
          icon: "ri-edit-line",
          command: () => {
            this.openModify(item);
          },
        },
        {
          label: this.$t("delete"),
          icon: "ri-delete-bin-line",
          visible: this.canUpload,
          command: () => {
            this.confirmDeletion(item);
          },
        },
        {
          label: this.$t("copy"),
          icon: "ri-file-copy-line",
          command: () => {
            this.openCopy(item);
          },
        },
        {
          label: this.$t("move"),
          icon: "ri-corner-up-right-line",
          visible: this.canMove(item) && this.canUpload,
          command: () => {
            this.openMove(item);
          },
        },
      ];
      this.$refs.folderMenuAction.toggle(event);
    },
    canMove(item) {
      return !!item?.allowableOperations?.find((child) => child === "delete");
    },
    toggleDeleteFolder(item) {
      alfrescoNodeService
        .deleteNode(item.id, "dossier")
        .then(() => {
          this.$emit("reload");
          this.$toast.add({
            severity: "success",
            summary: "Succès",
            detail: "Dossier supprimé avec succès",
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Error",
            detail: err.message,
            life: 3000,
          });
        });
    },
    toggleFavorite(folder) {
      favoriteService
        .changeSingleFavorite(folder)
        .then((favorite) => {
          this.$toast.add({
            severity: "success",
            summary: "Favoris",
            detail: favorite.isFavorite
              ? `Dossier ${favorite.name} mis en favori`
              : `Dossier ${favorite.name} enlevé des favoris`,
            life: 3000,
          });
        })
        .catch((err) => {
          console.error("erreur de favoris", err);
          this.$toast.add({
            severity: "error",
            summary: "Erreur de favoris",
            detail: err.message,
            life: 3000,
          });
        });
    },
    toggleDownloadFolder() {
      console.log("Download");
    },
  },
};
</script>
