<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="flex">
    <div class="flex-grow-1 overflow-scroll">
      <ToolBar class="sticky consultation-toolbar w-full">
        <template v-slot:start>
          <h3 v-if="contentNode" class="consultation-title col">
            {{ contentNode.name }}
          </h3>
          <Tag
            class="tag-version"
            v-if="$route.params.versionId"
            :value="$route.params.versionId"
          />
        </template>
        <template v-slot:end>
          <Button
            icon="ri-download-line"
            severity="warning"
            class="mr-2"
            @click="download"
            v-tooltip.bottom="$t(`download`)"
            raised
          />
        </template>
      </ToolBar>
      <div class="card flex justify-content-center mr-1">
        <Image
          v-if="contentNode && hasContentUrl"
          class="image-rendition"
          :src="contentUrl"
          :alt="contentNode.name"
          :imageStyle="`max-width: 100%;`"
          preview
        />
      </div>
    </div>
  </div>
</template>
<script>
import { alfrescoFileService } from "@pristy/pristy-libvue";

export default {
  name: "ImageViewer",
  emits: ["reload"],
  props: {
    canUpload: {
      type: Boolean,
      default: false,
    },
    contentNode: {
      type: Object,
      required: true,
    },
    versionId: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      contentUrl: "",
    };
  },
  created() {
    this.loadImage();
  },
  beforeUpdate() {
    this.loadImage();
  },
  methods: {
    reload() {
      this.$emit("reload");
    },
    download() {
      const link = document.createElement("a");
      link.href = this.contentUrl;
      const fileName = this.contentNode.name;
      let version = "";
      if (this.$route.params.versionId) {
        version = this.$route.params.versionId;
      } else if (this.contentNode.properties) {
        version = this.contentNode.properties["cm:versionLabel"];
      }
      const regex = /\.[^.]+$/;
      const fileNameWithoutExtension = fileName.replace(regex, "");
      link.download = `${fileNameWithoutExtension}-v-${version}${
        fileName.match(regex)[0]
      }`;
      link.click();
    },
    loadImage() {
      this.contentUrl = "";

      if (this.contentNode.id === undefined) {
        return;
      }
      if (this.versionId !== "") {
        this.contentUrl = alfrescoFileService.getVersionContentUrl(
          this.contentNode.id,
          this.versionId,
        );
      } else {
        this.contentUrl = alfrescoFileService.getContentUrl(
          this.contentNode.id,
        );
      }
    },
  },
  computed: {
    hasContentUrl() {
      return this.contentUrl !== "";
    },
    isVersion() {
      return (
        this.$route.params.versionId !== null &&
        this.$route.params.versionId !== undefined
      );
    },
  },
};
</script>
<style lang="scss">
.p-image-toolbar {
  z-index: 1200;
  background-color: #0b09095e;
  border-radius: 18px;
  margin: 1rem;
  padding: 0 1rem;
}
</style>
