<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <span class="block text-600 font-medium mb-3">{{ title.toUpperCase() }}</span>
  <ul class="p-0 mx-0 mt-0 mb-4 list-none">
    <li
      v-for="version in versions"
      :key="version.id"
      class="flex align-items-center py-2 border-bottom-1 surface-border version-row"
    >
      <div
        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
      >
        <router-link
          class="text-xl text-blue-500"
          :to="visualize(version.entry)"
        >
          {{ version.entry.id }}
        </router-link>
      </div>
      <span class="text-900 line-height-3">
        {{ toLocaleDateString(version.entry.modifiedAt) }} {{ $t("at") }}
        {{ toLocaleTimeString(version.entry.modifiedAt) }}
        <span class="text-700">
          {{ $t("by") }} {{ version.entry.modifiedByUser.displayName }}
          <br />
          {{ version.entry.versionComment }}
        </span>
      </span>
      <div class="version-buttons">
        <Button
          type="button"
          icon="ri-eye-line"
          v-tooltip.left="$t('consult')"
          @click="consult(version.entry)"
          severity="secondary"
          rounded
          text
        />
        <Button
          v-if="canRevert(version.entry)"
          type="button"
          icon="ri-history-line"
          v-tooltip.left="$t('restore')"
          @click="revert(version.entry)"
          severity="secondary"
          rounded
          text
        />
        <Button
          type="button"
          icon="ri-download-line"
          v-tooltip.left="$t('download')"
          @click="download(version.entry)"
          severity="secondary"
          rounded
          text
        />
      </div>
    </li>
  </ul>
</template>
<script>
import { alfrescoNodeService } from "@pristy/pristy-libvue";
import collaboraService from "@/services/CollaboraService";

export default {
  name: "ListVersions",
  props: {
    currentNode: {
      type: Object,
      default: null,
    },
    versions: null,
    title: {
      type: String,
    },
    lastVersion: {
      type: String,
      default: "1.0",
    },
  },
  data() {
    return {
      currentAttempts: 0,
    };
  },
  emits: ["revertVersion"],

  methods: {
    download(version) {
      this.getContent(this.currentNode.id, version.id, false).then((blob) => {
        const fileName = this.currentNode.name;
        const fileNameParts = fileName.split(".");
        const fileExtension = fileNameParts.pop();
        const fileNameWithoutExtension = fileNameParts.join(".");
        const downloadLink = document.createElement("a");
        const versionNb = version.id.replace(".", "-");
        downloadLink.href = URL.createObjectURL(blob);
        downloadLink.download = `${fileNameWithoutExtension}_v${versionNb}.${fileExtension}`;
        downloadLink.click();
      });
    },
    consult(version) {
      this.$router.push(this.visualize(version));
    },
    visualize(version) {
      let destinationName = collaboraService.getRoute(this.currentNode).name;
      if (
        this.lastVersion === version.id &&
        collaboraService.canOpenWithCollabora(this.currentNode) &&
        destinationName !== "consultation-image" &&
        destinationName !== "consultation-vidéo" &&
        destinationName !== "consultation-pdf"
      ) {
        return {
          name: "edit-collabora",
          params: { action: "edit", id: this.currentNode.id },
        };
      }

      if (this.lastVersion === version.id) {
        return {
          name: destinationName,
          params: { id: this.currentNode.id },
        };
      }

      if (destinationName === "edit-collabora") {
        destinationName = "consultation-pdf";
      }
      return {
        name: `${destinationName}-version`,
        params: { id: this.currentNode.id, versionId: version.id },
      };
    },
    getContent(nodeId, versionId, attachment) {
      return alfrescoNodeService
        .getVersionContent(nodeId, versionId, attachment)
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    toLocaleDateString(datestr) {
      if (!datestr) {
        return "";
      }
      let date = new Date(datestr);
      return new Intl.DateTimeFormat("fr-FR").format(date);
    },
    toLocaleTimeString(datestr) {
      if (!datestr) {
        return "";
      }
      return datestr.toLocaleTimeString("fr-FR", {
        hour: "2-digit",
        minute: "2-digit",
        hour12: false,
      });
    },
    revert(version) {
      const comment = this.$t("restoredVersionComment", {
        versionNumber: version.id,
      });
      alfrescoNodeService
        .revertVersion(this.currentNode.id, version.id, comment)
        .then(() => {
          this.$emit("revertVersion");
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("revertVersion.success"),
            life: 3000,
          });
          this.$router.replace(this.visualize({ id: this.lastVersion }));
        })
        .catch((err) => {
          console.error(err);
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    canRevert(version) {
      return this.lastVersion !== version.id && this.canRevertMimeType;
    },
  },
  computed: {
    canRevertMimeType() {
      const mimeType = this.currentNode.content?.mimeType;
      return (
        mimeType === "application/pdf" ||
        mimeType.startsWith("image/") ||
        mimeType.startsWith("video/")
      );
    },
  },
};
</script>
<style>
.version-buttons {
  display: inline-flex;
  margin-left: 1rem;
}
</style>
