<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="card">
    <div class="grid">
      <div
        class="col-12 workspace-members-head p-3 justify-content-between lg:justify-content-center align-items-center"
        v-if="isSite"
      >
        <div class="">
          <h3>
            <span class="line-height-3"
              >{{ $t("members.youAre") }}
              <span class="text-role font-medium">{{ role }}</span>
              {{ $t("members.ofThisWorkspace") }}.</span
            >
          </h3>
        </div>
      </div>
      <div
        class="col-12 p-3 justify-content-between align-items-center flex"
        v-else
      >
        <div class="ml-4 align-items-start">
          {{
            $t("members.nbAccess", {
              nbAccess: nbMembers,
            })
          }}
        </div>
        <div class="align-content-center">
          <Button
            :label="$t('members.restrictPermissions')"
            rounded
            @click="restrictPermissions()"
            :disabled="!permissions"
            severity="warning"
            size="large"
            icon="ri-prohibited-line"
            v-if="isHerited"
          />
          <Button
            :label="$t('members.restorePermissions')"
            rounded
            @click="restorePermissions()"
            :disabled="!permissions"
            size="large"
            icon="ri-refresh-line"
            v-else
          />
        </div>
      </div>
      <div class="col-12">
        <DataTable
          id="membres"
          :value="members"
          rowHover
          dataKey="id"
          responsiveLayout="scroll"
          removableSort
          v-if="isSite"
        >
          <Column field="avatar">
            <template #body="slotProps">
              <Avatar
                :label="
                  slotProps.data.person
                    ? slotProps.data.person.displayName.charAt(0)
                    : slotProps.data.group.displayName.charAt(0)
                "
                size="large"
                :style="{ 'background-color': '#2196F3', color: '#ffffff' }"
                shape="circle"
              />
            </template>
          </Column>
          <Column
            field="isGroup"
            :header="this.$t('groups')"
            headerStyle="max-width: 4rem"
            :sortable="true"
          >
            <template #body="slotProps">
              <i v-if="slotProps.data.isGroup" class="ri-group-line members" />
            </template>
          </Column>
          <Column field="person" :header="this.$t('members.members')">
            <template #body="slotProps">
              <span>{{
                slotProps.data.person
                  ? `${slotProps.data.person.displayName} (${slotProps.data.person.email}) `
                  : slotProps.data.group.displayName
              }}</span>
            </template>
          </Column>
          <Column field="role" :header="this.$t('members.role')">
            <template #body="slotProps">
              <DropDown
                v-model="selectedRole[slotProps.data.id]"
                :options="rolesValues"
                optionLabel="name"
                :placeholder="this.$t(`role.${slotProps.data.role}`)"
                :value="slotProps.data.role"
                @change="toggleChangeMemberRole(slotProps.data)"
                :disabled="!permissions"
              />
            </template>
          </Column>
          <Column field="buttons">
            <template #body="slotProps">
              <Button
                class="mr-2 mb-2"
                type="button"
                icon="ri-close-line"
                @click="toggleDeleteMember(slotProps.data)"
                :disabled="!permissions"
                severity="danger"
                rounded
                text
              />
            </template>
          </Column>
        </DataTable>

        <DataTable
          id="membres"
          class="mt-4"
          :value="members"
          rowHover
          dataKey="id"
          responsiveLayout="scroll"
          removableSort
          v-else
        >
          <Column field="avatar">
            <template #body="slotProps">
              <Avatar
                v-if="!slotProps.data.authorityId.startsWith('GROUP')"
                :label="slotProps.data.authorityId.charAt(0)"
                size="large"
                :style="{ 'background-color': '#2196F3', color: '#ffffff' }"
                shape="circle"
              />
              <i v-else class="ri-group-line members" />
            </template>
          </Column>
          <Column field="person" :header="this.$t('members.members')">
            <template #body="slotProps">
              <span>{{ slotProps.data.authorityId }}</span>
              <p class="description" v-if="slotProps.data.groupId">
                {{
                  this.$t(`members.fromGroup`, {
                    group: slotProps.data.groupId,
                  })
                }}
              </p>
            </template>
          </Column>
          <Column field="role" :header="this.$t('members.role')">
            <template #body="slotProps">
              <DropDown
                v-if="!slotProps.data.groupId"
                v-model="selectedRole[slotProps.data.name]"
                :options="rolesValues"
                optionLabel="name"
                :placeholder="this.$t(`role.${slotProps.data.name}`)"
                :value="slotProps.data.name"
                @change="changePermission(slotProps.data)"
                :disabled="!permissions"
              />
              <div v-else>
                {{ this.$t(`role.${slotProps.data.name}`) }}
              </div>
            </template>
          </Column>
          <Column field="buttons">
            <template #body="slotProps">
              <Button
                v-if="!slotProps.data.groupId"
                class="mr-2 mb-2"
                type="button"
                icon="ri-close-line"
                @click="deletePermission(slotProps.data)"
                :disabled="!permissions"
                severity="danger"
                rounded
                text
              />
            </template>
          </Column>
        </DataTable>
        <div class="grid my-2">
          <div class="col-fixed mr-2 mb-2">
            <span class="p-input-icon-left p-input-icon-right">
              <AutoComplete
                forceSelection
                v-if="membersToAddList"
                v-model="selectedMemberToAdd"
                :options="membersToAddList"
                dropdown
                option-label="label"
                :suggestions="filteredMembers"
                @complete="searchUser($event)"
                :placeholder="this.$t('members.search')"
                :disabled="!permissions"
              >
                <template #item="slotProps">
                  <div class="member-item">
                    <i v-if="slotProps.item.group" class="ri-group-line" />
                    <div class="ml-2">{{ slotProps.item.label }}</div>
                  </div>
                </template>
              </AutoComplete>
            </span>
          </div>
          <div class="col-fixed mr-2 mb-2">
            <DropDown
              v-model="addSelectedRole"
              :options="rolesValues"
              optionLabel="name"
              :placeholder="this.$t('members.select')"
              :disabled="!permissions"
            />
          </div>
          <div class="col mr-2 mb-2">
            <Button
              v-if="isSite"
              type="button"
              icon="ri-add-line"
              :label="this.$t('members.add')"
              @click="toggleAddMember"
              :disabled="!permissions"
            />
            <Button
              v-else
              type="button"
              icon="ri-add-line"
              :label="this.$t('members.add')"
              @click="addPermissions()"
              :disabled="!permissions"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { alfrescoNodeService, workspaceService } from "@pristy/pristy-libvue";

export default {
  name: "MemberList",
  emits: ["reload", "update-permission"],
  data() {
    return {
      selectedRole: [],
      rolesValues: [
        { name: this.$t("role.SiteManager") },
        { name: this.$t("role.SiteCollaborator") },
        { name: this.$t("role.SiteConsumer") },
      ],
      membersToAddList: null,
      defaultDropDownValue: { name: this.$t("role.SiteConsumer") },
      selectedMemberToAdd: null,
      filteredMembers: null,
      addSelectedRole: null,
      heredityValue: null,
    };
  },
  props: {
    members: {
      type: Array,
      default: () => [],
    },
    workspace: {
      type: Object,
      default: () => ({}),
    },
    permissions: {
      type: Boolean,
      default: false,
    },
    role: {
      type: String,
      default: "",
    },
    isSite: {
      type: Boolean,
      default: true,
    },
    isHerited: {
      type: Boolean,
      default: true,
    },
    nbMembers: {
      type: Number,
      default: 0,
    },
    membersWithoutGroups: {
      type: Array,
      default: () => [],
    },
    membersLocallySet: {
      type: Object,
      default: () => ({}),
    },
    folderNode: {
      type: Object,
      default: () => ({}),
    },
  },
  mounted() {
    this.addSelectedRole = this.defaultDropDownValue;
    this.loadMembersToAddList();
    this.heredityValue = this.isHerited;
  },
  methods: {
    loadMembersToAddList() {
      workspaceService
        .getAllUsers()
        .then((users) => {
          this.membersToAddList = users.map((user) => ({
            ...user,
            label: `${user.displayName} (${user.email})`,
          }));
          return workspaceService.getAllGroups();
        })
        .then((groups) => {
          this.membersToAddList = [...this.membersToAddList, ...groups];
        });
    },
    toggleAddMember() {
      if (this.selectedMemberToAdd == null) {
        this.$toast.add({
          severity: "error",
          summary: this.$t("error"),
          detail: this.$t("members.errorAdd"),
          life: 3000,
        });
      } else {
        let newRole = this.getAlfrescoRole(this.addSelectedRole.name);
        let isGroup = this.selectedMemberToAdd.group;
        const addMember = isGroup
          ? workspaceService.addWorkspaceGroup(
              this.workspace.id,
              this.selectedMemberToAdd.id,
              newRole,
            )
          : workspaceService.addWorkspaceUser(
              this.workspace.id,
              this.selectedMemberToAdd.id,
              newRole,
            );
        addMember
          .then(() => {
            this.$toast.add({
              severity: "success",
              summary: this.$t("success"),
              detail: this.$t("members.successAdd"),
              life: 3000,
            });
            this.$emit("reload");
          })
          .catch((err) => {
            this.$toast.add({
              severity: "error",
              summary: this.$t("error"),
              detail: err.message,
              life: 3000,
            });
          });
      }
    },
    toggleChangeMemberRole(member) {
      let siteId = this.workspace.id;
      let newRole = this.getAlfrescoRole(this.selectedRole[member.id].name);
      const changeMemberRole = member.group
        ? workspaceService.updateWorkspaceGroupRole(siteId, member.id, newRole)
        : workspaceService.updateWorkspaceUserRole(siteId, member.id, newRole);
      changeMemberRole
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("members.successChangeRole"),
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    toggleDeleteMember(member) {
      let siteId = this.workspace.id;
      const deleteMember = member.group
        ? workspaceService.deleteWorkspaceGroup(siteId, member.id)
        : workspaceService.deleteWorkspaceUser(siteId, member.id);
      deleteMember
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("members.successDelete", { id: member.id }),
            life: 3000,
          });
        })
        .then(() => {
          this.$emit("reload");
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    getAlfrescoRole(role) {
      return Object.keys(this.$tm("role")).find(
        (keyRole) => this.$tm("role")[keyRole] === role,
      );
    },
    searchUser(event) {
      setTimeout(() => {
        if (!event.query.trim().length) {
          this.filteredMembers = [...this.membersToAddList];
        } else {
          let query = event.query.toLowerCase();
          this.filteredMembers = this.membersToAddList.filter((member) => {
            let res = member.firstname?.toLowerCase().includes(query);
            res = res || member.lastname?.toLowerCase().includes(query);
            res = res || member.label?.toLowerCase().includes(query);
            res = res || member.id.toLowerCase().includes(query);
            res = res || member.email?.toLowerCase().includes(query);
            return res;
          });
        }
      }, 250);
    },
    restrictPermissions() {
      this.heredityValue = false;
      this.changeHeredity();
    },
    restorePermissions() {
      this.heredityValue = true;
      this.changeHeredity();
    },
    changeHeredity() {
      let managerObj = {
        authorityId: `GROUP_site_${this.$route.params.id}_SiteManager`,
        name: "SiteManager",
        accessStatus: "ALLOWED",
      };
      const opts = {
        permissions: {
          locallySet: this.heredityValue ? [] : [managerObj],
          isInheritanceEnabled: this.heredityValue,
        },
      };
      alfrescoNodeService
        .updateNode(this.folderNode.id, opts)
        .then(() => {
          const detailString = this.heredityValue
            ? this.$t("members.successRestorePermissions")
            : this.$t("members.successRestrictPermissions");
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: detailString,
            life: 3000,
          });
          this.$emit("update-permission");
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    addPermissions() {
      if (this.selectedMemberToAdd == null) {
        this.$toast.add({
          severity: "error",
          summary: this.$t("error"),
          detail: this.$t("members.errorAdd"),
          life: 3000,
        });
      } else {
        const newRole = this.getAlfrescoRole(this.addSelectedRole.name);
        const nextIndex = Object.keys(this.membersWithoutGroups).length + 1;
        const obj = {
          locallySet: {
            ...this.membersWithoutGroups,
            [nextIndex]: {
              accessStatus: "ALLOWED",
              authorityId: this.selectedMemberToAdd.id,
              name: newRole,
            },
          },
        };
        let opts = {
          permissions: {
            locallySet: Object.values(obj.locallySet).map((item) => ({
              authorityId: item.authorityId,
              name: item.name,
              accessStatus: item.accessStatus,
            })),
          },
        };
        alfrescoNodeService
          .updateNode(this.folderNode.id, opts)
          .then(() => {
            this.$toast.add({
              severity: "success",
              summary: this.$t("success"),
              detail: this.$t("members.successAdd"),
              life: 3000,
            });
            this.$emit("update-permission");
          })
          .catch((err) => {
            this.$toast.add({
              severity: "error",
              summary: this.$t("error"),
              detail: err.message,
              life: 3000,
            });
          });
      }
    },
    deletePermission(item) {
      let updatedMembersLocallySet = [...this.membersLocallySet];
      const indexToRemove = updatedMembersLocallySet.findIndex((userObj) => {
        return userObj.authorityId === item.authorityId;
      });

      if (indexToRemove !== -1) {
        updatedMembersLocallySet.splice(indexToRemove, 1);
      }

      let opts = {
        permissions: {
          locallySet: updatedMembersLocallySet,
        },
      };
      alfrescoNodeService
        .updateNode(this.folderNode.id, opts)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("members.successDelete", { id: item.authorityId }),
            life: 3000,
          });
          this.$emit("update-permission");
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    changePermission(item) {
      let updatedMembersLocallySet = [...this.membersLocallySet];
      for (let i = 0; i < updatedMembersLocallySet.length; i++) {
        const userObj = updatedMembersLocallySet[i];

        if (userObj.authorityId === item.authorityId) {
          userObj.name = this.getAlfrescoRole(
            this.selectedRole[item.name].name,
          );
          break;
        }
      }
      let opts = {
        permissions: {
          locallySet: updatedMembersLocallySet,
        },
      };
      alfrescoNodeService
        .updateNode(this.folderNode.id, opts)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("members.successChangeRole"),
            life: 3000,
          });
          this.$emit("update-permission");
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("error"),
            detail: err.message,
            life: 3000,
          });
        });
    },
  },
};
</script>

<style scoped>
.member-item {
  display: inline-flex;
}

.members {
  display: flex;
  justify-content: center;
}
</style>
