<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <Menu ref="newMenu" :model="newMenuItems" :popup="true">
    <template #item="{ label, item, props }">
      <router-link
        v-if="item.route"
        v-slot="routerProps"
        :to="item.route"
        custom
      >
        <a :href="routerProps.href" v-bind="props.action">
          <span v-bind="props.icon" />
          <span v-bind="props.label">{{ label }}</span>
        </a>
      </router-link>
      <a v-else :href="item.url" v-bind="props.action">
        <span v-bind="props.icon" />
        <span v-bind="props.label">{{ label }}</span>
      </a>
    </template>
  </Menu>
  <Button
    v-if="canCreate()"
    class="mobile_button flex-grow-0"
    type="button"
    icon="ri-add-line"
    v-tooltip.left="$t('new')"
    @click="toggleNewMenu"
    rounded
  />
  <Button
    v-if="canCreate()"
    class="classic_button flex-grow-0 mr-2 w-auto"
    type="button"
    :label="$t('create')"
    @click="openNewFolder"
  />
  <Button
    v-if="canCreate()"
    class="classic_button new-button flex-grow-0 w-auto"
    type="button"
    :label="$t('import')"
    @click="openImport"
  />
  <div class="listView flex-grow-0">
    <SelectButton v-model="layout" :options="options" :allowEmpty="false">
      <template #option="{ option }">
        <i
          :class="[
            option === 'list'
              ? 'ri-list-check'
              : option === 'grid'
                ? 'ri-grid-line'
                : 'ri-table-line',
          ]"
        />
      </template>
    </SelectButton>
  </div>
  <NewFolderPopup
    v-if="popup === 'NEWFOLDER'"
    :node="currentFolder"
    @close="closePopup"
  />
  <ImportPopup
    v-if="popup === 'IMPORT'"
    :node="currentFolder"
    @close="closePopup"
    @message="emitMessage"
  />
</template>
<script>
import { alfrescoNodeService, useNavigationStore } from "@pristy/pristy-libvue";
import ImportPopup from "@/components/popup/ImportPopup.vue";
import NewFolderPopup from "@/components/popup/NewFolderPopup.vue";
import { useUiStateStore } from "@/stores/UiStateStore.js";

export default {
  name: "NewMenu",
  components: { ImportPopup, NewFolderPopup },
  props: {
    currentFolder: {
      type: Object,
      default: () => {},
    },
    canUpload: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["message", "reload", "change-layout"],
  data() {
    return {
      popup: null,
      name: null,
      displayNewFolderPopup: false,
      description: null,
      displayErrorEmptyNameMessage: false,
      displayErrorNameMessage: false,
      errorNameMessage: null,
      listView: true,
      newMenuItems: [
        {
          label: this.$t("createFolderOrFile"),
          icon: "ri-folder-2-line",
          command: () => {
            this.openNewFolder();
          },
        },
        {
          label: this.$t("importFile"),
          icon: "ri-file-upload-line",
          command: () => {
            this.openImport();
          },
        },
      ],
      layout: "datatable",
      options: ["list", "grid", "datatable"],
    };
  },
  methods: {
    canCreate() {
      const currentNode = useNavigationStore().currentNode;
      const allowableOperations = currentNode?.allowableOperations || [];
      return (
        allowableOperations.includes("update") &&
        allowableOperations.includes("create")
      );
    },
    openNewFolder() {
      this.name = null;
      this.description = null;
      this.displayErrorEmptyNameMessage = false;
      this.displayErrorNameMessage = false;
      this.errorNameMessage = null;
      this.displayNewFolderPopup = true;
      this.popup = "NEWFOLDER";
      useUiStateStore().isPopupOpen = true;
    },
    openImport() {
      this.popup = "IMPORT";
      useUiStateStore().isPopupOpen = true;
    },
    closePopup(reload) {
      useUiStateStore().isPopupOpen = false;
      this.popup = null;
      if (reload) {
        this.$emit("reload");
      }
    },
    emitMessage(message) {
      this.$emit("message", message);
    },
    toggleNewMenu(event) {
      this.$refs.newMenu.toggle(event);
    },
    createFolder() {
      if (this.name == null || this.name === "") {
        this.displayErrorEmptyNameMessage = true;
        return;
      }
      const opts = {
        name: this.name.trim(),
        nodeType: "cm:folder",
        properties: {
          "cm:description": this.description,
        },
      };
      alfrescoNodeService
        .createNode(this.currentFolder.id, opts)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("folders.successCreate"),
            life: 3000,
          });
          this.closePopup(true);
        })
        .catch((err) => {
          this.errorNameMessage = err.message;
          this.displayErrorNameMessage = true;
        });
    },
  },
  watch: {
    name(newName) {
      this.displayErrorEmptyNameMessage =
        newName != null && newName.length === 0;
      this.displayErrorNameMessage = false;
    },
    layout(newValue) {
      this.$emit("change-layout", newValue);
    },
  },
};
</script>
<style>
#folderIButton {
  margin-left: 2rem;
}
</style>
