<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="flex w-full gap-1">
    <i class="pi pi-download text-success mr-2 text-2xl"></i>
    <div class="flex flex-column flex-grow-1 gap-1">
      <div class="text-base font-bold">{{ toastTitle }}</div>
      <div class="w-full mt-2">
        <div
          v-for="folder in files"
          :key="folder.downloadId"
          class="text-left p-3 border-round-sm"
        >
          <div>
            <div
              v-if="
                folder.status === 'PENDING' || folder.status === 'IN_PROGRESS'
              "
            >
              <div
                v-if="!hasDownloadTimedOut"
                class="flex align-items-center justify-content-between"
              >
                <span class="font-bold cursor-wait">{{ folder.name }}</span>
                <div class="spinner-wrapper">
                  <Knob
                    :modelValue="calculPercentage(folder)"
                    valueTemplate="{value}%"
                    :size="40"
                  />
                  <button
                    class="downloadFileCancel p-toast-icon-close p-link ri-close-line cancel-button"
                    type="button"
                    aria-label="Close"
                    autofocus
                    @click="cancelDownload(folder)"
                  ></button>
                </div>
              </div>
              <div v-else>
                <div class="flex justify-between align-items-center">
                  <span class="font-bold line-through">{{ folder.name }}</span>
                  <i class="ri-close-circle-fill" />
                </div>
                <div class="text-sm">
                  <span>{{ $t("downloadTimeTimeout") }}</span>
                </div>
              </div>
            </div>
            <div v-else-if="folder.status === 'MAX_CONTENT_SIZE_EXCEEDED'">
              <div class="flex justify-between align-items-center">
                <span class="font-bold line-through">{{ folder.name }}</span>
                <i class="ri-close-circle-fill" />
              </div>
              <div class="text-sm">
                <span>{{ $t("downloadMaxContentSizeExceeded") }}</span>
              </div>
            </div>
            <div
              v-else-if="folder.status === 'CANCELLED'"
              class="flex align-items-center justify-content-between"
            >
              <span class="font-bold line-through">{{ folder.name }}</span>
              <i class="ri-close-circle-fill" />
            </div>
            <div
              class="flex align-items-center justify-content-between"
              v-else-if="folder.status === 'DONE'"
            >
              <i
                class="font-bold cursor-pointer underline"
                @click="downloadNode(folder)"
                >{{ folder.name }}</i
              >
              <i class="ri-checkbox-circle-fill" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {
  downloadsApi,
  nodesApi,
  useNavigationStore,
  useSelectionStore,
} from "@pristy/pristy-libvue";
import { mapState } from "pinia";

export default {
  name: "NotificationToast",
  emits: ["close-notification-toast"],
  data() {
    return {
      isLoading: true,
      files: [],
      toastTitle: null,
      hasDownloadTimedOut: false,
      summary: String,
    };
  },
  props: {
    isNotificationToastClosed: Boolean,
    message: null,
  },
  created() {
    this.summary = this.message.summary;
    this.toastTitle = this.$t(this.summary);
    this.createDownload();
  },
  methods: {
    calculPercentage(folder) {
      if (folder.totalFiles !== 0) {
        const percentage = (folder.filesAdded / folder.totalFiles) * 100;
        return Math.round(percentage);
      }
      return 0;
    },
    cancelDownload(folder) {
      downloadsApi
        .cancelDownload(folder.downloadId)
        .then(() => {
          folder.status = "CANCELLED";
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Error",
            detail: err.message,
            life: 3000,
          });
        });
    },
    downloadNode(folder) {
      const opts = {
        attachment: true,
      };
      nodesApi
        .getNodeContent(folder.downloadId, opts)
        .then((blob) => {
          const url = window.URL.createObjectURL(blob);
          const a = document.createElement("a");
          a.style.display = "none";
          a.href = url;
          a.download = folder.name;
          document.body.appendChild(a);
          a.click();
          window.URL.revokeObjectURL(url);
        })
        .catch((error) => {
          console.error("Error downloading file:", error);
        });
    },
    makeDownloadBodyCreate() {
      const nodeIds = this.nodes.map((node) => node.id);
      return {
        nodeIds: nodeIds,
      };
    },
    createDownload() {
      const downloadBodyCreate = this.makeDownloadBodyCreate();
      const opts = {};

      downloadsApi
        .createDownload(downloadBodyCreate, opts)
        .then((data) => {
          const downloadId = data.entry.id;
          let file = {
            name: this.getDownloadFileName(),
            downloadId: downloadId,
            status: data.entry.status,
            filesAdded: data.entry.filesAdded,
            totalFiles: data.entry.totalFiles,
          };
          this.files.push(file);
          this.startDownloadCheck(file);
        })
        .catch((error) => {
          console.error("Error creating download:", error);
        });
    },

    getFolderName() {
      const currentFolderName = useNavigationStore().currentNode.name;
      return currentFolderName === "documentLibrary"
        ? useNavigationStore().workspace.id
        : currentFolderName;
    },

    getTimestamp() {
      return new Date().toISOString().replace(/[-:.]/g, "").slice(0, 15); // Format YYYYMMDDTHHMMSS
    },

    getDownloadFileName() {
      const folderName = this.getFolderName();
      const timestamp = this.getTimestamp();
      return `export-pristy-${folderName}-${timestamp}.zip`;
    },

    startDownloadCheck(downloadFile) {
      const checkInterval = 1000; // 1 seconde
      const timeoutDuration = 20000; // 20 secondes
      let elapsed = 0;

      const checkDownloadStatus = () => {
        if (
          downloadFile.status === "PENDING" ||
          downloadFile.status === "IN_PROGRESS"
        ) {
          downloadsApi
            .getDownload(downloadFile.downloadId)
            .then((statusData) => {
              const file = this.files.find(
                (file) => file.downloadId === downloadFile.downloadId,
              );

              if (file) {
                file.status = statusData.entry.status;
                file.filesAdded = statusData.entry.filesAdded;
                file.totalFiles = statusData.entry.totalFiles;
              }

              if (
                ["DONE", "CANCELLED", "MAX_CONTENT_SIZE_EXCEEDED"].includes(
                  file.status,
                )
              ) {
                clearInterval(checkIntervalId);
                if (file.status === "DONE") {
                  this.toastTitle = this.$t("downloading");
                  this.downloadNode(file);
                } else if (file.status === "MAX_CONTENT_SIZE_EXCEEDED") {
                  this.toastTitle = this.$t("downloadFailed");
                } else if (file.status === "CANCELLED") {
                  this.toastTitle = this.$t("downloadCanceled");
                }
              }
            })
            .catch((error) => {
              console.error("Error fetching download status:", error);
            });

          elapsed += checkInterval;
          if (elapsed >= timeoutDuration) {
            clearInterval(checkIntervalId);
            console.error("Download check timed out");
            this.hasDownloadTimedOut = true;
            this.toastTitle = this.$t("downloadFailed");
          }
        }
      };
      const checkIntervalId = setInterval(checkDownloadStatus, checkInterval);
    },
  },
  computed: {
    ...mapState(useSelectionStore, ["nodes"]),
  },
  watch: {
    isNotificationToastClosed(newValue) {
      if (newValue) {
        this.files.forEach((folder) => {
          if (folder.status === "PENDING" || folder.status === "IN_PROGRESS") {
            this.cancelDownload(folder);
          }
        });
        this.$emit("close-notification-toast", this.message);
      }
    },
  },
};
</script>

<style scoped>
.spinner-wrapper {
  margin-left: 1rem;
  position: relative;
}

.cancel-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: red;
  cursor: pointer;
  visibility: hidden;
}

.downloadFileCancel {
  width: 3rem !important;
  height: 3rem !important;
}
.spinner-wrapper:hover .cancel-button {
  visibility: visible;
}
.spinner-wrapper:hover {
  visibility: hidden;
}
</style>
