<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div class="page-vide">
    <img alt="pristy" :src="faviconImage()" class="empty-logo" />
    <div v-if="isMember">
      <div v-if="canUpload">
        <p>
          {{ $t("emptyFolderMsg") }}
        </p>
        <div>
          <Button
            type="button"
            :label="$t('createFolderOrFile')"
            @click="emitPopup('NEWFOLDER')"
          />
          <Button
            type="button"
            :label="$t('importFile')"
            @click="emitPopup('IMPORT')"
          />
        </div>
        <p class="classic_zone">{{ $t("or") }}</p>
        <div class="drag classic_zone">
          <p>{{ $t("dragAndDropMsg") }}</p>
        </div>
      </div>
      <div v-else>
        <p>
          {{ $t("emptyFolderMsgSiteConsumer") }}
        </p>
      </div>
    </div>
    <div v-else>
      <p>
        {{ $t("notMemberOfWorkspace") }}
      </p>
    </div>
  </div>
</template>
<script>
import { useConfigStore } from "@pristy/pristy-libvue";

export default {
  name: "PageVide",
  props: {
    canUpload: {
      type: Boolean,
      default: false,
    },
    isMember: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["popup"],
  methods: {
    emitPopup(popup) {
      this.$emit("popup", popup);
    },
    faviconImage() {
      const config = useConfigStore();
      return `${config.APP_ROOT}images/pristy/favicon-pristy.svg`;
    },
  },
};
</script>
<style scoped>
.empty-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16rem;
}
</style>
