<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <Paginator
    v-model="displayedElementsCopy"
    :first="first"
    :rows="elementPerPage"
    :totalRecords="totalRecords"
    @page="changePage($event)"
    :rowsPerPageOptions="ROW_PER_PAGE_OPTIONS"
    @update:rows="changeElementPerPage($event)"
  ></Paginator>
</template>

<script>
import { useStorage } from "@vueuse/core";
import { mapState } from "pinia";
import { usePaginatorStore } from "@/stores/PaginatoreStore.js";
import { useConfigStore } from "@pristy/pristy-libvue";

export default {
  name: "PaginatorComponent",
  emits: ["changePage", "changeElementPerPage"],
  props: {
    displayedElements: null,
    totalRecords: null,
  },
  data() {
    return {
      elementPerPage: null,
      displayedElementsCopy: null,
    };
  },
  mounted() {
    this.displayedElementsCopy = [...this.displayedElements];
    const storedElementPerPage = useStorage(
      "elementPerPage",
      useConfigStore().DEFAULT_ELEMENT_PER_PAGE,
    );
    this.elementPerPage = storedElementPerPage.value;
  },
  methods: {
    changeElementPerPage(event) {
      const storedElementPerPage = localStorage.getItem("elementPerPage");
      const parsedElementPerPage = storedElementPerPage
        ? parseInt(storedElementPerPage)
        : null;
      const isSameElementPerPage = parsedElementPerPage === event;
      if (!isSameElementPerPage) {
        this.elementPerPage = event;
        localStorage.setItem("elementPerPage", this.elementPerPage);
        this.$emit("changeElementPerPage");
      }
    },
    changePage(event) {
      this.skipCount = event.page * this.elementPerPage;
      usePaginatorStore().first = this.skipCount;
      this.$emit("changePage", this.skipCount);
    },
  },
  computed: {
    ...mapState(usePaginatorStore, ["first"]),
    ...mapState(useConfigStore, ["ROW_PER_PAGE_OPTIONS"]),
  },
};
</script>

<style scoped></style>
