<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <div
    class="flex-grow-1 overflow-auto"
    :class="{
      'overflow-y-auto outline-none': isPdfConsultationPage,
    }"
    style="height: calc(100vh - 9rem)"
    @keydown.left="previousPage()"
    @keydown.right="nextPage()"
    tabindex="0"
    ref="pdfComponent"
  >
    <ProgressSpinner
      v-if="!pdf"
      class="loadingRendition"
      aria-label="Loading"
    />
    <div v-else>
      <div
        class="flex flex-wrap justify-content-center gap-1 m-2"
        :class="{ 'pr-6': isSmallScreen }"
      >
        <div
          class="flex flex-column align-items-center"
          v-if="isSinglePageDisplayed"
        >
          <div class="flex m-2">
            <Button
              icon="ri-arrow-left-line"
              @click="previousPage()"
              size="small"
              :disabled="isLeftButtonDisable"
              v-tooltip="$t('pdf.previousPage')"
            />
            <span class="flex align-items-center mx-2 gap-1">
              <InputNumber
                v-model="page"
                inputId="integeronly"
                fluid
                :min="1"
                :max="pages"
                :disabled="pages === 1"
                class="pageInputNumber"
              />
              {{ $t("pdf.on") }} {{ pages }}
            </span>
            <Button
              icon="ri-arrow-right-line"
              @click="nextPage()"
              size="small"
              :disabled="isRightButtonDisable"
              v-tooltip="$t('pdf.nextPage')"
            />
          </div>
        </div>
        <Divider layout="vertical" class="pdfActionDivider" v-if="pages > 1" />
        <div class="flex flex-column align-items-center" v-if="pages > 1">
          <div class="flex gap-1 m-2">
            <div>
              <Button
                v-if="isSinglePageDisplayed"
                icon="ri-file-copy-2-line"
                @click="changePdfDisplay()"
                v-tooltip.top="$t('pdf.showAllPages')"
                size="small"
              />
              <Button
                v-else
                icon="ri-file-list-line"
                @click="changePdfDisplay()"
                v-tooltip.top="$t('pdf.showPageByPage')"
                size="small"
              />
            </div>
          </div>
        </div>
        <Divider layout="vertical" class="pdfActionDivider" />
        <div class="flex flex-column align-items-center">
          <div class="flex gap-1 m-2">
            <Button
              icon="ri-arrow-go-back-line"
              @click="rotation = rotation - 90"
              size="small"
              v-tooltip="$t('pdf.rotationLeft')"
            />
            <Button
              icon="ri-arrow-go-forward-line"
              @click="rotation = rotation + 90"
              size="small"
              v-tooltip="$t('pdf.rotationRigth')"
            />
          </div>
        </div>
        <Divider layout="vertical" class="pdfActionDivider" />
        <div class="flex flex-column align-items-center">
          <div class="flex gap-1 m-2">
            <Button
              icon="ri-zoom-out-line"
              @click="scale = scale > 0.25 ? scale - 0.25 : scale"
              size="small"
              v-tooltip="$t('pdf.dezoom')"
            />
            <Button
              icon="ri-zoom-in-line"
              @click="scale = scale < 2 ? scale + 0.25 : scale"
              size="small"
              v-tooltip="$t('pdf.zoom')"
            />
          </div>
        </div>
        <Divider layout="vertical" class="pdfActionDivider" />
        <div class="flex flex-column align-items-center">
          <div class="flex gap-1 m-2">
            <Button
              icon="ri-aspect-ratio-line"
              @click="fitAuto()"
              size="small"
              v-tooltip="$t('pdf.adaptToPage')"
            />
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="flex mx-auto gap-3 mb-3" v-if="isPdfConsultationPage">
          <h3 class="consultation-title">
            {{ getFileName }}
          </h3>
          <Tag
            class="mx-auto text-xl"
            v-if="$route.params.versionId"
            :value="getVersionNumber"
          />
        </div>
      </div>
      <div class="flex justify-content-center" v-if="isSinglePageDisplayed">
        <VuePDF
          class="overflow-y-hidden"
          :pdf="pdf"
          :page="page"
          :rotation="rotation"
          :scale="scale"
          text-layer
        />
      </div>
      <div v-else class="flex flex-wrap justify-content-center gap-4">
        <div v-for="page in pages" :key="page">
          <VuePDF :pdf="pdf" :page="page" :rotation="rotation" :scale="scale" />
          <span class="flex justify-content-center p-4">
            {{
              $t("pdf.currentPagination", { page: page, pages: pages })
            }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { usePDF, VuePDF } from "@tato30/vue-pdf";
import * as pdfjsLib from "pdfjs-dist";
import "@tato30/vue-pdf/style.css";
import { useSelectionStore } from "@pristy/pristy-libvue";

pdfjsLib.GlobalWorkerOptions.workerSrc = new URL(
  "pdfjs-dist/build/pdf.worker.mjs",
  import.meta.url,
).toString();

export default {
  components: {
    VuePDF,
  },
  props: {
    url: String,
  },
  data() {
    return {
      pdf: null,
      pages: null,
      page: 1,
      rotation: 0,
      scale: 1,
      defaultViewport: {
        width: 0,
        height: 0,
      },
      isSinglePageDisplayed: true,
    };
  },
  mounted() {
    this.focusOnPDFComponent();
    this.loadPDF();
    this.setDefaultViewport();
    this.fitAuto();
  },
  methods: {
    changePdfDisplay() {
      this.loadPDF();
      this.isSinglePageDisplayed = !this.isSinglePageDisplayed;
      if (this.isPdfConsultationPage) {
        const url = new URL(window.location.href);
        if (this.isSinglePageDisplayed) {
          this.changePageUrl(this.page);
        } else {
          url.searchParams.delete("page");
          window.history.replaceState(null, "", url.toString());
        }
      }
      if (this.isSinglePageDisplayed) {
        this.focusOnPDFComponent();
      }
    },
    setDefaultViewport() {
      if (this.isSmallScreen) {
        this.defaultViewport.width = 300;
        this.defaultViewport.height = 200;
      } else {
        if (this.$route.name === "consultation-pdf") {
          this.defaultViewport.width = 700;
          this.defaultViewport.height = 500;
        } else {
          this.defaultViewport.width = 900;
          this.defaultViewport.height = 700;
        }
      }
    },

    menuDiff() {
      const SM_SIZE = 640;
      const MD_SIZE = 768;
      const LG_SIZE = 1024;

      const SM_MENU_SIZE = 200;
      const MD_MENU_SIZE = 250;
      const LG_MENU_SIZE = 300;
      const XL_MENU_SIZE = 350;

      let menuDiff;
      if (window.innerWidth <= SM_SIZE) {
        menuDiff = SM_MENU_SIZE;
      } else if (window.innerWidth <= MD_SIZE) {
        menuDiff = MD_MENU_SIZE;
      } else if (window.innerWidth <= LG_SIZE) {
        menuDiff = LG_MENU_SIZE;
      } else {
        menuDiff = XL_MENU_SIZE;
      }
      return menuDiff;
    },

    pageWidthScale() {
      if (!this.defaultViewport.width) return 1;
      let availableSize = window.innerWidth - this.menuDiff();
      return availableSize / this.defaultViewport.width;
    },

    pageHeightScale() {
      if (!this.defaultViewport.height) return 1;
      let availableSize = window.innerHeight - this.menuDiff();
      return (availableSize / this.defaultViewport.height) * 0.8;
    },

    fitAuto() {
      const widthScale = this.pageWidthScale();
      const heightScale = this.pageHeightScale();
      this.scale = Math.min(widthScale, heightScale);
    },
    previousPage() {
      if (!this.isLeftButtonDisable) {
        this.page = this.page > 1 ? this.page - 1 : this.page;
      }
    },
    nextPage() {
      if (!this.isRightButtonDisable) {
        this.page = this.page < this.pages ? this.page + 1 : this.page;
      }
    },
    loadPDF() {
      if (!this.url) {
        console.error("URL is not defined");
        return;
      }
      pdfjsLib
        .getDocument(this.url)
        .promise.then((pdfInstance) => {
          pdfInstance.getData().then((data) => {
            let document = usePDF(data);
            this.pdf = document.pdf;
            this.pages = document.pages;
          });
        })
        .catch((error) => {
          console.error("Error loading PDF:", error);
        });
    },
    changePageUrl(pageValue) {
      if (pageValue !== 0) {
        const pageNumber = parseInt(pageValue, 10);
        if (!isNaN(pageNumber)) {
          const newQuery = new URLSearchParams(window.location.search);
          newQuery.set("page", pageNumber);
          window.history.replaceState(
            null,
            "",
            `${window.location.pathname}?${newQuery.toString()}`,
          );
        }
      }
    },
    focusOnPDFComponent() {
      if (this.$refs.pdfComponent) {
        this.$refs.pdfComponent.focus();
      }
    },
  },
  computed: {
    getVersionNumber() {
      return `Version ${this.$route.params.versionId}`;
    },
    getFileName() {
      const selectionStore = useSelectionStore();
      if (selectionStore.files.length > 0) {
        return selectionStore.files[0].name;
      } else {
        return "";
      }
    },
    isLeftButtonDisable() {
      return this.page === 1;
    },
    isRightButtonDisable() {
      return this.page === this.pages;
    },
    isPdfConsultationPage() {
      return this.$route.name.startsWith("consultation-pdf");
    },
    isSmallScreen() {
      return window.innerWidth <= 920;
    },
  },
  watch: {
    pages(newValue) {
      if (this.isPdfConsultationPage) {
        const wantedPage = parseInt(this.$route.query.page) || 1;
        this.page =
          wantedPage > newValue ? newValue : wantedPage < 1 ? 1 : wantedPage;
        this.changePageUrl(this.page);
      }
    },
    page(newValue) {
      if (this.isPdfConsultationPage) {
        this.changePageUrl(newValue);
      }
    },
  },
};
</script>
<style lang="css" scoped>
.loadingRendition {
  display: flex;
  margin: 0.5rem auto 0;
}
.pdfActionDivider {
  margin: 0 0.5rem !important;
}
</style>
