<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<!--
// Based on work from https://github.com/rossta/vue-pdfjs-demo
// Copyright (c) 2018 Ross Kaffenberger
// Copyright (c) 2022 Jérémie Lesage - Jeci
// -->
<template>
  <div class="canvasWrapper" :style="viewportSizeStyle">
    <div>
      <canvas
        ref="canvas"
        :width="dprViewport.width"
        :height="dprViewport.height"
        :data-page="page.pageNumber"
        :style="viewportSizeStyle"
      ></canvas>
    </div>
    <div
      class="textLayer"
      ref="textLayerDiv"
      :style="{
        width: dprViewport.width + 'px',
        height: dprViewport.height + 'px',
      }"
    ></div>
  </div>
</template>

<script>
import visible from "../directives/visible";
import { toRaw } from "vue";

function renderTextLayer(opts) {
  // Using import statement in this way allows Webpack
  // to treat pdf.js as an async dependency so we can
  // avoid adding it to one of the main bundles
  return import("pdfjs-dist").then((pdfjs) => pdfjs.renderTextLayer(opts));
}

export default {
  name: "ShowPage",

  props: {
    page: {
      type: Object, // instance of PDFPageProxy returned from pdf.getPage
      required: true,
    },
    scale: {
      type: Number,
      required: true,
      default: 1,
    },
    optimalScale: {
      type: Number,
      required: true,
      default: 1,
    },
    canvasContainer: {
      required: true,
    },
  },

  emits: ["page-rendered", "page-errored", "update-visibility"],

  directives: {
    visible,
  },

  data() {
    return {
      dims: {
        width: 0,
        height: 0,
      },
      canvas: undefined,
      pageWrapper: undefined,
      textLayerDiv: undefined,
      pageToDataURL: undefined,
      textContent: {},
      annotations: [],
      resizing: false,
    };
  },

  mounted() {
    this.drawPage();
    this.dims = {
      width: this.canvasContainer.$el.clientWidth,
      height: this.canvasContainer.$el.clientHeight,
    };
  },

  beforeUnmount() {
    this.destroyRenderTask();
  },

  methods: {
    drawPage() {
      if (this.renderTask) return;

      let can = this.$refs.canvas;
      let ctx = can.getContext("2d");
      let defaultViewport = this.dprViewport;

      let rawPage = toRaw(this.page);
      let renderTask = rawPage.render({
        canvasContext: ctx,
        viewport: defaultViewport,
      });
      return renderTask.promise
        .then(() => {
          return rawPage.getTextContent();
        })
        .then((data) => {
          this.textContent = data;
        })
        .then(() => {
          this.$emit("page-rendered", {
            page: this.page,
            text: `Rendered page ${this.pageNumber}`,
          });
        })
        .catch((response) => {
          console.warn("Rendered page error", response);
          this.destroyRenderTask();
          this.$emit("page-errored", {
            response,
            page: this.page,
            text: `Failed to render page ${this.pageNumber}`,
          });
        });
    },

    renderText() {
      let textContent = toRaw(this.textContent);
      let container = this.$refs.textLayerDiv;
      let viewport = this.dprViewport;

      renderTextLayer({
        textContent,
        container,
        viewport,
        textDivs: [],
      });
    },

    destroyPage(page) {
      if (page) {
        let rawPage = toRaw(page);
        rawPage.cleanup();
      }

      this.destroyRenderTask();
    },

    destroyRenderTask() {
      if (!this.renderTask) return;

      this.renderTask.cancel();
      delete this.renderTask;
    },
  },

  watch: {
    scale() {
      let self = this;
      setTimeout(function () {
        self.drawPage();
      }, 100);
    },
    textContent() {
      this.$refs.textLayerDiv.innerHTML = "";
      this.renderText();
    },
  },

  computed: {
    viewportSizeStyle() {
      return {
        width: `${this.dprViewport.width}px`,
        height: `${this.dprViewport.height}px`,
      };
    },
    dprViewport() {
      let page = toRaw(this.page);
      let viewport = page.getViewport({ scale: this.scale });
      viewport.width = Math.floor(viewport.width);
      viewport.height = Math.floor(viewport.height);
      return viewport;
    },

    pageNumber() {
      return this.page.pageNumber;
    },
  },
};
</script>
<style scoped lang="scss">
.canvasWrapper {
  position: relative;
}
</style>
