<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<!--
// Based on work from https://github.com/rossta/vue-pdfjs-demo
// Copyright (c) 2018 Ross Kaffenberger
// Copyright (c) 2022 Jérémie Lesage - Jeci
// -->
<template>
  <div class="scrolling-document" v-scroll.immediate="updateScrollBounds">
    <ScrollingPage
      v-for="page in pages"
      :key="page.pageNumber"
      v-bind="{ page, clientHeight, scrollTop, focusedPage, enablePageJump }"
      v-slot="{ isPageFocused, isElementFocused }"
      @page-jump="onPageJump"
    >
      <div class="scrolling-page">
        <slot v-bind="{ page, isPageFocused, isElementFocused }"></slot>
      </div>
    </ScrollingPage>
    <div class="col-12" v-if="hasMore">
      <Button @click="fetchPages" class="observer"
        >Charger plus de pages
      </Button>
    </div>
  </div>
  <ScrollTop target="parent" class="mr-2" />
</template>

<script>
import scroll from "../directives/scroll";
import visible from "../directives/visible";

import ScrollingPage from "@/components/PdfPageScrollingPage.vue";

export default {
  components: {
    ScrollingPage,
  },

  directives: {
    visible,
    scroll,
  },

  props: {
    pages: {
      required: true,
    },
    numPages: {
      required: true,
    },
    enablePageJump: {
      type: Boolean,
      default: false,
    },
    currentPage: {
      type: Number,
      default: 1,
    },
    isParentVisible: {
      default: true,
    },
  },

  emits: ["page-jump", "pages-fetch", "pages-reset"],

  data() {
    return {
      focusedPage: null,
      scrollTop: 0,
      clientHeight: 0,
    };
  },

  computed: {
    pagesLength() {
      return this.pages.length;
    },

    hasMore() {
      return this.numPages > this.pages.length;
    },
  },

  methods: {
    fetchPages(currentPage) {
      console.log("click fetchPages ", currentPage);
      this.$emit("pages-fetch", currentPage);
    },

    onPageJump(scrollTop) {
      console.log("show onPageJump");
      this.$emit("page-jump", scrollTop);
    },

    updateScrollBounds() {
      const { scrollTop, clientHeight } = this.$el;
      this.scrollTop = scrollTop;
      this.clientHeight = clientHeight;
    },
  },

  watch: {
    isParentVisible: "updateScrollBounds",

    pagesLength(count, oldCount) {
      if (oldCount === 0) this.$emit("pages-reset");

      // Set focusedPage after new pages are mounted
      this.$nextTick(() => {
        this.focusedPage = this.currentPage;
      });
    },

    currentPage(currentPage) {
      if (currentPage > this.pages.length) {
        this.fetchPages(currentPage);
      } else {
        this.focusedPage = currentPage;
      }
    },
  },
};
</script>

<style>
.observer {
  display: block;
  margin: 2rem auto;
}
</style>
