<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<!--
// Based on work from https://github.com/rossta/vue-pdfjs-demo
// Copyright (c) 2018 Ross Kaffenberger
// Copyright (c) 2022 Jérémie Lesage - Jeci
// -->
<template>
  <ToolBar class="sticky consultation-toolbar">
    <template v-slot:start>
      <span v-if="node" class="consultation-title">{{ node.name }}</span>
      <Tag
        class="tag-version"
        v-if="$route.params.versionId"
        :value="$route.params.versionId"
      />
    </template>
    <template v-slot:end>
      <div style="width: 6rem" class="mr-4">({{ numPages }} pages)</div>

      <Button
        icon="ri-zoom-out-line"
        v-tooltip.bottom="`Réduire`"
        class="mr-1"
        @click="scaleDown"
        severity="secondary"
        text
        raised
      />
      <Button
        icon="ri-zoom-in-line"
        v-tooltip.bottom="`Agrandir`"
        class="mr-2"
        @click="scaleUp"
        severity="secondary"
        text
        raised
      />
      <Button
        icon="ri-search-eye-line"
        v-tooltip.bottom="`Dimenssion initiale`"
        class="mr-2"
        @click="scale100"
        severity="secondary"
        text
        raised
      />
      <Button
        icon="ri-aspect-ratio-line"
        v-tooltip.bottom="`Adapté à la page`"
        class="mr-2"
        @click="fitAuto"
        severity="secondary"
        text
        raised
      />
      <span
        class="mr-6"
        @click="scale100"
        style="cursor: pointer"
        v-tooltip.bottom="`Zoom Actuel`"
      >
        {{ Math.round(scale * 100) }}%
      </span>
      <Button
        icon="ri-download-line"
        severity="warning"
        class="mr-2"
        @click="download()"
        v-tooltip.bottom="`Télécharger`"
        raised
      />
      <Button
        icon="ri-file-info-line"
        severity="secondary"
        class="mr-2"
        @click="changeSplitterDisplay()"
        v-tooltip.bottom="`Informations`"
        text
        raised
      />
    </template>
  </ToolBar>
  <ScrollingDocument
    class="pdf-document"
    v-bind="{ pages, numPages, currentPage }"
    v-slot="{ page }"
    :enable-page-jump="true"
    @page-jump="onPageJump"
    @pages-fetch="onPagesFetch"
    @pages-reset="scale100"
    ref="canvasContainer"
  >
    <ShowPage
      v-bind="{ scale, page, optimalScale }"
      @page-rendered="onPageRendered"
      @page-errored="onPageErrored"
      :canvasContainer="$refs.canvasContainer"
    />
  </ScrollingDocument>
</template>

<script>
import ScrollingDocument from "@/components/PdfPageScrollingDocument.vue";
import ShowPage from "@/components/PdfPageShowPage.vue";
import range from "lodash/range";
import { toRaw } from "vue";

import * as pdfjsLib from "pdfjs-dist";
import { EventBus } from "pdfjs-dist/web/pdf_viewer";
import { GlobalWorkerOptions } from "pdfjs-dist";

GlobalWorkerOptions.workerSrc = new URL(
  "pdfjs-dist/build/pdf.worker.js",
  import.meta.url,
);

// Some PDFs need external cmaps.
const CMAP_URL = "pdfjs-dist/cmaps/";
const CMAP_PACKED = true;
const BUFFER_LENGTH = 10;
const ENABLE_XFA = true;

const SM_SIZE = 576;
const SM_MENU_SIZE = 80;
const MD_SIZE = 768;
const MD_MENU_SIZE = 80;
const LG_SIZE = 992;
const LG_MENU_SIZE = 100;
// const XL_SIZE = 1200;
const XL_MENU_SIZE = 700;

function getDocument(url) {
  let loadingTask = pdfjsLib.getDocument(url).promise;
  loadingTask.__PDFDocumentLoadingTask = true; // since PDFDocumentLoadingTask is not public
  return loadingTask;
}

function floor(value, precision) {
  const multiplier = Math.pow(10, precision || 0);
  return Math.floor(value * multiplier) / multiplier;
}

export default {
  name: "VuePDFjs",

  components: {
    ScrollingDocument,
    ShowPage,
  },

  props: {
    pdfpath: {
      type: String,
      required: true,
    },
    node: {},
  },

  emits: ["page-focus", "changeSplitterDisplay", "load-error"],

  data: () => ({
    loading: false,
    numPage: 0,
    numPages: 0,
    scale: 1.0,
    pdfPage: null,
    pdfDocument: null,
    eventBus: null,
    pdfViewer: null,
    pages: [],
    currentPage: 0,
    optimalScale: 1.0,
  }),

  created() {
    this.eventBus = new EventBus();
  },

  mounted() {
    this.loadContent();
  },

  methods: {
    loadContent() {
      this.loading = true;

      // Start loading the document the sooner possible
      getDocument({
        url: this.pdfpath,
        cMapUrl: CMAP_URL,
        cMapPacked: CMAP_PACKED,
        enableXfa: ENABLE_XFA,
        textLayerMode: 2,
      })
        .then((pdfDoc) => {
          this.pdfDocument = pdfDoc;
          this.numPages = pdfDoc.numPages ? pdfDoc.numPages : 1;
          this.fetchPages(pdfDoc, 0);
          this.updateScale(1.0);
        })
        .catch((response) => {
          console.warn("Failed to retrieve PDF", response);
          this.$emit("load-error", {
            text: "Failed to retrieve PDF",
            response,
          });
        });
    },
    changeSplitterDisplay() {
      this.$emit("changeSplitterDisplay");
    },
    download() {
      const link = document.createElement("a");
      link.href = this.pdfpath;
      const fileName = this.node.name;
      let version = "";
      if (this.$route.params.versionId) {
        version = this.$route.params.versionId;
      } else if (this.node.properties) {
        version = this.node.properties["cm:versionLabel"];
      }
      const regex = /\.[^.]+$/;
      const fileNameWithoutExtension = fileName.replace(regex, "");
      // Force PDF extension
      link.download = `${fileNameWithoutExtension}-v-${version}.pdf`;
      link.click();
    },
    fetchPages(pdfDoc, currentPage) {
      if (!pdfDoc) {
        pdfDoc = toRaw(this.pdfDocument);
      }
      if (this.numPages > 0 && this.pages.length === this.numPages) return;

      const startIndex = this.pages.length;
      if (this.cursor > startIndex) return;

      const startPage = startIndex + 1;
      const endPage = Math.min(
        Math.max(currentPage, startIndex + BUFFER_LENGTH),
        this.numPages,
      );
      this.cursor = endPage;

      console.log(`Fetching pages ${startPage} to ${endPage}`);
      const allPages = range(startPage, endPage + 1).map((number) => {
        return pdfDoc.getPage(number);
      });
      Promise.all(allPages)
        .then((pages) => {
          const deleteCount = 0;
          this.pages.splice(startIndex, deleteCount, ...pages);
          return this.pages;
        })
        .catch((response) => {
          this.$emit("load-error", {
            text: "Failed to retrieve pages",
            response,
          });
          console.warn("Failed to retrieve pages", response);
        });
    },

    print() {
      this.scale = 1;
      setTimeout(() => {
        window.print();
      }, 250);
    },
    scale100() {
      this.scale = 1;
    },
    scaleUp() {
      this.scale = Math.min(3.0, this.scale + 0.2);
    },
    scaleDown() {
      this.scale = Math.max(0.2, this.scale - 0.2);
    },

    onDocumentRendered() {
      this.$emit("load-error", this.url);
    },

    onDocumentErrored(e) {
      this.$emit("load-error", e);
    },

    updateScale(scale, isOptimal = false) {
      const roundedScale = floor(scale, 2);
      if (isOptimal) this.optimalScale = roundedScale;
      this.scale = roundedScale;
    },

    updateFit(fit) {
      this.fit = fit;
    },

    updatePageCount(pageCount) {
      this.pageCount = pageCount;
    },

    updateCurrentPage(pageNumber) {
      this.currentPage = pageNumber;
    },

    togglePreview() {
      this.isPreviewEnabled = !this.isPreviewEnabled;
    },

    menuDiff() {
      let menuDiff;
      if (window.innerWidth <= SM_SIZE) {
        menuDiff = SM_MENU_SIZE;
      } else if (window.innerWidth <= MD_SIZE) {
        menuDiff = MD_MENU_SIZE;
      } else if (window.innerWidth <= LG_SIZE) {
        menuDiff = LG_MENU_SIZE;
      } else {
        menuDiff = XL_MENU_SIZE;
      }
      return menuDiff;
    },

    pageWidthScale() {
      const { defaultViewport } = this;
      if (!defaultViewport.width) return 0;
      let availableSize = window.innerWidth - this.menuDiff();
      return availableSize / defaultViewport.width;
    },

    pageHeightScale() {
      const { defaultViewport } = this;
      if (!defaultViewport.height) return 0;
      let availableSize = window.innerHeight - this.menuDiff();
      return availableSize / defaultViewport.height;
    },
    // Determine an ideal scale using viewport of document's first page, the pixel ratio from the browser
    // and a subjective scale factor based on the screen size.
    fitWidth() {
      const scale = this.pageWidthScale();
      this.updateScale(scale, !this.optimalScale);
    },

    fitAuto() {
      const pws = this.pageWidthScale();
      this.updateScale(pws);
    },

    onPageJump(scrollTop) {
      this.$el.scrollTop = scrollTop; // triggers 'scroll' event
    },

    onPagesFetch(currentPage) {
      this.fetchPages(toRaw(this.pdfDocument), currentPage);
      this.$parent.$emit("pages-fetch", currentPage);
    },

    onPageFocused(pageNumber) {
      this.$parent.$emit("page-focus", pageNumber);
    },

    onPageRendered(payload) {
      this.$parent.$emit("page-rendered", payload);
    },

    onPageErrored(payload) {
      this.$parent.$emit("page-errored", payload);
    },
  },

  computed: {
    defaultViewport() {
      if (!this.pages.length) return { width: 0, height: 0 };
      const [page] = this.pages;
      return page.getViewport({ scale: 1.0 });
    },

    isPortrait() {
      const { width, height } = this.defaultViewport;
      return width <= height;
    },
  },

  watch: {
    pageCount: "fitWidth",
    isPreviewEnabled: "fitWidth",
  },
};
</script>

<style lang="scss">
@import "../assets/styles/pdf_viewer.css";

.p-toolbar {
  flex-wrap: nowrap;
}

.scrolling-document {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6em;
}

.pdf-document {
  display: flex;
}

.scrolling-page {
  display: flex;
  padding-bottom: 0.5rem;
  margin: 0.5rem auto 0;
  border: #525f69 solid 1px;
}
</style>
