<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <TabView>
    <!-- Recent Files -->
    <TabPanel
      :header="$t('recentData.recentFiles')"
      v-if="recentFiles.length > 0"
    >
      <div class="flex flex-row card overflow-x-auto overflow-y-hidden gap-4">
        <div
          v-for="fichier in recentFiles"
          :key="fichier.id"
          class="w-10rem flex flex-column"
        >
          <div>
            <router-link
              :to="collaboraService().getRoute(fichier)"
              v-tooltip.bottom="fichier.name"
            >
              <div
                class="white-space-nowrap pb-2 overflow-hidden text-overflow-ellipsis"
              >
                {{ fichier.name }}
              </div>
            </router-link>
          </div>
          <div>
            <Image class="shadow-2" preview>
              <template #image>
                <img
                  :src="alfrescoFileService().getThumbnailUrl(fichier.id)"
                  :alt="fichier.name"
                  @error="onImageLoadFailure($event, fichier)"
                />
              </template>
              <template #preview>
                <img
                  :src="alfrescoFileService().getPreviewUrl(fichier.id)"
                  :alt="fichier.name"
                />
              </template>
            </Image>
            <PristyIcon
              class="icone"
              hidden
              :svgFileName="loadIcon(fichier)"
              v-tooltip="loadIconLabel(fichier)"
            />
          </div>
        </div>
      </div>
    </TabPanel>
    <!-- Recent Folders -->
    <TabPanel
      :header="$t('recentData.recentFolders')"
      v-if="recentFolders.length > 0"
    >
      <div
        class="flex flex-row card column-gap-6 overflow-x-auto overflow-y-hidden"
      >
        <div
          v-for="folder in recentFolders"
          :key="folder.id"
          class="w-10rem flex flex-column"
        >
          <div class="overflow-hidden white-space-nowrap">
            <router-link :to="goToFolder(workspace.id, folder.id)">
              <PristyIcon class="icone" :svgFileName="loadIcon(folder)" />
            </router-link>

            <br />
            <router-link
              :to="goToFolder(workspace.id, folder.id)"
              v-tooltip.bottom="folder.name"
            >
              <div
                class="white-space-nowrap pb-2 overflow-hidden text-overflow-ellipsis"
              >
                {{ folder.name }}
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </TabPanel>
  </TabView>
</template>

<script>
import collaboraService from "@/services/CollaboraService";
import {
  alfrescoFileService,
  iconeService,
  PristyIcon,
  searchApi,
} from "@pristy/pristy-libvue";

export default {
  name: "RecentDataList",
  components: { PristyIcon },
  data() {
    return {
      recentFiles: [],
      recentFolders: [],
    };
  },
  props: {
    layout: {},
    workspace: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    this.searchRecent();
  },
  beforeUpdate() {
    this.searchRecent();
  },
  methods: {
    collaboraService() {
      return collaboraService;
    },
    alfrescoFileService() {
      return alfrescoFileService;
    },
    searchRecent() {
      let query = {
        query: {
          language: "afts",
          userQuery: "*",
          query: `SITE:${this.workspace.id} AND (TYPE:"cm:content") `,
        },
        include: ["properties"],
        paging: {
          maxItems: 6,
          skipCount: 0,
        },
        sort: [{ type: "FIELD", field: "modified", ascending: false }],
      };
      searchApi
        .search(query)
        .then((data) => {
          this.recentFiles = data.list.entries.map((e) => e.entry);
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur",
            detail: error.message,
            life: 3000,
          });
        });

      query = {
        query: {
          language: "afts",
          userQuery: "*",
          query: `SITE:${this.workspace.id} AND (TYPE:"cm:folder") AND (-cm:name:"documentLibrary")`,
        },
        include: ["properties"],
        paging: {
          maxItems: 6,
          skipCount: 0,
        },
        sort: [{ type: "FIELD", field: "modified", ascending: false }],
      };

      searchApi
        .search(query)
        .then((data) => {
          this.recentFolders = data.list.entries.map((e) => e.entry);
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: "Erreur",
            detail: error.message,
            life: 3000,
          });
        });
    },

    loadIcon(item) {
      return iconeService.getIcon(item);
    },
    loadIconLabel(item) {
      return iconeService.getIconLabel(item);
    },
    onImageLoadFailure(event, node) {
      if (node.isFile && node.content.mimeType) {
        // TODO add if content.mimeType is supported ? "image/jpeg"
        alfrescoFileService.createAllRendition(node.id).catch((err) => {
          console.warn(
            `createAllRendition error ${err.status} for ${node.id} mimeType=${node.content.mimeType}`,
          );
        });
      }
      event.target.parentElement.style.display = "none";
      event.target.parentElement.nextElementSibling.hidden = false;
    },

    goToFolder(siteId, folderId) {
      return {
        name: "navigation-dossier",
        params: { id: siteId, FolderId: folderId },
      };
    },
  },
};
</script>
