<!--
  Copyright (C) 2023 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<!--
// Based on https://github.com/ueberdosis/tiptap/blob/main/demos/src/GuideGettingStarted/VModel/Vue/Editor.vue
-->
<template>
  <ToolBar class="sticky consultation-toolbar w-full">
    <template v-slot:start>
      <h3 v-if="contentNode" class="consultation-title col">
        {{ contentNode.name }}
      </h3>
      <Tag
        class="tag-version"
        v-if="$route.params.versionId"
        :value="$route.params.versionId"
      />
    </template>
    <template v-slot:end>
      <Button
        v-if="editor"
        icon="ri-pencil-line"
        severity="warning"
        class="mr-2"
        @click="edit"
        :disabled="editing || isLocked"
        raised
      />
      <Button
        icon="ri-save-line"
        severity="warning"
        class="mr-2"
        :disabled="!editing || isLocked"
        @click="save"
        raised
      />
      <Button
        icon="ri-download-line"
        severity="warning"
        class="mr-2"
        @click="download"
        v-tooltip.bottom="$t(`download`)"
        raised
      />
    </template>
  </ToolBar>
  <Message
    v-if="isLocked"
    severity="warn"
    icon="ri-lock-line"
    class="p-small-message p-0"
    >{{ lockInfo }}</Message
  >
  <div class="card pl-0 pr-0 flex justify-content-center mr-1 w-full">
    <div class="grid w-full" v-if="editor">
      <ToolBar v-if="editing" class="sticky">
        <template #start>
          <Button
            icon="ri-bold"
            v-tooltip="$t('edit.bold')"
            @click="editor.chain().focus().toggleBold().run()"
            :class="{ 'p-button-outlined': !editor.isActive('bold') }"
            severity="secondary"
          />
          <Button
            icon="ri-italic"
            v-tooltip="$t('edit.italic')"
            @click="editor.chain().focus().toggleItalic().run()"
            :class="{ 'p-button-outlined': !editor.isActive('italic') }"
            severity="secondary"
          />
          <Button
            icon="ri-strikethrough"
            v-tooltip="$t('edit.strike')"
            @click="editor.chain().focus().toggleStrike().run()"
            :class="{ 'p-button-outlined': !editor.isActive('strike') }"
            severity="secondary"
            class="mr-2"
          />

          <Button
            icon="ri-code-line"
            v-tooltip="$t('edit.code')"
            @click="editor.chain().focus().toggleCode().run()"
            :class="{ 'p-button-outlined': !editor.isActive('code') }"
            severity="secondary"
          />
          <Button
            v-if="isHtml"
            icon="ri-mark-pen-line"
            v-tooltip="$t('edit.highlight')"
            @click="editor.chain().focus().toggleHighlight().run()"
            :class="{ 'p-button-outlined': !editor.isActive('highlight') }"
            severity="secondary"
            class="mr-2"
          />

          <Button
            icon="ri-h-1"
            v-tooltip="$t('edit.h1')"
            @click="editor.chain().focus().toggleHeading({ level: 1 }).run()"
            :class="{
              'p-button-outlined': !editor.isActive('heading', { level: 1 }),
            }"
            severity="secondary"
          />
          <Button
            icon="ri-h-2"
            v-tooltip="$t('edit.h2')"
            @click="editor.chain().focus().toggleHeading({ level: 2 }).run()"
            :class="{
              'p-button-outlined': !editor.isActive('heading', { level: 2 }),
            }"
            severity="secondary"
          />
          <Button
            icon="ri-h-3"
            v-tooltip="$t('edit.h3')"
            @click="editor.chain().focus().toggleHeading({ level: 3 }).run()"
            :class="{
              'p-button-outlined': !editor.isActive('heading', { level: 3 }),
            }"
            severity="secondary"
          />
          <Button
            icon="ri-paragraph"
            v-tooltip="$t('edit.paragraph')"
            @click="editor.chain().focus().setParagraph().run()"
            :class="{ 'p-button-outlined': !editor.isActive('paragraph') }"
            severity="secondary"
            class="mr-2"
          />

          <Button
            icon="ri-list-unordered"
            v-tooltip="$t('edit.bulletList')"
            @click="editor.chain().focus().toggleBulletList().run()"
            :class="{ 'p-button-outlined': !editor.isActive('bulletList') }"
            severity="secondary"
          />
          <Button
            icon="ri-list-ordered"
            v-tooltip="$t('edit.orderedList')"
            @click="editor.chain().focus().toggleOrderedList().run()"
            :class="{ 'p-button-outlined': !editor.isActive('orderedList') }"
            severity="secondary"
            class="mr-2"
          />

          <Button
            v-if="isHtml"
            icon="ri-list-check-2"
            v-tooltip="$t('edit.taskList')"
            @click="editor.chain().focus().toggleTaskList().run()"
            :class="{ 'p-button-outlined': !editor.isActive('taskList') }"
            severity="secondary"
          />
          <Button
            icon="ri-code-box-line"
            v-tooltip="$t('edit.codeBlock')"
            @click="editor.chain().focus().toggleBlockquote().run()"
            :class="{ 'p-button-outlined': !editor.isActive('codeBlock') }"
            severity="secondary"
            class="mr-2"
          />

          <Button
            v-if="isHtml"
            icon="ri-align-left"
            v-tooltip="$t('edit.left')"
            @click="editor.chain().focus().setTextAlign('left').run()"
            :class="{
              'p-button-outlined': !editor.isActive({ textAlign: 'left' }),
            }"
            severity="secondary"
          />
          <Button
            v-if="isHtml"
            icon="ri-align-center"
            v-tooltip="$t('edit.center')"
            @click="editor.chain().focus().setTextAlign('center').run()"
            :class="{
              'p-button-outlined': !editor.isActive({ textAlign: 'center' }),
            }"
            severity="secondary"
          />
          <Button
            v-if="isHtml"
            icon="ri-align-right"
            v-tooltip="$t('edit.right')"
            @click="editor.chain().focus().setTextAlign('right').run()"
            :class="{
              'p-button-outlined': !editor.isActive({ textAlign: 'right' }),
            }"
            severity="secondary"
          />
          <Button
            v-if="isHtml"
            icon="ri-align-justify"
            v-tooltip="$t('edit.justify')"
            @click="editor.chain().focus().setTextAlign('justify').run()"
            :class="{
              'p-button-outlined': !editor.isActive({ textAlign: 'justify' }),
            }"
            severity="secondary"
            class="mr-2"
          />

          <Button
            icon="ri-double-quotes-l"
            v-tooltip="$t('edit.blockQuote')"
            @click="editor.chain().focus().toggleBlockquote().run()"
            :class="{ 'p-button-outlined': !editor.isActive('blockQuote') }"
            severity="secondary"
          />
          <Button
            v-if="isHtml"
            icon="ri-separator"
            v-tooltip="$t('edit.horizontaleRule')"
            @click="editor.chain().focus().setHorizontalRule().run()"
            severity="secondary"
            outlined
          />
          <Button
            icon="ri-text-wrap"
            v-tooltip="$t('edit.hardBreak')"
            @click="editor.chain().focus().setHardBreak().run()"
            severity="secondary"
            class="mr-2"
            outlined
          />

          <Button
            icon="ri-format-clear"
            v-tooltip="$t('edit.clearText')"
            @click="editor.chain().focus().clearNodes().run()"
            severity="secondary"
            outlined
          />
        </template>

        <template #end>
          <Button
            icon="ri-arrow-go-back-line"
            v-tooltip="$t('edit.undo')"
            :disabled="!editor.can().chain().focus().undo().run() && !editing"
            @click="editor.chain().focus().undo().run()"
          />
          <Button
            icon="ri-arrow-go-forward-line"
            v-tooltip="$t('edit.redo')"
            :disabled="!editor.can().chain().focus().redo().run() && !editing"
            @click="editor.chain().focus().redo().run()"
          />
        </template>
      </ToolBar>
      <editor-content :editor="editor" class="w-full overflow-hidden" />
    </div>
  </div>
</template>

<script>
import MarkdownIt from "markdown-it";
import { Editor, EditorContent } from "@tiptap/vue-3";
import StarterKit from "@tiptap/starter-kit";
import Highlight from "@tiptap/extension-highlight";
import Typography from "@tiptap/extension-typography";
import TextAlign from "@tiptap/extension-text-align";
import Code from "@tiptap/extension-code";
import Document from "@tiptap/extension-document";
import Paragraph from "@tiptap/extension-paragraph";
import Text from "@tiptap/extension-text";
import Table from "@tiptap/extension-table";
import TableCell from "@tiptap/extension-table-cell";
import TableHeader from "@tiptap/extension-table-header";
import TableRow from "@tiptap/extension-table-row";
import TaskList from "@tiptap/extension-task-list";
import TaskItem from "@tiptap/extension-task-item";
import HorizontalRule from "@tiptap/extension-horizontal-rule";
import HardBreak from "@tiptap/extension-hard-break";
import Blockquote from "@tiptap/extension-blockquote";
import { NodeHtmlMarkdown } from "node-html-markdown";
import {
  alfrescoNodeService,
  nodesApi,
  useUserStore,
} from "@pristy/pristy-libvue";

const TYPE_HTML = "html";
const TYPE_MD = "markdown";

export default {
  name: "TipapEditor",

  components: {
    EditorContent,
  },

  props: {
    type: {
      type: String,
      default: TYPE_HTML,
    },
    contentUrl: {
      type: String,
      default: null,
    },
    contentNode: {
      type: Object,
      default: null,
    },
  },

  emits: ["update:modelValue"],

  data() {
    return {
      editor: null,
      lastSave: null,
      markdownit: null,
      nhm: null,
      lockInfo: null,
      isLocked: false,
      editing: false,
    };
  },

  watch: {
    contentNode(node) {
      this.loadContent(node);
    },
  },

  mounted() {
    const defaultEditor = new Editor({
      extensions: [
        StarterKit,
        Highlight,
        Typography,
        Text,
        Paragraph,
        Code,
        Document,
        Table.configure({
          resizable: true,
        }),
        TableRow,
        TableCell,
        TableHeader,
        TextAlign.configure({
          types: ["heading", "paragraph"],
        }),
        TaskList,
        TaskItem,
        HorizontalRule,
        HardBreak,
        Blockquote,
      ],
      editable: false,
    });
    if (this.type === TYPE_HTML) {
      this.editor = defaultEditor;
    }

    if (this.type === TYPE_MD) {
      this.markdownit = MarkdownIt("commonmark", { html: false, breaks: false })
        .enable("strikethrough")
        .enable("table");

      this.nhm = new NodeHtmlMarkdown({}, undefined, undefined);
      this.editor = defaultEditor;
    }
  },

  methods: {
    loadContent(node) {
      alfrescoNodeService
        .getNodeContent(node.id, false)
        .then((blob) => {
          if (this.type === TYPE_MD) {
            return blob.text().then((text) => {
              let idx = text.indexOf("---", 3);
              if (idx > 0) {
                // Ignore Tags
                text = text.substring(idx + 4);
              }

              return this.markdownit.render(text);
            });
          }

          if (this.type === TYPE_HTML) {
            return blob.text();
          }

          return "Format ${this.contentNode.content.mimeType} non supporté";
        })
        .then((text) => {
          this.checkLock(node);
          this.editor.commands.setContent(text, false);
          this.lastSave = this.editor.getHTML();
        });
    },
    save() {
      this.editing = false;
      if (this.editor.isEmpty) {
        return;
      }

      let html = this.editor.getHTML();
      if (this.lastSave === html) {
        console.log("skip saving no change!");

        nodesApi.unlockNode(this.contentNode.id).catch((err) => {
          console.warn("unlock skip saving", err);
        });

        return;
      }
      console.log("Saving..");
      this.lastSave = html;

      if (this.type === TYPE_MD) {
        html = this.nhm.translate(html);
      }
      return alfrescoNodeService
        .updateContentNode(this.contentNode.id, html)
        .then(() => {
          nodesApi.unlockNode(this.contentNode.id).catch((err) => {
            console.error("unlock after update content", err);
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "updateContentNode",
            detail: err.message,
            life: 3000,
          });
          console.error("updateContentNode", err);
        });
    },
    refresh() {
      return nodesApi
        .lockNode(this.contentNode.id, {
          timeToExpire: 0,
          type: "ALLOW_OWNER_CHANGES",
          lifetime: "EPHEMERAL",
        })
        .then((refreshNode) => {
          this.checkLock(refreshNode.entry);
          this.loadContent(refreshNode.entry);
        })
        .catch(() => {
          nodesApi
            .getNode(this.contentNode.id, {
              include: ["properties"],
            })
            .then((refreshNode) => {
              this.checkLock(refreshNode.entry);
            });
        });
    },
    checkLock(node) {
      const lockOwner = node.properties["cm:lockOwner"];
      const userStore = useUserStore();
      if (lockOwner && lockOwner.id !== userStore.me.id) {
        this.isLocked = true;
        this.lockInfo = this.$t("node.lockedBy", {
          name: lockOwner.displayName,
        });
      } else {
        this.isLocked = false;
        this.lockInfo = null;
      }
    },
    edit() {
      this.refresh().then(() => {
        this.editing = true;
        this.editor.setEditable(this.editing && !this.isLocked);
        this.editor.commands.focus("start");
      });
    },
    download() {
      this.save();
      const link = document.createElement("a");
      link.href = this.contentUrl;
      link.download = this.contentNode.name;
      link.click();
    },
  },

  computed: {
    isHtml() {
      return this.type === TYPE_HTML;
    },
  },

  beforeUnmount() {
    this.save();
    this.editor.destroy();
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/styles/_variables.scss";

.p-small-message {
  margin: 0.3rem 0;
  height: 2rem;
  & .p-message-wrapper {
    height: 2.1rem !important;
    padding: 0 1.5rem !important;
  }
}
</style>
<style>
.p-message .p-message-wrapper {
  padding: 0 1.5rem !important;
}
</style>
