<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <TabView :activeIndex="activeTab">
    <TabPanel :header="$t('spaces')">
      <div class="card">
        <Tree
          :value="nodes"
          v-model:selectionKeys="selectedKey"
          v-model:expandedKeys="expandedKeys"
          selectionMode="single"
          @node-select="onNodeSelect"
          @node-expand="(node) => onNodeExpand(node, nodes)"
          scrollHeight="40rem"
          class="w-full md:w-30rem"
        />
      </div>
    </TabPanel>
    <TabPanel :header="$t('userHomes')">
      <Tree
        :value="userHomesNodes"
        v-model:selectionKeys="selectedKey"
        v-model:expandedKeys="expandedKeys"
        selectionMode="single"
        @node-select="onNodeSelect"
        @node-expand="(node) => onNodeExpand(node, userHomesNodes)"
        scrollHeight="40rem"
        class="w-full md:w-30rem"
      />
    </TabPanel>
  </TabView>
</template>
<script>
import {
  alfrescoNodeService,
  useNavigationStore,
  workspaceService,
} from "@pristy/pristy-libvue";

const SPLITTER = "|";

export default {
  name: "TreeExplorer",
  props: {
    currentNode: {},
  },
  data() {
    return {
      activeTab: 0,
      userHomesNodes: [],
      nodes: [],
      selectedKey: null,
      splitedKey: null,
      expandedKeys: {},
    };
  },
  emits: ["selectNode"],
  async mounted() {
    try {
      const [nodes, userHomesNodes] = await Promise.all([
        this.initTree(),
        this.initUserHomeTree(),
      ]);

      this.nodes = nodes;
      this.userHomesNodes = userHomesNodes;

      if (this.currentNode.path) {
        await this.openCurrentPath();
      } else {
        console.warn(
          "TreeExplorer: can’t select folder, no path on current node",
        );
      }
    } catch (error) {
      console.error("Error initializing trees:", error);
    }
  },
  methods: {
    async initTree() {
      this.splitedKey = null;
      try {
        const workspaces = await workspaceService.searchAllWorkspaces(
          "AND NOT pm:typeEspace:'actes'",
        );

        const promises = workspaces.map(async (workspace) => {
          const documentLibrary = await alfrescoNodeService.getDocumentLibrary(
            workspace.id,
          );
          return {
            key: workspace.id,
            label: workspace.title,
            icon: "pi pi-fw pi-inbox",
            data: documentLibrary,
            children: [],
            leaf: false,
          };
        });

        const nodes = await Promise.all(promises);

        return nodes
          .filter((workspace) => workspace.data !== undefined)
          .sort((a, b) => a.label.localeCompare(b.label));
      } catch (error) {
        console.error("Error initializing tree:", error);
        return [];
      }
    },
    initUserHomeTree() {
      let opts = {
        include: [
          "isFavorite",
          "properties",
          "allowableOperations",
          "permissions",
          "path",
          "isLocked",
        ],
        skipCount: 0,
        maxItems: 100,
      };
      return alfrescoNodeService.getUserHomeNode().then((res) => {
        return alfrescoNodeService
          .getChildrenWithOpts(res.list.entries[0].entry.id, opts)
          .then((userHomesNodes) => {
            return userHomesNodes.children.map((userHomes) => {
              return {
                key: userHomes.id,
                label: userHomes.name,
                icon: "pi pi-fw pi-inbox",
                data: userHomes,
                children: [],
                leaf: false,
              };
            });
          });
      });
    },
    changeLeaf(node) {
      node.leaf = true;
    },
    onNodeSelect(node) {
      this.$emit("selectNode", node.data, node.label);
    },
    onNodeExpand(node, nodes) {
      let opts = {
        include: [
          "isFavorite",
          "properties",
          "allowableOperations",
          "permissions",
          "path",
          "isLocked",
        ],
        skipCount: 0,
        maxItems: 100,
      };
      return alfrescoNodeService
        .getChildrenWithOpts(this.getNodeId(node.data), opts)
        .then((data) => {
          return data.children;
        })
        .then((children) => {
          let treeChildren = children
            .filter((child) => child.isFolder)
            .map((child) => ({
              key: `${node.key}${SPLITTER}${child.id}`,
              label: child.name,
              icon: "ri-folder-2-line",
              data: child,
              children: [],
              leaf: false,
            }))
            .sort();
          return this.addChildren(treeChildren, node, nodes);
        })
        .catch((err) => {
          console.error("getNodeChildren Error", err);
        });
    },
    addChildren(children, parent, nodes) {
      this.splitedKey = parent.key.split(SPLITTER);
      /* if we expand a root space */
      if (this.splitedKey.length === 1) {
        return nodes
          .filter((child) => child.key === parent.key)
          .map((racine) => (racine.children = children));
      } else {
        return this.addElementChildren(nodes, parent.key, children, 0);
      }
    },
    /**
     * Recursive function to cross over a tree
     * Permit to add children to a found parent
     * @param tree the part of tree we are searching in
     * @param key for example "3-1-1"
     * @param children children to add when parent is find
     * @param step to find parent
     */
    addElementChildren(tree, key, children, step) {
      let parent = tree.find((potentialParent) =>
        this.containsKey(potentialParent.key, key, step),
      );
      if (parent) {
        if (parent.key === key) {
          parent.children = children;
          return null;
        } else if (parent.children) {
          this.addElementChildren(parent.children, key, children, step + 1);
          return null;
        }
      }
    },
    containsKey(shortKey, longKey, step) {
      // is shortkey in longKey ?
      let splitedKey = longKey.split(SPLITTER);
      let parentSplitedKey = shortKey.split(SPLITTER);
      //let's compare arrays for the first "step" steps only
      for (let i = 0; i <= step; i++) {
        if (splitedKey[i] !== parentSplitedKey[i]) {
          return false;
        }
      }
      return true;
    },
    getNodeId(node) {
      if (node === undefined) {
        throw Error("Can't get NodeId from undefined");
      }
      return node.guid ? node.guid : node.id;
    },
    async openCurrentPath() {
      this.activeTab = useNavigationStore().isInUserHome ? 1 : 0;
      let nodes = useNavigationStore().isInUserHome
        ? this.userHomesNodes
        : this.nodes;
      let parentKey = "";
      for (const node of this.currentNode.path.elements) {
        let key = null;
        if (node?.nodeType === "st:site") {
          key = node.id;
        } else if (node?.isFolder && node.name !== "documentLibrary") {
          key = parentKey + SPLITTER + node.id;
        }
        if (key) {
          await this.onNodeExpand({ key: key, data: node }, nodes);
          this.expandedKeys[key] = true;
          parentKey = key;
        }
      }
      if (!parentKey) {
        let path = this.currentNode.path.elements.slice(2);
        let node = path.length > 0 ? path[0] : this.currentNode;
        let key = node.id;
        await this.onNodeExpand({ key: key, data: node }, nodes);
        this.expandedKeys[key] = true;
        parentKey = key;
        for (const node of path.slice(1)) {
          key = parentKey + SPLITTER + node.id;
          await this.onNodeExpand({ key: key, data: node }, nodes);
          this.expandedKeys[key] = true;
          parentKey = key;
        }
      }
      let key = parentKey + SPLITTER + this.currentNode.id;
      await this.onNodeExpand({ key: key, data: this.currentNode }, nodes);
      this.expandedKeys[key] = true;
    },
  },
};
</script>
