<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="col right">
    <Button
      class="classic_button nouvel-espace"
      icon="ri-add-line"
      :label="$t('createWorkspace')"
      @click="openNewWorkspace"
    />
    <Button
      class="mobile_button"
      icon="ri-add-line"
      @click="openNewWorkspace"
      rounded
    />
  </div>
  <DataView :value="workspaces" :layout="layout" paginator :rows="12">
    <template #grid="slotProps">
      <div class="grid grid-nogutter">
        <div
          v-for="(workspace, index) in slotProps.items"
          :key="index"
          class="shadow-2 p-3 border-round workspace-card"
        >
          <div class="card-top">
            <div class="card-text">
              <span
                class="card-title font-medium mb-2"
                @click="gotoWorkspaceVue(workspace)"
                v-tooltip="workspace.title"
              >
                {{ workspace.title }}
              </span>
              <p>{{ workspace?.properties?.["cm:description"] }}</p>
            </div>
            <div class="flex-grow-0">
              <Button
                type="button"
                :icon="workspace.isFavorite ? 'ri-star-fill' : 'ri-star-line'"
                v-tooltip="
                  workspace.isFavorite
                    ? $t('removeFavorite')
                    : $t('addFavorite')
                "
                @click="toggleWorkspaceFavorite(workspace)"
                text
              />
            </div>
            <div class="flex-grow-0">
              <Menu
                ref="workspaceMenuAction"
                :model="workspaceActionMenuItems"
                :popup="true"
              >
                <template #item="{ label, item, props }">
                  <router-link
                    v-if="item.route"
                    v-slot="routerProps"
                    :to="item.route"
                    custom
                  >
                    <a :href="routerProps.href" v-bind="props.action">
                      <span v-bind="props.icon" />
                      <span v-bind="props.label">{{ label }}</span>
                    </a>
                  </router-link>
                  <a v-else :href="item.url" v-bind="props.action">
                    <span v-bind="props.icon" />
                    <span v-bind="props.label">{{ label }}</span>
                  </a>
                </template>
              </Menu>
              <Button
                type="button"
                icon="ri-more-2-line"
                v-tooltip="$t('moreActions')"
                @click="toggleWorkspaceActionMenu($event, workspace)"
                text
              />
            </div>
          </div>
          <div class="card-bottom">
            <i
              v-tooltip="$t(`visibility.${workspace.visibility}`)"
              :class="`${getVisibilityIcon(
                workspace.visibility,
              )} align-self-center`"
            />
            <span
              :class="
                'role-badge role-' +
                (workspace.role ? workspace.role.toLowerCase() : '')
              "
              >{{ $t(`role.${workspace.role}`) }}</span
            >
          </div>
        </div>
      </div>
    </template>
  </DataView>
  <NewWorkspacePopup v-if="popup === 'NEWWORKSPACE'" @close="closePopup" />
  <ModifyWorkspacePopup
    v-if="popup === 'MODIFYWORKSPACE'"
    :workspace="modifyWorkspaceItem"
    @close="closePopup"
  />
</template>

<script>
import {
  favoriteService,
  workspaceService,
  useMenuStore,
  useConfigStore,
  menuService,
  useUserStore,
} from "@pristy/pristy-libvue";
import ModifyWorkspacePopup from "@/components/popup/ModifyWorkspacePopup.vue";
import NewWorkspacePopup from "@/components/popup/NewWorkspacePopup.vue";

export default {
  name: "WorkspaceList",
  components: { ModifyWorkspacePopup, NewWorkspacePopup },
  props: {
    workspaces: null,
    layout: null,
  },
  emits: ["reload", "changeDisplay"],
  data() {
    return {
      popup: null,
      redirectToMembers: false,
      modifyWorkspaceItem: null,
      workspaceActionMenuItems: [],
    };
  },
  created() {
    this.menuStore = useMenuStore();
  },
  mounted() {
    this.redirectToMembers = false;
  },
  methods: {
    openNewWorkspace() {
      this.popup = "NEWWORKSPACE";
    },
    openModifyWorkspace(item) {
      if (item) {
        this.modifyWorkspaceItem = item;
        this.popup = "MODIFYWORKSPACE";
      }
    },
    closePopup(reload) {
      this.popup = null;
      if (reload) {
        this.$emit("reload");
      }
    },
    gotoWorkspaceVue(espace) {
      if (espace.typeEspace === "actes") {
        const config = useConfigStore();
        window.location = `${config.ACTES_HOST}/actes/admin/${espace.name}`;
      } else {
        this.$router.push({
          name: "navigation",
          params: { id: espace.name },
        });
      }
    },
    gotoWorkspaceMembers(id) {
      this.$router.push({
        name: "espace-membres",
        params: { id: id },
      });
    },
    toggleWorkspaceActionMenu(event, item) {
      const amICreator =
        item.createdByUser &&
        item.createdByUser.id === useUserStore().person.id;
      const canUpdate = item.allowableOperations?.includes("update") || false;
      const canUpdatePermissions =
        item.allowableOperations?.includes("updatePermissions") || false;
      this.workspaceActionMenuItems = [
        {
          label: this.$t("modify"),
          visible: canUpdate,
          icon: "ri-edit-line",
          command: () => {
            this.openModifyWorkspace(item);
          },
        },
        {
          label: this.$t("manageMembers"),
          visible: canUpdatePermissions,
          icon: "ri-shield-user-line",
          command: () => {
            this.gotoWorkspaceMembers(item.name);
          },
        },
        {
          label: this.$t("seeMembers"),
          visible: !canUpdatePermissions,
          icon: "ri-shield-user-line",
          command: () => {
            this.gotoWorkspaceMembers(item.name);
          },
        },
        {
          label: this.$t("delete"),
          visible: amICreator,
          icon: "ri-delete-bin-line",
          command: () => {
            this.toggleDeleteWorkspace(item);
          },
        },
        {
          label: item.isFavorite
            ? this.$t("removeFavorite")
            : this.$t("addFavorite"),
          icon: item.isFavorite ? "ri-star-fill" : "ri-star-line",
          command: () => {
            this.toggleWorkspaceFavorite(item);
          },
        },
      ];
      this.$refs.workspaceMenuAction[0].toggle(event);
    },
    toggleWorkspaceFavorite(workspace) {
      favoriteService
        .changeSingleFavorite(workspace)
        .then((favorite) => {
          if (favorite.isFavorite) {
            this.menuStore.addFavorite(
              menuService.siteToMenuItem(favorite),
              "menuEspaces",
            );
            workspace.isFavorite = favorite.isFavorite;
            this.$toast.add({
              severity: "success",
              summary: this.$t("menu.favoris"),
              detail: this.$t("node.addSiteFavorite", {
                name: favorite.title,
              }),
              life: 3000,
            });
          } else {
            this.menuStore.removeFavorite(
              menuService.siteToMenuItem(favorite),
              "menuEspaces",
            );
            workspace.isFavorite = favorite.isFavorite;
            this.$toast.add({
              severity: "success",
              summary: this.$t("menu.favoris"),
              detail: this.$t("node.removeSiteFavorite", {
                name: favorite.title,
              }),
              life: 3000,
            });
          }
        })
        .catch((err) => {
          console.error("erreur de favoris", err);
          this.$toast.add({
            severity: "error",
            summary: this.$t("node.favoriteError"),
            detail: err.message,
            life: 3000,
          });
        });
    },
    toggleDeleteWorkspace(item) {
      workspaceService
        .deleteWorkspace(item.name)
        .then(() => {
          this.$emit("reload");
          this.$toast.add({
            severity: "success",
            summary: this.$t("success"),
            detail: this.$t("node.successRemoveElement"),
            life: 3000,
          });
        })
        .catch((err) => {
          this.$toast.add({
            severity: "error",
            summary: "Error",
            detail: err.message,
            life: 3000,
          });
        });
    },
    getVisibilityIcon(visibility) {
      let visibilityIcon = null;
      switch (visibility) {
        case "PUBLIC":
          visibilityIcon = "ri-global-line";
          break;
        case "PRIVATE":
          visibilityIcon = "ri-git-repository-private-line";
          break;
        case "MODERATED":
          visibilityIcon = "ri-shield-user-line";
          break;
      }
      return visibilityIcon;
    },
  },
};
</script>
<style scoped></style>
