<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="zone-badges">
    <div v-if="isInUserHome">
      <i class="align-self-center mr-2" />
      <span class="userHomeBadge">
        {{ getUserHomeBadge }}
      </span>
    </div>
    <div v-else>
      <i
        v-tooltip="$t(`visibility.${workspace.visibility}`)"
        :class="`${getVisibilityIcon(
          workspace.visibility,
        )} align-self-center mr-2`"
      />
      <span v-if="getRole()" :class="'role-badge role-' + getRole()">{{
        $t(`role.${getRole()}`)
      }}</span>
    </div>
  </div>
</template>

<script>
import { useNavigationStore, useUserStore } from "@pristy/pristy-libvue";
import { mapState } from "pinia";

export default {
  name: "ZoneBadges",
  props: {
    workspace: null,
  },
  data() {
    return {
      role: "",
      visibility: "",
    };
  },
  methods: {
    getRole() {
      const currentNode = useNavigationStore().currentNode;
      if (!currentNode) {
        return null;
      }
      const user = useUserStore().person;
      const allowableOperations = currentNode.allowableOperations || [];
      if (currentNode.createdByUser?.id === user.id) {
        return "owner";
      }
      if (
        allowableOperations.includes("update") &&
        allowableOperations.includes("delete") &&
        allowableOperations.includes("updatePermissions")
      ) {
        return "sitemanager";
      }
      if (
        (allowableOperations.includes("update") &&
          allowableOperations.includes("create")) ||
        allowableOperations.includes("update")
      ) {
        return "sitecollaborator";
      }
      return currentNode.allowableOperations === undefined
        ? "siteconsumer"
        : null;
    },
    getVisibilityIcon(visibility) {
      let visibilityIcon = null;
      switch (visibility) {
        case "PUBLIC":
          visibilityIcon = "ri-global-line";
          break;
        case "PRIVATE":
          visibilityIcon = "ri-git-repository-private-line";
          break;
        case "MODERATED":
          visibilityIcon = "ri-shield-user-line";
          break;
      }
      return visibilityIcon;
    },
  },
  computed: {
    ...mapState(useNavigationStore, ["isInUserHome"]),
    getUserHomeBadge() {
      if (useUserStore().person.id === this.$route.params.IdUser) {
        return this.$t("myUserHome");
      } else {
        return this.$t("userHomeVisitor", {
          role: this.$t(`role.${this.getRole()}`),
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.zone-badges {
  display: inline-flex;
  align-items: center;
}
</style>
