<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->

<template>
  <Button
    icon="ri-close-line"
    class="close-button"
    @click="close"
    v-tooltip.bottom="$t(`close`)"
    outlined
    text
    severity="secondary"
    autofocus="false"
  />
  <TabView id="zoneFilter">
    <TabPanel :header="`Affinage`">
      <div id="voletDetails">
        <div v-for="facet in facets" v-bind:key="facet.label" class="mb-4">
          <h5>{{ facetTitle(facet) }}</h5>
          <template v-for="bucket in facet.buckets" v-bind:key="bucket.label">
            <Button
              v-if="facet.type === 'query'"
              type="button"
              :label="$t(bucket.label)"
              :badge="`${bucket.metrics[0].value.count}`"
              @click="filterQuery(bucket)"
              severity="secondary"
              class="block m-1 pt-1 pb-1"
              rounded
              outlined
            />
            <Button
              v-if="facet.type === 'field'"
              type="button"
              :label="$t(bucket.label)"
              :badge="`${bucket.metrics[0].value.count}`"
              @click="filterField(bucket)"
              severity="secondary"
              class="block m-1 pt-1 pb-1"
              rounded
              outlined
            />
          </template>
        </div>
      </div>
    </TabPanel>
  </TabView>
</template>

<script>
import { useSearchStore, useConfigStore } from "@pristy/pristy-libvue";

export function labelBucket(bucket) {
  if (!bucket.filterQuery) {
    console.warn("No filter query", bucket);
    return "N/A";
  }

  if (bucket.filterQuery.startsWith("content.mimetype")) {
    if (bucket.label.startsWith("facets.labels.")) {
      return bucket.label;
    }
    return "facets.labels." + bucket.label;
  }

  if (bucket.filterQuery.startsWith("TYPE")) {
    if (bucket.label.startsWith("facets.labels.")) {
      return bucket.label;
    }
    return (
      "facets.labels." +
      bucket.label.replaceAll(".", "_").replace("}", ".").replace("{", "")
    );
  }

  if (bucket.display) {
    return bucket.display;
  }
  if (bucket.label) {
    if (bucket.label.indexOf("_") === 0) {
      return "facets.labels." + bucket.label;
    }
    return bucket.label;
  }

  let match = bucket.filterQuery.match(/.(SITE:"(.*?)")./);
  if (match) {
    return match[2];
  }
  match = bucket.filterQuery.match(/ANCESTOR:"(.*)"/);
  if (match) {
    return match[1];
  }
  match = bucket.filterQuery.match(/TYPE:"{(.*)}(.*)"/);
  if (match) {
    // '(TYPE:"{http://www.alfresco.org/model/content/1.0}folder")'
    let ns = match[1].replaceAll(".", "_");
    let name = match[2];
    return `facets.labels.${ns}.${name}`;
  }

  console.warn("No Label for bucket", bucket);
  return bucket.filterQuery;
}

const SORTED_FACETS = [
  "facets.fields.location",
  "facets.fields.type",
  "facets.fields.file_type",
  "facets.fields.creator",
  "facets.fields.modifier",
  "facets.categories.modified_date",
];

export default {
  name: "ZoneSearchFilter",
  props: {},
  emits: ["reload", "close", "add-filter", "add-field"],
  components: {},
  data() {
    return {};
  },
  created() {},
  methods: {
    labelBucket: labelBucket,
    close() {
      this.$emit("close");
    },
    filterQuery(bucket) {
      const searchStore = useSearchStore();
      let formatBucket = {
        query: bucket.filterQuery,
        label: this.$t(bucket.label),
        metrics: bucket.metrics,
        display: bucket.display,
      };
      let added = searchStore.addFilterQuery(formatBucket);
      if (added) {
        this.$emit("add-filter", formatBucket);
      }
    },

    filterField(bucket) {
      const searchStore = useSearchStore();
      let formatBucket = {
        query: bucket.filterQuery,
        label: this.$t(bucket.label),
        metrics: bucket.metrics,
        display: bucket.display,
      };
      let added = searchStore.addField(formatBucket);
      if (added) {
        this.$emit("add-field", formatBucket);
      }
    },
    /**
     * if config.SEARCH_FACET as a title param, we use it instead of
     * translation label. This is for simplify custom deployment
     * @param facet
     * @returns string Label message to print
     */
    facetTitle(facet) {
      const config = useConfigStore();
      let cfgFacet = config.SEARCH_FACET.find((f) => f.label === facet.label);

      if (cfgFacet?.title) {
        return cfgFacet.title;
      }
      return this.$t(facet.label);
    },
  },
  computed: {
    facets() {
      const searchStore = useSearchStore();
      if (searchStore.context?.facets) {
        return searchStore.context.facets
          .map((f) => {
            if (f.buckets) {
              f.buckets = f.buckets.map((b) => {
                return {
                  filterQuery: b.filterQuery,
                  label: labelBucket(b),
                  metrics: b.metrics,
                  display: b.display,
                };
              });
            }
            return f;
          })
          .sort((a, b) => {
            let idxA = SORTED_FACETS.indexOf(a.label);
            let idxB = SORTED_FACETS.indexOf(b.label);
            return idxA - idxB;
          });
      }
      return [];
    },
    filterQueries() {
      const searchStore = useSearchStore();
      return searchStore.query.filterQueries;
    },
  },
};
</script>

<style scoped>
#zoneFilter {
  position: sticky;
  top: 0;
  width: 25rem;
}

.close-button {
  position: absolute;
  right: 2.5rem;
  z-index: 990;
  margin-top: 0.2rem;
}
</style>
