<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="flex">
    <div class="action-buttons">
      <div v-if="!isSmallScreen" class="flex">
        <Button
          class="classic_button"
          type="button"
          icon="ri-download-line"
          v-tooltip="$t('download')"
          :disabled="isDownloadDisable"
          @click="toggleDownloadButton"
          rounded
          text
          severity="secondary"
        />
        <Button
          class="classic_button"
          type="button"
          icon="ri-corner-up-right-line"
          v-tooltip="$t('move')"
          :disabled="isMoveOrDeleteDisable"
          @click="openMove"
          rounded
          text
          severity="secondary"
        />
        <Button
          class="classic_button"
          type="button"
          icon="ri-file-copy-line"
          v-tooltip="$t('copy')"
          :disabled="isDisabled"
          @click="openCopy"
          rounded
          text
          severity="secondary"
        />
        <Button
          class="classic_button"
          type="button"
          icon="ri-delete-bin-line"
          v-tooltip="$t('delete')"
          :disabled="isMoveOrDeleteDisable"
          @click="confirmDeletion"
          rounded
          text
          severity="secondary"
        />
      </div>
      <div class="flex">
        <Menu ref="menuAction" :model="menuActionItems" :popup="true">
          <template #item="{ label, item, props }">
            <router-link
              v-if="item.route"
              v-slot="routerProps"
              :to="item.route"
              custom
            >
              <a :href="routerProps.href" v-bind="props.action">
                <span v-bind="props.icon" />
                <span v-bind="props.label">{{ label }}</span>
              </a>
            </router-link>
            <a v-else :href="item.url" v-bind="props.action">
              <span v-bind="props.icon" />
              <span v-bind="props.label">{{ label }}</span>
            </a>
          </template>
        </Menu>
        <Button
          type="button"
          icon="ri-more-2-line"
          v-tooltip.left="$t('moreActions')"
          :disabled="isDisabled"
          @click="toggleMenuActionButton"
          rounded
          text
          severity="secondary"
        />
        <Button
          icon="ri-file-info-line"
          severity="secondary"
          class="mr-2"
          @click="changeSplitterDisplay()"
          v-tooltip.left="$t(`informations`)"
          rounded
          text
        />
      </div>
    </div>
  </div>
  <ConfirmDialog group="confirmDeleteConsultedFile" />
  <ModifyNodePopup
    v-if="popup === 'MODIFYNODE'"
    :popupTitle="modifyPopupTitle"
    @close="closePopup"
  />
  <CopyNodePopup
    v-if="popup === 'COPYNODE'"
    @close="closePopup"
    :currentNode="currentNode"
  />
  <MoveNodePopup
    v-if="popup === 'MOVENODE'"
    @close="closePopup"
    :currentNode="currentNode"
  />
  <ImportNewVersionPopup
    v-if="popup === 'NEWVERSION'"
    @close="closePopup"
    @message="emitMessage"
  />
  <MemberListPopup
    v-if="popup === 'MEMBERS'"
    :isSite="false"
    :folderNode="nodes[0]"
    @close="closePopup"
    @reload="$emit('reload')"
  />
  <SendMailPopup v-if="popup === 'SENDMAIL'" @close="closePopup" />
  <CreateWorkflowPopup v-if="popup === 'WORKFLOW'" @close="closePopup" />
</template>

<script>
import {
  favoriteService,
  alfrescoNodeService,
  useSelectionStore,
  useNavigationStore,
} from "@pristy/pristy-libvue";
import CopyNodePopup from "@/components/popup/CopyNodePopup.vue";
import MoveNodePopup from "@/components/popup/MoveNodePopup.vue";
import actionsService from "@/services/ActionsService";
import SendMailPopup from "@/components/popup/SendMailPopup.vue";
import ImportNewVersionPopup from "@/components/popup/ImportNewVersionPopup.vue";
import ModifyNodePopup from "@/components/popup/ModifyNodePopup.vue";
import MemberListPopup from "@/components/popup/MemberListPopup.vue";
import { mapState } from "pinia";
import pLimit from "p-limit";
import collaboraService from "@/services/CollaboraService";
import { useUiStateStore } from "@/stores/UiStateStore.js";
import CreateWorkflowPopup from "@/components/popup/CreateWorkflowPopup.vue";
import { useScreenStore } from "@/stores/ScreenStore.js";

export default {
  name: "ZoneActions",
  components: {
    CreateWorkflowPopup,
    ModifyNodePopup,
    ImportNewVersionPopup,
    SendMailPopup,
    CopyNodePopup,
    MoveNodePopup,
    MemberListPopup,
  },
  emits: ["reload", "message"],
  props: {
    currentNode: {},
    workspace: null,
    canUpload: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      popup: null,
      menuActionItems: [],
      modifyPopupTitle: null,
    };
  },
  methods: {
    emitMessage(message) {
      this.$emit("message", message);
    },
    changeSplitterDisplay() {
      useUiStateStore().changeSplitterDisplay();
    },
    closePopup(reload) {
      useUiStateStore().isPopupOpen = false;
      this.popup = null;
      if (reload) {
        this.$emit("reload");
      }
    },
    toastSuccess(labelId, detail) {
      this.$toast.add({
        severity: "success",
        summary: this.$t(labelId),
        detail: detail,
        life: 5000,
      });
    },
    toastError(labelId, detail) {
      this.$toast.add({
        severity: "error",
        summary: this.$t(labelId),
        detail: detail,
        life: 5000,
      });
    },
    toggleDownloadButton() {
      actionsService.toggleDownloadFile(this.files);
    },
    toggleMenuActionButton(event) {
      this.menuActionItems = [];
      if (this.isSmallScreen) {
        this.menuActionItems.push(
          {
            label: this.$t("download"),
            icon: "ri-download-line",
            visible: false,
            command: () => {
              this.toggleDownloadButton();
            },
          },
          {
            label: this.$t("move"),
            icon: "ri-corner-up-right-line",
            command: () => {
              this.openMove();
            },
          },
          {
            label: this.$t("copy"),
            icon: "ri-file-copy-line",
            command: () => {
              this.openCopy();
            },
          },
          {
            label: this.$t("delete"),
            icon: "ri-delete-bin-line",
            command: () => {
              this.deleteItems();
            },
          },
        );
      }
      this.menuActionItems.push(
        {
          label: this.$t("workflow.startWorkflow"),
          icon: "ri-flow-chart",
          visible: this.isOneFileSelected,
          command: () => {
            this.openCreateWorkflow();
          },
        },
        {
          label: this.$t("add/removeFavorite"),
          icon: "ri-star-line",
          visible: !this.isInUserHome,
          command: () => {
            this.favoriteItems();
          },
        },
        {
          label: this.$t("openInNewTab"),
          icon: "ri-external-link-line",
          visible: this.isOpenVisible,
          command: () => {
            this.openInNewTab();
          },
        },
        {
          label: this.$t("openWithCollabora"),
          icon: "ri-edit-line",
          visible: this.canOpenWithCollabora(),
          command: () => {
            this.gotoEditCollabora(this.files[0]);
          },
        },
        {
          label: this.$t("displayPDF"),
          icon: "ri-eye-line",
          visible:
            this.files.length === 1 &&
            !this.isFirstSelectedFileMedia &&
            this.folders.length === 0 &&
            this.files[0].content.mimeType !== "application/pdf",
          command: () => {
            this.gotoConsultationPdf();
          },
        },
        {
          label: this.$t("importNewVersion"),
          icon: "ri-file-upload-line",
          visible: this.isFileModifyVisible,
          command: () => {
            this.openNewVersion();
          },
        },
        {
          label: this.$t("rename"),
          icon: "ri-edit-line",
          visible: this.isFileModifyVisible || this.isFolderModifyVisible,
          command: () => {
            this.openRename();
          },
        },
        {
          label: this.$t("sendMail"),
          visible: this.isOpenSendMailVisible,
          icon: "ri-mail-send-line",
          command: () => {
            this.openSendMail();
          },
        },
        {
          label: this.$t("permissions"),
          visible: this.isOneElementSelected && !this.isInUserHome,
          icon: "ri-team-line",
          command: () => {
            this.openMembers();
          },
        },
        {
          label: this.$t("properties"),
          icon: "ri-information-line",
          visible: this.nodes.length === 1,
          command: () => {
            this.openModify();
          },
        },
        {
          label: this.$t("exportZip"),
          icon: "ri-download-line",
          visible: this.nodes.length >= 1 && !this.isInConsultationPage,
          command: () => {
            this.exportSelection();
          },
        },
      );
      this.$refs.menuAction.toggle(event);
    },
    exportSelection() {
      this.$toast.add({
        group: "notificationComponent",
        summary: "preparingDownload",
        life: 25000,
      });
    },
    canOpenWithCollabora() {
      if (this.files.length === 1 && this.folders.length === 0) {
        return collaboraService.canOpenWithCollabora(this.files[0]);
      }
      return false;
    },
    gotoEditCollabora(item) {
      if (item) {
        let routeData = this.$router.resolve({
          name: "edit-collabora",
          params: { action: "edit", id: item.id },
        });
        window.open(routeData.href, "_blank");
      }
    },
    openInNewTab() {
      /* ouvrir chaque élément de la liste selectedNodes dans un nouvel onglet */
      if (this.files.length > 0) {
        this.files.forEach((file) => {
          setTimeout(() => {
            const route = this.$router.resolve(
              actionsService.getRouteForOpenInNewTab(file),
            );
            window.open(route.href, "_blank_" + file.id);
          }, 750);
        });
      }
      if (this.folders.length > 0) {
        this.folders.forEach((folder) => {
          setTimeout(() => {
            const route = this.$router.resolve(
              actionsService.getRouteForNavigationInNewTab(
                useNavigationStore().workspace.id,
                folder,
              ),
            );
            window.open(route.href, "_blank_" + folder.id);
          }, 750);
        });
      }
    },
    gotoConsultationPdf() {
      if (this.files.length > 0) {
        this.files.forEach((file) => {
          const route = this.$router.resolve({
            name: "consultation-pdf",
            params: {
              id: file.id,
            },
          });
          window.open(route.href, "_blank");
        });
      }
    },
    favoriteItems() {
      let favoritePromises = this.nodes.map((element) =>
        favoriteService.changeSingleFavorite(element),
      );
      Promise.allSettled(favoritePromises)
        .then((favoriteResponses) => {
          useSelectionStore().resetSelection();

          const successfulToast = favoriteResponses
            .filter((resp) => resp.status === "fulfilled")
            .map((resp) => resp.value.entry?.name);
          const listError = favoriteResponses
            .filter((resp) => resp.status !== "fulfilled")
            .map((resp) => resp.reason);

          if (successfulToast.length > 0) {
            this.toastSuccess(
              "success",
              this.$t("node.successFavorite", {
                number: successfulToast.length,
              }),
            );
          }
          if (listError.length > 0) {
            this.toastError("errors.errorFavorite", listError);
          }
          this.$emit("reload");
        })
        .catch((error) => {
          this.toastError("errors.errorFavorite", error);
        });
    },
    confirmDeletion() {
      useUiStateStore().isPopupOpen = true;
      let items = this.nodes;
      this.$confirm.require({
        message: this.$t("node.cancelDelete", { number: items.length }),
        header: this.$t("delete"),
        acceptLabel: this.$t("yes"),
        rejectLabel: this.$t("no"),
        group: "confirmDeleteConsultedFile",
        accept: () => {
          this.deleteItems(items);
          this.$confirm.close();
          useUiStateStore().isPopupOpen = false;
        },
        reject: () => {
          this.$confirm.close();
          useUiStateStore().isPopupOpen = false;
        },
      });
    },
    deleteItems() {
      const limit = pLimit(3);
      const deletePromises = this.nodes.map((element) =>
        limit(() => alfrescoNodeService.deleteNode(element.id)),
      );
      Promise.allSettled(deletePromises)
        .then((deleteResponses) => {
          useSelectionStore().resetSelection();

          const successfulToast = deleteResponses
            .filter((resp) => resp.status === "fulfilled")
            .map((resp) => resp.value.entry?.name);
          const listError = deleteResponses
            .filter((resp) => resp.status !== "fulfilled")
            .map((resp) => resp.reason);

          if (successfulToast.length > 0) {
            this.toastSuccess(
              "success",
              this.$t("node.successDelete", {
                number: successfulToast.length,
              }),
            );
          }
          if (listError.length > 0) {
            this.toastError("errors.errorDelete", listError);
          }
          this.$emit("reload");
          if (
            this.$route.name.startsWith("consultation") ||
            this.$route.name.includes("edit")
          ) {
            const navigationStore = useNavigationStore();
            this.$router.push({
              name: "navigation",
              params: {
                id: navigationStore.workspace.id,
                FolderId: navigationStore.currentNode.parentId,
              },
            });
          }
        })
        .catch((error) => {
          this.toastError("errors.errorDelete", error);
        });
    },
    openCopy() {
      if (this.nodes.length > 0) {
        this.popup = "COPYNODE";
        useUiStateStore().isPopupOpen = true;
      }
    },
    openMove() {
      if (this.nodes.length > 0) {
        this.popup = "MOVENODE";
        useUiStateStore().isPopupOpen = true;
      }
    },
    openNewVersion() {
      if (this.nodes.length === 1) {
        this.popup = "NEWVERSION";
        useUiStateStore().isPopupOpen = true;
      }
    },
    openRename() {
      delete this.nodes[0].aspectNames;
      this.modifyPopupTitle = "renameElement";
      this.popup = "MODIFYNODE";
      useUiStateStore().isPopupOpen = true;
    },
    openModify() {
      alfrescoNodeService.getNode(this.nodes[0].id).then((node) => {
        this.nodes[0].aspectNames = node.aspectNames;
        if (this.nodes[0]) {
          this.modifyPopupTitle = "properties";
          this.popup = "MODIFYNODE";
          useUiStateStore().isPopupOpen = true;
        }
      });
    },
    openSendMail() {
      if (this.files.length > 0) {
        this.popup = "SENDMAIL";
        useUiStateStore().isPopupOpen = true;
      }
    },
    openMembers() {
      this.popup = "MEMBERS";
      useUiStateStore().isPopupOpen = true;
    },
    hasRequiredOperationsForOwner() {
      const requiredOperations = ["update", "delete", "updatePermissions"];
      return this.nodes.every((node) => {
        if (!node.allowableOperations) {
          return false;
        }
        return requiredOperations.every((operation) =>
          node.allowableOperations.includes(operation),
        );
      });
    },
    openCreateWorkflow() {
      if (this.files.length === 1 && this.folders.length === 0) {
        useUiStateStore().isPopupOpen = true;
        this.popup = "WORKFLOW";
      }
    },
  },
  computed: {
    ...mapState(useSelectionStore, ["files", "folders", "nodes"]),
    ...mapState(useScreenStore, ["isSmallScreen"]),
    ...mapState(useNavigationStore, ["isInUserHome"]),
    hasParamVersionId() {
      return (
        this.$route.params.versionId !== null &&
        this.$route.params.versionId !== undefined
      );
    },
    isDownloadDisable() {
      return (
        this.hasParamVersionId ||
        this.folders.length > 0 ||
        this.files.length < 1
      );
    },
    isFirstSelectedFileMedia() {
      return (
        this.files[0].content.mimeType.startsWith("image/") ||
        this.files[0].content.mimeType.startsWith("video/")
      );
    },
    isOpenVisible() {
      return (
        (this.files.length > 0 && this.folders.length === 0) ||
        (this.folders.length > 0 && this.files.length === 0)
      );
    },
    isFileModifyVisible() {
      const file = this.files[0];
      if (file && file.allowableOperations) {
        return (
          file.allowableOperations.includes("update") &&
          this.files.length === 1 &&
          this.folders.length === 0
        );
      }
      return false;
    },
    isFolderModifyVisible() {
      const folder = this.folders[0];
      if (folder && folder.allowableOperations) {
        return (
          folder.allowableOperations.includes("update") &&
          this.files.length === 0 &&
          this.folders.length === 1
        );
      }
      return false;
    },
    isOpenSendMailVisible() {
      return this.files.length === 1 && this.folders.length === 0;
    },
    isDisabled() {
      return (
        this.hasParamVersionId ||
        !(this.files.length >= 1 || this.folders.length >= 1)
      );
    },
    isMoveOrDeleteDisable() {
      return (
        this.hasParamVersionId ||
        !(this.files.length >= 1 || this.folders.length >= 1) ||
        !this.hasRequiredOperationsForOwner()
      );
    },
    isOneElementSelected() {
      return (
        (this.files.length === 1 && !this.folders.length) ||
        (this.folders.length === 1 && !this.files.length)
      );
    },
    isOneFileSelected() {
      return this.files.length === 1 && this.folders.length === 0;
    },
    isInConsultationPage() {
      return this.$route.name.startsWith("consultation");
    },
  },
};
</script>
