<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="flex publicationZone">
    <Button
      class="simple"
      type="button"
      icon="ri-share-line"
      v-tooltip="$t('publish')"
      :disabled="!canShareLink"
      @click="openShareLink(selectionStore.files[0])"
      rounded
      text
      severity="secondary"
    />
    <Button
      class="simple"
      type="button"
      icon="ri-link"
      v-tooltip="$t('copyLink')"
      @click="copyInternLink"
      rounded
      text
      severity="secondary"
    />
  </div>
  <ShareLinkPopup
    v-if="popup === 'SHARELINK'"
    :node="shareLinkItem"
    @close="closePopup"
  />
</template>

<script>
import { useSelectionStore } from "@pristy/pristy-libvue";
import ShareLinkPopup from "@/components/popup/ShareLinkPopup.vue";
import actionsService from "@/services/ActionsService.js";
import { useUiStateStore } from "@/stores/UiStateStore.js";

export default {
  name: "ZonePublication",
  components: {
    ShareLinkPopup,
  },
  emits: ["reload"],
  data() {
    return {
      popup: null,
      files: [],
      folders: [],
      shareLinkItem: null,
      selectionStore: null,
    };
  },
  created() {
    this.selectionStore = useSelectionStore();
  },
  methods: {
    copyInternLink() {
      const link = actionsService.getCurrentLocationInternLink();
      navigator.clipboard
        .writeText(link)
        .then(() => {
          this.$toast.add({
            severity: "success",
            summary: this.$t("share.copyLinkToastSummary"),
            detail: this.$t("share.copyLinkToastDetail"),
            life: 3000,
          });
        })
        .catch(() => {
          this.$toast.add({
            severity: "error",
            summary: this.$t("share.copyLinkErrorSummary"),
            detail: this.$t("share.copyLinkErrorDetail"),
            life: 3000,
          });
        });
    },
    closePopup(reload) {
      useUiStateStore().isPopupOpen = false;
      this.popup = null;
      if (reload) {
        this.$emit("reload");
      }
    },
    openShareLink(item) {
      if (item) {
        useUiStateStore().isPopupOpen = true;
        this.shareLinkItem = item;
        this.popup = "SHARELINK";
      }
    },
  },
  computed: {
    hasParamVersionId() {
      return (
        this.$route.params.versionId !== null &&
        this.$route.params.versionId !== undefined
      );
    },
    canShareLink() {
      return (
        this.selectionStore.files.length === 1 &&
        this.selectionStore.nodes.length === 1
      );
    },
  },
};
</script>
<style scoped>
.publicationZone {
  margin-left: auto;
}
</style>
