<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <Button
    icon="ri-close-line"
    class="close-button"
    @click="close"
    v-tooltip.bottom="$t(`close`)"
    outlined
    text
    severity="secondary"
    autofocus="false"
  />
  <TabView id="zoneInformation" class="tabview" v-if="node">
    <TabPanel :header="$t(`properties`)">
      <div id="voletDetails">
        <div class="flex-wrap inline-flex">
          <h4>{{ $t("metadata") }}</h4>
          <Button
            v-if="canEdit"
            icon="ri-pencil-line"
            severity="primary"
            text
            size="large"
            @click="openModify(node)"
          />
          <Button
            v-else-if="node.nodeType !== `st:site`"
            class="seeProperiesButton"
            icon="ri-information-line"
            severity="primary"
            text
            size="large"
            @click="openModify(node)"
          />
        </div>
        <FileDetailsItem :node="node" />
        <ConfirmDialog group="positionDialog" v-if="canEdit">
          <template #message="slotProps">
            <div class="flex p-4">
              <i :class="slotProps.message.icon" style="font-size: 1.5rem" />
              <pre class="pl-2" style="font-family: inherit">{{
                slotProps.message.message
              }}</pre>
            </div>
          </template>
        </ConfirmDialog>
        <div class="flex-wrap flex-column" v-if="aspects.length > 0">
          <hr />
          <h4>{{ $t("aspects") }}</h4>

          <MultiSelect
            v-if="canEdit"
            v-model="selectedAspects"
            :options="aspects"
            optionLabel="title"
            placeholder="Select Aspect"
            :maxSelectedLabels="3"
            class="w-full md:w-20rem"
            display="chip"
            :showToggleAll="false"
            @change="changeAspects"
          />
          <div v-else>
            <Chip
              v-for="asp in selectedAspects"
              :key="asp.id"
              :label="asp.title"
            />
          </div>
        </div>
      </div>
    </TabPanel>
    <TabPanel v-if="isFile" :header="$t(`versions`)">
      <div id="historyVersion">
        <h4>{{ $t(`versionsTitle`) }}</h4>
        <div v-if="today.length > 0">
          <ListVersions
            :currentNode="node"
            :title="$t(`today`)"
            :versions="today"
            :lastVersion="lastVersion"
            @revertVersion="loadVersions"
          />
        </div>
        <div v-if="before.length > 0">
          <ListVersions
            :currentNode="node"
            :title="$t(`before`)"
            :versions="before"
            :lastVersion="lastVersion"
            @revertVersion="loadVersions"
          />
        </div>
      </div>
    </TabPanel>
  </TabView>
  <ModifyNodePopup
    v-if="popup === 'MODIFY'"
    :node="modifyNodeItem"
    :popupTitle="modifyPopupTitle"
    @close="closePopup"
  />
</template>
<script>
import {
  alfrescoNodeService,
  useConfigStore,
  useSelectionStore,
} from "@pristy/pristy-libvue";
import ListVersions from "@/components/ListVersions.vue";
import FileDetailsItem from "@/components/FileDetailsItem.vue";
import ModifyNodePopup from "@/components/popup/ModifyNodePopup.vue";
import { fieldlabel } from "@/services/TranslationService";
import { useUiStateStore } from "@/stores/UiStateStore.js";

export default {
  name: "ZoneInformation",
  props: {
    node: {
      type: Object,
      default: () => {},
    },
    canEdit: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["reload", "close"],
  components: {
    ListVersions,
    FileDetailsItem,
    ModifyNodePopup,
  },
  data() {
    return {
      versions: [],
      today: [],
      before: [],
      lastVersion: "",
      popup: null,
      modifyNodeItem: null,
      selectedAspects: [],
      hideAspects: [],
      aspects: [],
      modifyPopupTitle: "",
    };
  },
  created() {
    if (this.node?.isFile) {
      this.loadVersions();
      this.lastVersion = this.node.properties
        ? this.node.properties["cm:versionLabel"]
        : "";
    }
    this.loadAspects();
  },
  watch: {
    node(newNode) {
      if (newNode?.isFile) {
        this.loadVersions();
        this.loadAspects();
      }
    },
  },
  methods: {
    fieldlabel,
    closePopup(reload) {
      useUiStateStore().isPopupOpen = false;
      this.popup = null;
      if (reload) {
        this.$emit("reload");
      }
    },
    openModify(item) {
      if (item) {
        useUiStateStore().isPopupOpen = true;
        useSelectionStore().selectSingleNode(item);
        this.modifyNodeItem = item;
        this.modifyPopupTitle = "properties";
        this.popup = "MODIFY";
      }
    },
    close() {
      this.$emit("close");
    },
    loadVersions() {
      this.versions = [];
      this.today = [];
      this.before = [];
      alfrescoNodeService.listNodeVersionHistory(this.node.id).then((data) => {
        data.list.entries.forEach((version) => {
          this.versions.push(version);
        });
        let currentDate = new Date();
        this.versions.forEach((version) => {
          let dateToCheck = version.entry.modifiedAt;
          if (dateToCheck.toDateString() === currentDate.toDateString()) {
            this.today.push(version);
          } else {
            this.before.push(version);
          }
        });

        if (this.versions.length > 0) {
          this.lastVersion = this.versions[0].entry.id;
        }
      });
    },
    toLocaleDateString(datestr) {
      if (!datestr) {
        return "";
      }
      let date = new Date(datestr);
      return new Intl.DateTimeFormat("fr-FR").format(date);
    },
    loadAspects() {
      if (this.node) {
        const config = useConfigStore();
        this.aspects = config.ASPECTS;
        if (this.node.aspectNames) {
          this.selectedAspects = this.node.aspectNames
            .filter((asp) => config.ASPECTS.find((sAsp) => asp === sAsp.id))
            .map((asp) => {
              return config.ASPECTS.find((sAsp) => asp === sAsp.id);
            });
          this.hideAspects = this.node.aspectNames.filter(
            (asp) => !this.selectedAspects.find((sAsp) => asp === sAsp.id),
          );
        } else {
          this.selectedAspects = [];
          this.hideAspects = [];
        }
      }
    },
    defineAspects() {
      const config = useConfigStore();
      let aspectsNode = this.selectedAspects.map((asp) => asp.id);
      const opts = { aspectNames: [...this.hideAspects, ...aspectsNode] };
      let msg =
        "Etes-vous sur de vouloir changer\nles aspects de cet élément ?\n";
      for (let idx in opts.aspectNames) {
        let aspid = opts.aspectNames[idx];
        let asp = config.ASPECTS.find((asp) => asp.id === aspid);
        if (asp) {
          msg += "\n" + this.fieldlabel(asp);
        }
      }
      this.$confirm.require({
        group: "positionDialog",
        message: msg,
        header: "Need Confirmation",
        icon: "ri-information-line",
        position: "right",
        accept: () => {
          alfrescoNodeService
            .updateNode(this.node.id, opts)
            .then(() => {
              this.$toast.add({
                severity: "info",
                summary: "Confirmed",
                detail: "Aspect deleted",
                life: 3000,
              });
              this.$emit("reload");
              const updatedNode = { ...this.node };
              if (this.node.aspectNames.length < opts.aspectNames.length) {
                updatedNode.aspectNames = opts.aspectNames;
                this.openModify(updatedNode);
              }
            })
            .catch((err) => {
              console.error("updateNode", err);
              this.$toast.add({
                severity: "error",
                summary: "Error",
                detail: err.detail,
                life: 3000,
              });
              this.$emit("reload");
            });
        },
        reject: () => {
          this.loadAspects();
        },
      });
    },
    changeAspects() {
      this.defineAspects();
    },
  },
  computed: {
    isFile() {
      return this.node?.isFile;
    },
  },
};
</script>

<style lang="scss" scoped>
.seeProperiesButton {
  margin-top: -1rem;
}
.tabview {
  max-width: 33vw;
}

.flex-gap-metadata-pen > h4 {
  margin: {
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
  }
}

#zoneInformation {
  position: sticky;
  top: 0;
}

.close-button {
  position: absolute;
  right: 2.5rem;
  z-index: 990;
  margin-top: 0.2rem;
}

.md-value {
  overflow-wrap: break-word;
}
</style>
