<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div class="w-full p-0">
    <div v-if="isSmallScreen">
      <ZoneRecherche
        v-if="searchZone"
        :workspace="workspace"
        :currentNode="currentNode"
      />
      <div v-if="!isInUserHome">
        <BreadCrumbAlfresco
          :model="currentNode.path.elements"
          :currentNode="currentNode"
          :isInSearch="false"
          @reload="reloadData"
          v-if="showBreadcrumbAlfrescoWhenSmallScreen"
        />
        <EllipsisBreadcrumb
          :model="currentNode.path.elements"
          :currentNode="currentNode"
          :isInSearch="false"
          @reload="reloadData"
          v-else
        />
      </div>
      <div
        class="align gap-3"
        :class="{
          'mb-3': !isCollaboraPage,
          '-mt-4': isCollaboraPage && screenWidth <= zoneInfoBreakPoint,
          'mt-1': isCollaboraPage && screenWidth > zoneInfoBreakPoint,
        }"
      >
        <ZoneBadges :workspace="workspace" />
        <p
          class="flex-grow-1 flex align-items-center justify-content-center text-2xl"
          v-if="isCollaboraPage"
        >
          {{ currentNode.name }}
        </p>
        <ZonePublication @reload="reloadData" />
        <ZoneActions
          :canUpload="canUpload"
          @reload="reloadData"
          :currentNode="currentNode"
          @message="emitMessage"
        />
      </div>
    </div>
    <div class="w-full" v-else>
      <div
        v-if="
          !isSmallScreen &
            (isStaticMenuDisplayed &&
              screenWidth <= actionZoneBreakPointWithMenu) ||
          !isSmallScreen &
            (!isStaticMenuDisplayed &&
              screenWidth <= actionZoneBreakPointWithoutMenu)
        "
      >
        <ZoneRecherche
          v-if="
            searchZone &&
            (isSmallScreen ||
              (isStaticMenuDisplayed && screenWidth <= searchBarBreakPoint))
          "
          :workspace="workspace"
          :currentNode="currentNode"
        />
        <div class="flex">
          <div v-if="!isInUserHome">
            <EllipsisBreadcrumb
              :model="currentNode.path.elements"
              :currentNode="currentNode"
              :isInSearch="false"
              @reload="reloadData"
              v-if="showBreadCrumbEllipsis"
            />
            <BreadCrumbAlfresco
              :model="currentNode.path.elements"
              :currentNode="currentNode"
              :isInSearch="false"
              @reload="reloadData"
              v-else
            />
          </div>
          <div
            class="flex-grow-1 h-3rem flex"
            v-if="
              searchZone &&
              !(isStaticMenuDisplayed && screenWidth <= searchBarBreakPoint)
            "
          >
            <ZoneRecherche
              :workspace="workspace"
              :currentNode="currentNode"
              class="flex align-items-center justify-content-center"
            />
          </div>
        </div>
      </div>
      <div
        class="flex flex-row align-items-center"
        :class="screenWidth <= zoneInfoBreakPoint ? '-mt-3' : 'mt-2'"
      >
        <div class="flex-grow-0">
          <ZoneBadges :workspace="workspace" />
        </div>
        <div
          class="flex-grow-1"
          style="min-width: 10rem"
          v-if="currentNode && currentNode.path"
        >
          <div v-if="!isInUserHome">
            <div
              v-if="
                (isStaticMenuDisplayed &&
                  screenWidth > actionZoneBreakPointWithMenu) ||
                (!isStaticMenuDisplayed &&
                  screenWidth > actionZoneBreakPointWithoutMenu)
              "
            >
              <EllipsisBreadcrumb
                :model="currentNode.path.elements"
                :currentNode="currentNode"
                :isInSearch="false"
                @reload="reloadData"
                v-if="showBreadCrumbEllipsis"
              />
              <BreadCrumbAlfresco
                :model="currentNode.path.elements"
                :currentNode="currentNode"
                :isInSearch="false"
                @reload="reloadData"
                v-else
              />
            </div>
          </div>
        </div>
        <p
          class="flex-grow-1 flex align-items-center justify-content-center text-2xl"
          v-if="isCollaboraPage"
        >
          {{ currentNode.name }}
        </p>
        <div class="flex-grow-1 h-3rem">
          <ZoneRecherche
            v-if="
              searchZone &&
              ((isStaticMenuDisplayed &&
                screenWidth > actionZoneBreakPointWithMenu) ||
                (!isStaticMenuDisplayed &&
                  screenWidth > actionZoneBreakPointWithoutMenu))
            "
            :workspace="workspace"
            :currentNode="currentNode"
          />
        </div>
        <div>
          <ZonePublication @reload="reloadData" />
        </div>
        <div class="flex" style="justify-content: right">
          <ZoneActions
            :canUpload="canUpload"
            @reload="reloadData"
            :currentNode="currentNode"
            @message="emitMessage"
          />
        </div>
        <div class="flex flex-grow-0">
          <slot />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ZoneBadges from "@/components/ZoneBadges.vue";
import ZoneRecherche from "@/components/ZoneRecherche.vue";
import ZoneActions from "@/components/ZoneActions.vue";
import ZonePublication from "@/components/ZonePublication.vue";
import BreadCrumbAlfresco from "@/components/BreadCrumbAlfresco.vue";
import EllipsisBreadcrumb from "@/components/EllipsisBreadcrumb.vue";
import { mapState } from "pinia";
import { useScreenStore } from "@/stores/ScreenStore.js";
import { useNavigationStore } from "@pristy/pristy-libvue";
import { useUiStateStore } from "@/stores/UiStateStore.js";

export default {
  name: "ZoneInfo",
  components: {
    EllipsisBreadcrumb,
    BreadCrumbAlfresco,
    ZoneBadges,
    ZoneRecherche,
    ZoneActions,
    ZonePublication,
  },
  emits: ["reload", "message"],
  props: {
    currentNode: null,
    workspace: null,
    canUpload: {
      type: Boolean,
      default: false,
    },
    searchZone: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    reloadData() {
      this.$emit("reload");
    },
    emitMessage(message) {
      this.$emit("message", message);
    },
  },
  computed: {
    ...mapState(useScreenStore, [
      "isSmallScreen",
      "isVerySmallScreen",
      "screenWidth",
    ]),
    ...mapState(useNavigationStore, ["isInConsultation", "isInUserHome"]),
    ...mapState(useUiStateStore, [
      "actionZoneBreakPointWithMenu",
      "actionZoneBreakPointWithoutMenu",
      "searchBarBreakPoint",
      "isStaticMenuDisplayed",
      "zoneInfoBreakPoint",
    ]),
    isCollaboraPage() {
      return this.$route.name.startsWith("edit-collabora");
    },
    showBreadcrumbAlfrescoWhenSmallScreen() {
      const elements = this.currentNode.path.elements;
      if (this.isInConsultation) {
        return (
          elements.length === 3 ||
          (!this.isVerySmallScreen && elements.length <= 6)
        );
      } else {
        return (
          elements.length === 3 ||
          (!this.isVerySmallScreen && elements.length <= 5)
        );
      }
    },
    showBreadCrumbEllipsis() {
      const elements = this.currentNode.path.elements;
      if (this.isInConsultation) {
        return elements.length > 6;
      } else {
        return elements.length > 5;
      }
    },
  },
};
</script>
