<!--
  Copyright (C) 2022 - Jeci SARL - https://jeci.fr

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see https://www.gnu.org/licenses/agpl-3.0.html.
-->
<template>
  <div
    class="zone-recherche"
    :class="{
      'w-full': zoneRechercheClass,
    }"
  >
    <IconField iconPosition="left">
      <InputIcon class="ri-search-line" @click="search(searchInput)" />
      <InputText
        v-model="searchInput"
        @keyup.enter="search(searchInput)"
        @change="change(searchInput)"
        class="w-full"
        :class="{
          'w-20rem': screenWidth > searchBarBreakPoint,
        }"
        :placeholder="$t('searchFromThisLocation')"
      />
    </IconField>
  </div>
</template>

<script>
import { useNavigationStore, useSearchStore } from "@pristy/pristy-libvue";
import { mapState } from "pinia";
import { useScreenStore } from "@/stores/ScreenStore.js";
import { useUiStateStore } from "@/stores/UiStateStore.js";

export default {
  name: "ZoneRecherche",
  props: {
    workspace: null,
    currentNode: null,
  },
  data() {
    return {
      searchInput: null,
    };
  },
  methods: {
    change(value) {
      if (value === "") {
        this.clearSearch();
      }
    },
    search(value) {
      if (value != null) {
        const searchStore = useSearchStore();
        searchStore.userQuery = value;
        let routing = {};
        if (this.isInUserHome) {
          routing = {
            name: "recherche",
            query: {
              search: value,
            },
          };
        } else {
          routing = {
            name: "recherche",
            query: {
              search: value,
              filter_site: this.workspace.id,
            },
          };
        }
        if (this.currentNode && this.currentNode.name !== "documentLibrary") {
          routing.query.filter_folder = this.currentNode.id;
        }
        this.$router.push(routing);
      }
    },
    clearSearch() {
      this.searchInput = null;
      /* reloadData */
    },
  },
  computed: {
    ...mapState(useScreenStore, ["isSmallScreen", "screenWidth"]),
    ...mapState(useNavigationStore, ["isInUserHome"]),
    ...mapState(useUiStateStore, [
      "actionZoneBreakPointWithMenu",
      "actionZoneBreakPointWithoutMenu",
      "isStaticMenuDisplayed",
      "searchBarBreakPoint",
    ]),
    zoneRechercheClass() {
      return {
        "w-full":
          !this.isSmallScreen ||
          (this.isStaticMenuDisplayed &&
            this.screenWidth > this.actionZoneBreakPointWithMenu) ||
          (!this.isStaticMenuDisplayed &&
            this.screenWidth > this.actionZoneBreakPointWithoutMenu),
      };
    },
  },
};
</script>
